@import 'cwel/style/main';
@import '../../shared/asset/style/block';

/*
Things to test:
- changing root fonts on different breakpoints
    - do spacers change, too -- yes
    - do breakpoints change, too -- no
    - do container widths change, too -- yes
- different browser font-sizes
    - do spacers change, too -- yes
    - do breakpoints change, too -- yes
    - do container widths change, too -- yes
- crossbrowser differences
    - rem units -- no differences found
    - breakpoints with ems -- no differences found

Things to consider:
- how would you design with spacers
  based on rem units
  - would changing root font sizes require changing rem units
    for containers and spacers?
    - containers -- yes cause they have to match breakpoints, which don't change based on root font size
    - spacers -- no cause they don't have to match breakpoints
*/

body {
    transition: font-size 1s;
}

.section {
    padding-top: $s_md;
    padding-bottom: $s_md;
}

.spacer {
    position: relative;
    margin-bottom: 2rem;
    background-color: #04a9a1;

    &--xxs {
        width: $s_xxs;
        height: $s_xxs;

        &::after {
            content: 'xxs 0.4rem';
            position: relative;
            margin-left: $s_xxs + 1rem;
            white-space: nowrap;
        }
    }

    &--xs {
        width: $s_xs;
        height: $s_xs;

        &::after {
            content: 'xs 0.8rem';
            position: relative;
            margin-left: $s_xs + 1rem;
            white-space: nowrap;
        }
    }

    &--s {
        width: $s_sm;
        height: $s_sm;

        &::after {
            content: 's 1.6rem';
            position: relative;
            margin-left: $s_sm + 1rem;
            white-space: nowrap;
        }
    }

    &--m {
        width: $s_md;
        height: $s_md;

        &::after {
            content: 'm 3.2rem';
            position: relative;
            margin-left: $s_md + 1rem;
            white-space: nowrap;
        }
    }

    &--l {
        width: $s_lg;
        height: $s_lg;

        &::after {
            content: 'l 6.4rem';
            position: relative;
            margin-left: $s_lg + 1rem;
            white-space: nowrap;
        }
    }

    &--xl {
        width: $s_xl;
        height: $s_xl;

        &::after {
            content: 'xl 12.8rem';
            position: relative;
            margin-left: $s_xl + 1rem;
            white-space: nowrap;
        }
    }
}

.text-sample {
    margin-bottom: $s_md;
    padding: $s_md;
    border: 0.1rem solid #efefef;
}

.text-sample__text {
    margin-top: 0;
    margin-bottom: 0;
}

.hero {
    max-width: 100%;
    margin-bottom: $s_md;
    padding: $s_lg;
    border: 0.1rem solid #efefef;

    &--fixed {
        width: 45rem;
    }
}

.hero__title {
    margin: 0;
    font-size: 2rem;
}

.container-test {
    position: relative;
    margin-bottom: $s_md;
}

.container-test .block::after {
    content: 'container 100%';
    position: absolute;
    top: 0;
    left: 0;

    @include breakpoint('lg') {
        content: 'container #{$cntr_w_lg}';
    }

    @include breakpoint('xl') {
        content: 'container #{$cntr_w_xl}';
    }
}

.preview {
    width: 100%;
}
