
.cssst-heading--anchored {
    position: relative; // Required for absolute positioning of `.cssst-heading__icon`
}

.cssst-heading--anchored:focus .cssst-heading__icon,
.cssst-heading--anchored:hover .cssst-heading__icon {
    opacity: 0.25
}

.cssst-heading__icon {
    position: absolute;
    top: 50%;
    right: 100%;
    display: block;
    padding: $SPACE-S;
    padding-right: $SPACE-XS;
    transform: translateY(-50%);
    opacity: 0;

    &:active,
    &:focus,
    &:hover,
    &:link,
    &:visited {
        color: #444;
        text-decoration: none;
    }
}

.cssst-heading--anchored .cssst-heading__icon:focus,
.cssst-heading--anchored .cssst-heading__icon:hover {
    opacity: 0.75;
}
