@import 'cwel/style/main';

.image-container {
    position: relative;
    width: 30rem;
    height: 20rem;
    background: #333333;
}
.image-container--large {
    position: relative;
    width: 60rem;
    height: 40rem;
    background: #333333;
}
.image-container_image {
    position: absolute;
    height: 100%;
    max-width: 100%;
}
