
@mixin line-height($options: ()) {
    $font-size: map-get($options, 'font-size');
    $leading: map-get($options, 'leading');

    line-height: ($leading / $font-size);
}

@mixin normalized-line-height($options: ()) {
    $font-size: map-get($options, 'font-size');
    $leading: map-get($options, 'leading');
    $leading-compensation: ($leading - $font-size) / 2;
    $margin-top: -($leading-compensation);

    margin-top: #{$margin-top}rem;
    margin-bottom: #{$margin-top}rem;
    @include line-height((
        font-size: $font-size,
        leading: $leading
    ));
}
