$external-hook: 'foo-bar';

@each $item in $array-to-list {
    .foo--#{$item} {
        content: '#{$item}';
        color: #fff;
    }
}

@each $foo in $array-to-list {
    .bar--#{$foo} {
        color: #000;
    }
}

.foo::before {
    content: $external-hook;
}
