{% extends '_layout.njk' %}
{% set title = 'typography' %}

{% block content %}
<main class="main container">
    <h1>Countrywide Experience Language Typography</h1>
    <p>Welcome to our style guide for CWEL typography</p>

    <ol>
        <li><a href="#headings">Headings</a></li>
        <li><a href="#paragraphs">Paragraph</a></li>
        <li><a href="#elements">Elements</a></li>
        <li><a href="#quotes">Quotes</a></li>
        <li><a href="#lists">Lists</a></li>
        <li><a href="#tables">Tables</a></li>
    </ol>

    <hr id="headings" />
    <h1>Headings and display</h1>
    <p>Headings are based off of 1rem, we only have four headings for now. h5 to h8 will be the base root size.</p>

    <h1>h1 heading<small>beta</small></h1>
    <h2>h2 heading</h2>
    <h3>h3 heading</h3>
    <h4>h4 heading</h4>

    <hr id="paragraphs" />
    <h2>2. Paragraphs and elements</h2>

    <p class="p--lead">This is a lead paragraph. We use this to get stright to the point. We have something to say and we're going to say it here.</p>

    <p>This is a standard paragraph. Puppy surprise wereunicorn puppy surprise, app rainbows kittens kittens pop delight wereunicorn pop. Wereunicorn social kittens puppy wereunicorn app pigeon, pigeon unicorn unicorn app.</p>

    <hr id="paragraphs" />
    <h2>3. Elements</h2>

    <h3>Link</h3>
    <pre class="line-numbers language-markup"><code>&lt;a href="#quotes">quotes section&lt;/a></code></pre>
    <p>For an example of a link, go to the <a href="#quotes">quotes section</a></p>

    <h3>Highlighted</h3>
    <pre class="line-numbers language-markup"><code>&lt;mark>highlight&lt;/mark></code></pre>
    <p>You can use the mark tag to <mark>highlight</mark> text.</p>

    <h3>Strikethrough</h3>
    <pre class="line-numbers language-markup"><code>&lt;del>This line of text is meant to be treated as deleted text.&lt;/del></code></pre>
    <p><del>This line of text is meant to be treated as deleted text.</del></p>

    <h3>Additions</h3>
    <pre class="line-numbers language-markup"><code>&lt;ins>This line of text is meant to be treated as an addition to the document.&lt;/ins> </code></pre>
    <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>

    <h3>Underlined</h3>
    <pre class="line-numbers language-markup"><code>&lt;u>This line of text will render as underlined&lt;/u> </code></pre>
    <p><u>This line of text will render as underlined</u></p>

    <h3>Superscript</h3>
    <pre class="line-numbers language-markup"><code>We're now going to have awesome &lt;sup>Superscript&lt;/sup> </code></pre>
    <p>We're now going to have awesome <sup>Superscript</sup></p>

    <h3>Small print</h3>
    <pre class="line-numbers language-markup"><code>&lt;small>This line of text is meant to be treated as fine print.&lt;/small> </code></pre>
    <p><small>This line of text is meant to be treated as fine print.</small></p>

    <h3>Bold/Strong</h3>
    <pre class="line-numbers language-markup"><code>&lt;strong>This line rendered as bold text.&lt;/strong> </code></pre>
    <p><strong>This line rendered as bold text.</strong></p>

    <h3>Italic</h3>
    <pre class="line-numbers language-markup"><code>&lt;em>This line rendered as italicized text.&lt;/em> </code></pre>
    <p><em>This line rendered as italicized text.</em></p>

    <h3>Abbreviations</h3>
    <pre class="line-numbers language-markup"><code>&lt;abbr title="HyperText Markup Language">HTML&lt;/abbr></code></pre>
    <p><abbr title="HyperText Markup Language">HTML</abbr></p>

    <h3>Inline image</h3>
    <pre class="line-numbers language-markup"><code>
        &lt;p>This is a paragraph with an inline icon&lt;svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"> &lt;style type="text/css"> .st0{fill:none;stroke:#3B3E4B;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .st1{fill:none;} &lt;/style> &lt;line id="Line_1415_1_" class="st0" x1="-5" y1="1" x2="-19" y2="15"/> &lt;line id="Line_1416_1_" class="st0" x1="-5" y1="15" x2="-19" y2="1"/> &lt;rect x="-19" y="1" class="st1" width="14" height="14"/> &lt;g> &lt;rect x="1" y="2" class="st1" width="14" height="14"/> &lt;polyline class="st0" points="15,2 5.3,11.7 1,7.3 "/> &lt;/g> &lt;/svg>&lt;/p>
    </code></pre>
    <p>This is a paragraph with an inline icon
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.51 43.52"><defs><style>.cls-1{fill:#393f57;}</style></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M25.25,25.24A13.39,13.39,0,1,0,13,25.32,19.28,19.28,0,0,0,0,43.52H2.5A16.77,16.77,0,0,1,19.26,26.77h0A16.78,16.78,0,0,1,36,43.52h2.5A19.28,19.28,0,0,0,25.25,25.24ZM8.18,13.38a10.88,10.88,0,0,1,21.2-3.44A4,4,0,0,1,28.14,13a8.3,8.3,0,0,1-5.09,1.63,2.55,2.55,0,1,0,0,2.5c2-.08,4.83-.54,6.75-2.28l0,0A10.88,10.88,0,0,1,8.18,13.38Z"/></g></g></svg>
    </p>

    <hr id="quotes" />

    <h2>4. Block quote</h2>
    <blockquote>
        <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
        <footer>From WWF's website</footer>
    </blockquote>

    <pre class="line-numbers language-markup">
        <code>
            &lt;blockquote>
            &lt;p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.&lt;/p>
            &lt;footer>From WWF's website &lt;/footer>
            &lt;/blockquote>
        </code>
    </pre>


    <hr id="lists" />

    <h2>5. List items</h2>

    <h3>UL - Ordered list</h3>
    <p>Will normally fall under a paragraph</p>
    <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit
            <ul>
                <li>Phasellus iaculis neque</li>
                <li>Purus sodales ultricies</li>
                <li>Vestibulum laoreet porttitor sem</li>
                <li>Ac tristique libero volutpat at
                    <ul>
                        <li>Phasellus iaculis neque</li>
                        <li>Purus sodales ultricies</li>
                        <li>Vestibulum laoreet porttitor sem</li>
                        <li>Ac tristique libero volutpat at</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
    </ul>

    <h3>OL - Ordered list</h3>
    <p>Will normally fall under a paragraph</p>
    <ol>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit</li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
    </ol>

    <hr id="tables" />
    <h2>6. Tables</h2>

    <h3>With border</h3>
    <table>
        <thead>
            <tr>
                <th>Table heading</th>
                <th>Table heading</th>
                <th>Table heading</th>
                <th>Table heading</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
            </tr>
            <tr>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
            </tr>
            <tr>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
            </tr>
        </tbody>
    </table>
</main>
{% endblock %}
