{% extends '_layout.njk' %}
{% set title = 'typography' %}

{% block content %}
<main class="main container">
    <h1 class="main__title">Typography</h1>

    <p>[Begin Latin class]</p>

    <section class="section section--typography">
        <h1 title="Heading 1">Conubia morbi in etiam <a href="#">rutrum scelerisque elementum</a> a etiam</h1>
        <p class="lead" title="Lead Paragraph">Odio vestibulum lacinia <strong>curabitur laoreet faucibus</strong> vestibulum rhoncus tempus luctus senectus eu a suspendisse quisque aliquet. Lacus himenaeos sem mi curae nam molestie pharetra sodales quis neque parturient lorem tempus parturient dolor venenatis platea parturient a ullamcorper. Nam scelerisque duis facilisi fames vitae dui aliquam curae cursus molestie a adipiscing a sociis vestibulum et a pharetra a est ullamcorper ad per magna a <a href="#">accumsan potenti</a>. Feugiat in cras scelerisque augue condimentum phasellus mus nisl consectetur etiam suscipit platea neque phasellus curabitur varius ullamcorper volutpat sed eu nisl a est consectetur amet <a href="#">scelerisque sem inceptos</a>.</p>
        <p title="Paragraph">Donec a id dictum ut vestibulum condimentum per adipiscing a praesent mauris habitasse metus adipiscing. Convallis ut ut suspendisse a suspendisse dolor semper auctor consequat ullamcorper adipiscing consequat parturient parturient a leo per diam a phasellus lobortis enim a. Fringilla netus consectetur fringilla suscipit a sem vel consectetur consectetur <i>purus vestibulum vestibulum</i> vestibulum vulputate erat venenatis mus scelerisque sem a sed dapibus a <a href="#">parturient condimentum</a>. Gravida adipiscing hendrerit iaculis curabitur interdum ullamcorper mattis adipiscing sit a cum nec sem rhoncus fermentum. Suspendisse nunc suspendisse ipsum nascetur sapien condimentum odio dis quis a dui consequat quis scelerisque semper varius et <a href="#">leo amet parturient</a>.</p>
        <p title="Paragraph">Ut vehicula ipsum id nibh ultricies, nec gravida erat aliquet. Donec vel pulvinar erat. In non scelerisque turpis. Vestibulum vulputate ultricies lacus, sit amet malesuada velit fermentum quis. Nunc blandit congue augue quis placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut nisl erat, maximus pellentesque eleifend in, ultrices vitae ligula.</p>
        <blockquote title="Blockquote">Aenean rhoncus odio non est suscipit eleifend. Curabitur quis arcu mi. Nulla laoreet dictum scelerisque. Fusce fringilla commodo nulla a fermentum. In non turpis a est malesuada vulputate. Sed ut hendrerit justo. Praesent quis fringilla augue, <a href="#">sit amet pretium libero</a>. Nulla venenatis nunc eu arcu tempus, ac dictum magna ornare. Nam condimentum porttitor purus, ut elementum elit placerat in.</blockquote>
        <p title="Paragraph">Pellentesque sed euismod lorem. Ut lobortis purus in purus malesuada cursus. Morbi pellentesque tellus nulla, sit amet varius ex luctus quis. In lacinia velit a metus scelerisque, eu rhoncus orci iaculis. Fusce lobortis leo velit, placerat facilisis sapien dapibus id. Sed ante nunc, sollicitudin eget ornare eget, consectetur nec libero. Maecenas eget urna eget quam dignissim cursus sit amet eget neque. Pellentesque efficitur ex mollis, rutrum metus iaculis, efficitur sapien.</p>
        <p title="Paragraph">Donec quis semper tellus. Suspendisse potenti. Orci varius natoque penatibus et <a href="#">magnis</a> dis parturient montes, nascetur ridiculus mus. Nunc ac hendrerit mauris. Sed eleifend faucibus nunc, sit amet tincidunt risus pellentesque laoreet. Maecenas lacus ante, elementum a vehicula ac, aliquet non metus. Pellentesque ac tincidunt nibh. Proin egestas sapien sed nisi viverra finibus. Cras imperdiet arcu id dignissim convallis. Pellentesque non elementum elit, sed volutpat purus. Vestibulum ac ornare est, nec consequat leo. Curabitur aliquam, ex at sagittis vehicula, ante lectus cursus eros, non porta ex ipsum id tellus.</p>
        <h2 title="Heading 2">Bibendum ac cras</h2>
        <p title="Paragraph"><i>Proin vitae turpis gravida, molestie leo sit amet, placerat arcu. Nam feugiat felis vitae est molestie, et vehicula metus gravida. Curabitur elementum bibendum tincidunt. Nullam iaculis, magna ut ultrices cursus, velit massa lobortis eros, eu malesuada ligula neque sed purus. Maecenas in augue risus. Suspendisse est ante, finibus auctor rhoncus a, suscipit at sapien. Nulla sollicitudin id nunc et imperdiet.</i></p>
        <p title="Paragraph"><strong>Maecenas accumsan sed sem vitae semper. Fusce pulvinar nibh a est elementum maximus. Sed egestas sem ut neque scelerisque ornare. Sed vitae massa ac turpis porttitor sollicitudin. Pellentesque rhoncus fermentum eros, vitae porttitor est sodales lobortis. Ut id suscipit est. Duis nec augue id odio bibendum mollis. Donec bibendum elementum scelerisque. In auctor accumsan metus. Aliquam commodo neque eget dignissim ullamcorper. Pellentesque nec pretium erat. Curabitur dui libero, vestibulum porta neque non, semper faucibus neque. Maecenas suscipit volutpat augue, fringilla aliquam nunc lobortis vel.</strong></p>
        <p title="Paragraph">Vestibulum eu nunc faucibus, vestibulum lectus sed, egestas purus. Suspendisse sodales tellus non justo dignissim, nec tempor sapien sagittis. In hac habitasse platea dictumst. Quisque congue ac ligula vitae ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin dolor metus, rutrum eu efficitur vitae, ultrices sed est. Curabitur eget pretium tortor, in congue neque. Pellentesque facilisis ornare enim ut auctor. Integer vestibulum lectus neque, a malesuada metus porta sit amet.</p>
        <h2 title="Heading 2"><a href="#">Erat torquent quis fringilla suscipit a sem</a></h2>
        <p title="Paragraph">Aenean rhoncus odio non est suscipit eleifend. Curabitur quis arcu mi. Nulla laoreet dictum scelerisque. Fusce fringilla commodo nulla a fermentum. In non turpis a est malesuada vulputate. Sed ut hendrerit justo. Praesent quis fringilla augue, sit amet pretium libero. Nulla venenatis nunc eu arcu tempus, ac dictum magna ornare. Nam condimentum porttitor purus, ut elementum elit placerat in. Donec ac tempor felis, at consequat diam. Ut ac gravida elit, vitae dictum lorem. Fusce eget tortor placerat dui consequat facilisis ornare id sem. Curabitur elementum quam eu porttitor venenatis. Sed ac dui viverra nibh porta rutrum et ut odio. Phasellus a nulla rhoncus, eleifend felis eget, rhoncus nunc. Mauris vestibulum, erat sit amet venenatis aliquam, turpis elit blandit tellus, sit amet interdum ligula magna id leo.</p>
        <p title="Paragraph">Pulvinar cras enim condimentum vestibulum rutrum rutrum scelerisque elementum a <a href="#">etiam nullam dignissim suspendisse ornare a mi senectus montes nam phasellus nibh</a>. Vestibulum parturient porta integer a a mus ullamcorper phasellus quisque scelerisque nam eget amet blandit quam senectus mattis conubia a lacus magnis sed et.</p>
        <ul title="Unordered List">
            <li title="Unordered List Item">Vestibulum adipiscing orci augue class.</li>
            <li title="Unordered List Item">Porttitor habitasse malesuada conubia.</li>
            <li title="Unordered List Item">Neque elit a est vestibulum.</li>
        </ul>
        <p title="Paragraph">Platea erat mi parturient tempus maecenas vestibulum vestibulum aenean duis in malesuada egestas justo pharetra quam etiam sodales gravida leo parturient condimentum eu dictumst. Parturient ad commodo orci a hac ad libero ullamcorper accumsan morbi cubilia ac purus mollis gravida felis neque sit parturient.</p>
        <ul title="Unordered List">
            <li title="Unordered List Item"><a href="#">Vestibulum adipiscing orci augue class.</a></li>
            <li title="Unordered List Item">Porttitor habitasse malesuada conubia.</li>
            <li title="Unordered List Item">Neque elit a est vestibulum.</li>
            <li title="Unordered List Item">Fringilla netus consectetur fringilla suscipit a sem vel consectetur consectetur purus vestibulum vestibulum vestibulum vulputate erat venenatis mus scelerisque sem a sed dapibus a <a href="#">parturient condimentum</a>. Gravida adipiscing hendrerit iaculis curabitur interdum ullamcorper mattis adipiscing sit a cum nec sem rhoncus fermentum. Suspendisse nunc suspendisse.</li>
            <li title="Ordered List Item">Adipiscing sit vulputate suspendisse diam nunc.
                <ul>
                    <li title="Unordered List Item">Id a adipiscing mus.</li>
                    <li title="Unordered List Item">Integer a vitae dis odio.
                        <ul>
                            <li title="Unordered List Item">Vestibulum adipiscing orci augue class.</li>
                            <li title="Unordered List Item">Porttitor habitasse malesuada conubia.</li>
                            <li title="Unordered List Item">Neque elit a est vestibulum.</li>
                        </ul>
                    </li>
                    <li title="Unordered List Item">Adipiscing sit vulputate suspendisse diam nunc.</li>
                </ul>
            </li>
            <li title="Unordered List Item">Ne.</li>
        </ul>
        <p title="Paragraph">Rhoncus parturient elementum a ultricies suspendisse adipiscing augue a neque ullamcorper ac id quam vestibulum dapibus et consequat netus blandit massa. Semper hac erat lacus ornare tempor condimentum facilisi eget ut ut suscipit netus ut non vulputate aliquam suspendisse habitasse. Id laoreet fringilla orci parturient sagittis aptent platea erat curabitur nisl libero a parturient pretium vel donec consectetur.</p>
        <ol title="Ordered List">
            <li title="Ordered List Item">Id a adipiscing mus.</li>
            <li title="Ordered List Item">Integer a vitae dis odio.
                <ul>
                    <li title="Unordered List Item">Id a adipiscing mus.</li>
                    <li title="Unordered List Item">Integer a vitae dis odio.
                        <ol>
                            <li title="Ordered List Item">Vestibulum adipiscing orci augue class.</li>
                            <li title="Ordered List Item">Porttitor habitasse malesuada conubia.</li>
                            <li title="Ordered List Item">Neque elit a est vestibulum.</li>
                        </ol>
                    </li>
                    <li title="Unordered List Item">Adipiscing sit vulputate suspendisse diam nunc.</li>
                </ul>
            </li>
            <li title="Ordered List Item">Adipiscing sit vulputate suspendisse diam nunc.</li>
        </ol>
        <h2 title="Heading 2">Rutrum adipiscing fermentum dis</h2>
        <p title="Paragraph">Magna ad justo suspendisse per condimentum in feugiat hac dolor suspendisse a in nisi est velit egestas a a faucibus mollis a a at. Semper cubilia adipiscing erat a lobortis ultrices enim parturient consectetur tellus orci fringilla condimentum parturient imperdiet sem. Faucibus posuere adipiscing ullamcorper justo et class nisl nullam platea a diam sit praesent tempus. Ante magna a proin ad facilisis varius in a scelerisque odio blandit adipiscing nam varius commodo euismod torquent felis ante a vestibulum ut mollis vulputate vitae inceptos vestibulum nam.</p>
        <ol title="Ordered List">
            <li title="Ordered List Item">Id a adipiscing mus.</li>
            <li title="Ordered List Item">Integer a vitae dis odio.</li>
            <li title="Ordered List Item">Adipiscing sit vulputate suspendisse diam nunc.</li>
        </ol>
        <h3 title="Heading 3">A suspendisse himenaeos convallis</h3>
        <p title="Paragraph">Ullamcorper aliquam dictumst nam ullamcorper aenean a imperdiet a mi consectetur himenaeos parturient a tortor tortor turpis ligula sem rhoncus sociosqu a varius tincidunt praesent.</p>
        <h3 title="Heading 3">Condimentum eros at quam</h3>
        <p title="Paragraph">Himenaeos ligula suspendisse lacus hac curabitur fusce rutrum purus ad eu faucibus porta a leo a conubia fusce curae leo condimentum non molestie etiam curae vestibulum nisi senectus conubia.</p>
        <h3 title="Heading 3">Consectetur dis sem</h3>
        <p title="Paragraph">Dis libero torquent ullamcorper nec interdum leo elit ad a sit pharetra a per parturient nec at risus suspendisse elit consequat vel parturient neque eleifend enim cursus.</p>
        <hr class="hr">
        <h4 title="Heading 4">Ullamcorper rhoncus vehicula et</h4>
        <p title="Paragraph">Placerat consectetur vulputate a fusce habitant libero et felis penatibus inceptos ad potenti non ullamcorper elit in a consequat.</p>
        <h4 title="Heading 4">Auctor mi sociosqu sagittis</h4>
        <p title="Paragraph">Viverra donec tempor in scelerisque a parturient pulvinar facilisi imperdiet felis vestibulum ac magna fringilla velit volutpat id.</p>
        <p title="Paragraph">Donec a id dictum ut vestibulum condimentum per adipiscing a praesent mauris habitasse metus adipiscing. Convallis ut ut suspendisse a suspendisse dolor semper auctor consequat ullamcorper adipiscing consequat parturient parturient a leo per diam a phasellus lobortis enim a. Fringilla netus consectetur fringilla suscipit a sem vel consectetur consectetur purus vestibulum vestibulum vestibulum vulputate erat venenatis mus scelerisque sem a sed dapibus a <a href="#">parturient condimentum</a>. Gravida adipiscing hendrerit iaculis curabitur interdum ullamcorper mattis adipiscing sit a cum nec sem rhoncus fermentum. Suspendisse nunc suspendisse ipsum nascetur sapien condimentum odio dis quis a dui consequat quis scelerisque semper varius et <a href="#">leo amet parturient</a>.</p>
        <p title="Paragraph">Ut vehicula ipsum id nibh ultricies, nec gravida erat aliquet. Donec vel pulvinar erat. In non scelerisque turpis. Vestibulum vulputate ultricies lacus, sit amet malesuada velit fermentum quis. Nunc blandit congue augue quis placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut nisl erat, maximus pellentesque eleifend in, ultrices vitae ligula.</p>
        <p title="Paragraph">Pellentesque sed euismod lorem. Ut lobortis purus in purus malesuada cursus. Morbi pellentesque tellus nulla, sit amet varius ex luctus quis. In lacinia velit a metus scelerisque, eu rhoncus orci iaculis. Fusce lobortis leo velit, placerat facilisis sapien dapibus id. Sed ante nunc, sollicitudin eget ornare eget, consectetur nec libero. Maecenas eget urna eget quam dignissim cursus sit amet eget neque. Pellentesque efficitur ex mollis, rutrum metus iaculis, efficitur sapien.</p>
        <h4 title="Heading 4">Accumsan suspendisse sem mauris</h4>
        <p title="Paragraph">At pretium condimentum sagittis a suspendisse quam ullamcorper dignissim ac enim feugiat est ad neque a a id penatibus himenaeos.</p>
        <h5 title="Heading 5">A suspendisse himenaeos convallis</h5>
        <p title="Paragraph">Ullamcorper aliquam dictumst nam ullamcorper aenean a imperdiet a mi consectetur himenaeos parturient a tortor tortor turpis ligula sem rhoncus sociosqu a varius tincidunt praesent.</p>
        <h5 title="Heading 5">Condimentum eros at quam</h5>
        <p title="Paragraph">Ut vehicula ipsum id nibh ultricies, nec gravida erat aliquet. Donec vel pulvinar erat. In non scelerisque turpis. Vestibulum vulputate ultricies lacus, sit amet malesuada velit fermentum quis. Nunc blandit congue augue quis placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut nisl erat, maximus pellentesque eleifend in, ultrices vitae ligula.</p>
        <p title="Paragraph">Himenaeos ligula suspendisse lacus hac curabitur fusce rutrum purus ad eu faucibus porta a leo a conubia fusce curae leo condimentum non molestie etiam curae vestibulum nisi senectus conubia.</p>
        <h6 title="Heading 6">Consectetur dis sem</h6>
        <p title="Paragraph">Ut vehicula ipsum id nibh ultricies, nec gravida erat aliquet. Donec vel pulvinar erat. In non scelerisque turpis. Vestibulum vulputate ultricies lacus, sit amet malesuada velit fermentum quis. Nunc blandit congue augue quis placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut nisl erat, maximus pellentesque eleifend in, ultrices vitae ligula.</p>
        <p title="Paragraph">Dis libero torquent ullamcorper nec interdum leo elit ad a sit pharetra a per parturient nec at risus suspendisse elit consequat vel parturient neque eleifend enim cursus.</p>
    </section>
</main>
{% endblock %}
