{% extends '_layout.njk' %}
{% set title = 'Sandbox' %}

{% block content %}
<div class="container">
    <h1>CWEL Sandbox</h1>

    <p>A place to experiment and develop things that don't fit into the component paradigm.</p>

    <h2>Components</h2>
    <ul>
        <li><a href="/component/badge">Badge</a></li>
        <li><a href="/component/button">Button</a></li>
        <li><a href="/component/card">Card</a></li>
    </ul>

    <h2>Patterns</h2>
    <ul>
        <li><a href="/pattern/card-slider">Card Slider</a></li>
    </ul>

    <h2>Prototypes</h2>
    <ul>
        <li><a href="/prototype/rem-units">Rem Units</a></li>
        <li><a href="/prototype/grid">Grid</a></li>
        <li><a href="/prototype/typography">Typography</a></li>
        <li><a href="/prototype/billboard">Billboard</a></li>
        <li><a href="/prototype/scroll-animation">Scroll Animation</a></li>
        <li><a href="/prototype/code-pen-editor">Code Pen Editor</a></li>
    </ul>
</div>
{% endblock %}
