@using Cwel.Web
@model ImageViewModel

@{
    Html.RequireScript(AssetType.Component, "Image");
}

<div class="cwel-image">
    <h1 class="cwel-image__title">Greeting</h1>
    <p class="cwel-image__text">Hello World</p>
</div>
