{% extends '_layout.njk' %}
{% set title = 'Button' %}

{% import 'cwel/component/button/button.html' as button %}

{% block content %}

     {% set config = {
            primary: {
                button: [
                    { 
                        "title" : "",
                        "tag": "a",
                        "text": "Primary button",
                        "modifier": "" 
                    }, 
                    { 
                        "title" : "- as button tag",
                        "tag": "button",
                        "text": "Primary button as button tag",
                        "modifier": "" 
                    },
                    { 
                        "title" : "- with long text",
                        "tag": "a",
                        "text": "Primary button long text example test",
                        "modifier": ""  
                    }
                ],
                buttonIcon: [
                   { 
                        "title" : "- icon left",
                        "tag": "a",
                        "text": "Primary button",
                        "modifier": "button--icon-left" 
                    },
                    { 
                        "title" : "- icon right",
                        "tag": "a",
                        "text": "Primary button",
                        "modifier": "button--icon-right" 
                    },
                    { 
                        "title" : "- icon only",
                        "tag": "a",
                        "text": "",
                        "modifier": "button--icon-only" 
                    }   
                ],
                buttonLoader: [
                    { 
                        "title" : "- loader",
                        "tag": "a",
                        "modifier": ""
                    } 
                ]
            },
            primaryOnDark: {
                button: [
                    { 
                        "title" : "",
                        "tag": "a",
                        "text": "Primary button",
                        "modifier": "button--on-dark" 
                    }, 
                    { 
                        "title" : "- as button tag",
                        "tag": "button",
                        "text": "Primary button as button tag",
                        "modifier": "button--on-dark" 
                    },
                    { 
                        "title" : "- with long text",
                        "tag": "a",
                        "text": "Primary button long text example test",
                        "modifier": "button--on-dark"  
                    }
                ],
                buttonIcon: [
                   { 
                        "title" : "- icon left",
                        "tag": "a",
                        "text": "Primary button",
                        "modifier": "button--on-dark button--icon-left" 
                    },
                    { 
                        "title" : "- icon right",
                        "tag": "a",
                        "text": "Primary button",
                        "modifier": "button--on-dark button--icon-right" 
                    },
                    { 
                        "title" : "- icon only",
                        "tag": "a",
                        "text": "",
                        "modifier": "button--on-dark button--icon-only" 
                    }   
                ],
                buttonLoader: [
                    { 
                        "title" : "- loader",
                        "tag": "a",
                        "modifier": "button--on-dark"
                    } 
                ]
            },
            primaryOnLight: {
                button: [
                    { 
                        "title" : "",
                        "tag": "a",
                        "text": "Primary button",
                        "modifier": "button--on-light" 
                    }, 
                    { 
                        "title" : "- as button tag",
                        "tag": "button",
                        "text": "Primary button as button tag",
                        "modifier": "button--on-light" 
                    },
                    { 
                        "title" : "- with long text",
                        "tag": "a",
                        "text": "Primary button long text example test",
                        "modifier": "button--on-light"  
                    }
                ],
                buttonIcon: [
                   { 
                        "title" : "- icon left",
                        "tag": "a",
                        "text": "Primary button",
                        "modifier": "button--on-light button--icon-left" 
                    },
                    { 
                        "title" : "- icon right",
                        "tag": "a",
                        "text": "Primary button",
                        "modifier": "button--on-light button--icon-right" 
                    },
                    { 
                        "title" : "- icon only",
                        "tag": "a",
                        "text": "",
                        "modifier": "button--on-light button--icon-only" 
                    }   
                ],
                buttonLoader: [
                    { 
                        "title" : "- loader",
                        "tag": "a",
                        "modifier": "button--on-light"
                    } 
                ]
            },
            secondary: {
                 button: [
                    { 
                        "title" : "",
                        "tag": "a",
                        "text": "Secondary button",
                        "modifier": "button--secondary" 
                    }, 
                    { 
                        "title" : "- as button tag",
                        "tag": "button",
                        "text": "Secondary button as button tag",
                        "modifier": "button--secondary" 
                    },
                    { 
                        "title" : "- with long text",
                        "tag": "a",
                        "text": "Secondary button long text example test",
                        "modifier": "button--secondary"  
                    }
                ],
                buttonIcon: [
                   { 
                        "title" : "- icon left",
                        "tag": "a",
                        "text": "Secondary button",
                        "modifier": "button--secondary button--icon-left" 
                    },
                    { 
                        "title" : "- icon right",
                        "tag": "a",
                        "text": "Secondary button",
                        "modifier": "button--secondary button--icon-right" 
                    },
                    { 
                        "title" : "- icon only",
                        "tag": "a",
                        "text": "",
                        "modifier": "button--secondary button--icon-only" 
                    }   
                ],
                buttonLoader: [
                    { 
                        "title" : "- loader",
                        "tag": "a",
                        "modifier": "button--secondary"
                    } 
                ]
            },
            secondaryOnDark: {
                 button: [
                    { 
                        "title" : "",
                        "tag": "a",
                        "text": "Secondary button",
                        "modifier": "button--secondary button--on-dark" 
                    }, 
                    { 
                        "title" : "- as button tag",
                        "tag": "button",
                        "text": "Secondary button as button tag",
                        "modifier": "button--secondary button--on-dark" 
                    },
                    { 
                        "title" : "- with long text",
                        "tag": "a",
                        "text": "Secondary button long text example test",
                        "modifier": "button--secondary button--on-dark"  
                    }
                ],
                buttonIcon: [
                   { 
                        "title" : "- icon left",
                        "tag": "a",
                        "text": "Secondary button",
                        "modifier": "button--secondary button--icon-left button--on-dark" 
                    },
                    { 
                        "title" : "- icon right",
                        "tag": "a",
                        "text": "Secondary button",
                        "modifier": "button--secondary button--icon-right button--on-dark" 
                    },
                    { 
                        "title" : "- icon only",
                        "tag": "a",
                        "text": "",
                        "modifier": "button--secondary button--icon-only button--on-dark" 
                    }   
                ],
                buttonLoader: [
                    { 
                        "title" : "- loader",
                        "tag": "a",
                        "modifier": "button--secondary button--on-dark"
                    } 
                ]
            },
            secondaryOnLight: {
                 button: [
                    { 
                        "title" : "",
                        "tag": "a",
                        "text": "Secondary button",
                        "modifier": "button--secondary button--on-light" 
                    }, 
                    { 
                        "title" : "- as button tag",
                        "tag": "button",
                        "text": "Secondary button as button tag",
                        "modifier": "button--secondary button--on-light" 
                    },
                    { 
                        "title" : "- with long text",
                        "tag": "a",
                        "text": "Secondary button long text example test",
                        "modifier": "button--secondary button--on-light"  
                    }
                ],
                buttonIcon: [
                   { 
                        "title" : "- icon left",
                        "tag": "a",
                        "text": "Secondary button",
                        "modifier": "button--secondary button--icon-left button--on-light" 
                    },
                    { 
                        "title" : "- icon right",
                        "tag": "a",
                        "text": "Secondary button",
                        "modifier": "button--secondary button--icon-right button--on-light" 
                    },
                    { 
                        "title" : "- icon only",
                        "tag": "a",
                        "text": "",
                        "modifier": "button--secondary button--icon-only button--on-light" 
                    }   
                ],
                buttonLoader: [
                    { 
                        "title" : "- loader",
                        "tag": "a",
                        "modifier": "button--secondary button--on-light"
                    } 
                ]
            }
        }
    %}

<div class="container">
    <div class="button-grid">
        <div class="button-grid__cell">
            <h3>Primary button</h3>
            {% for item in config.primary.button %}
                {[ button.default(item.title, item.tag, item.text, item.modifier) ]}
            {% endfor %}

            {% for item in config.primary.buttonIcon %}
                {[ button.icon(item.title, item.tag, item.text, item.modifier) ]}
            {% endfor %}

            {% for item in config.primary.buttonLoader %}
                {[ button.loader(item.title, item.tag, item.modifier) ]}
            {% endfor %}
        </div>
        <div class="button-grid__cell">
            <h3>Secondary button</h3>
            {% for item in config.secondary.button %}
                {[ button.default(item.title, item.tag, item.text, item.modifier) ]}
            {% endfor %}

            {% for item in config.secondary.buttonIcon %}
                {[ button.icon(item.title, item.tag, item.text, item.modifier) ]}
            {% endfor %}

            {% for item in config.secondary.buttonLoader %}
                {[ button.loader(item.title, item.tag, item.modifier) ]}
            {% endfor %}
        </div>
    </div>
</div>

<section class="section background--dark">
    <div class="container">
        <div class="button-grid">
            <div class="button-grid__cell">
                <h3>Primary button</h3>
                {% for item in config.primaryOnDark.button %}
                    {[ button.default(item.title, item.tag, item.text, item.modifier) ]}
                {% endfor %}

                {% for item in config.primaryOnDark.buttonIcon %}
                    {[ button.icon(item.title, item.tag, item.text, item.modifier) ]}
                {% endfor %}

                {% for item in config.primaryOnDark.buttonLoader %}
                    {[ button.loader(item.title, item.tag, item.modifier) ]}
                {% endfor %}
            </div>
            <div class="button-grid__cell">
                <h3>Secondary button</h3>
                {% for item in config.secondaryOnDark.button %}
                    {[ button.default(item.title, item.tag, item.text, item.modifier) ]}
                {% endfor %}

                {% for item in config.secondaryOnDark.buttonIcon %}
                    {[ button.icon(item.title, item.tag, item.text, item.modifier) ]}
                {% endfor %}

                {% for item in config.secondaryOnDark.buttonLoader %}
                    {[ button.loader(item.title, item.tag, item.modifier) ]}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="section background--light">
    <div class="container">
        <div class="button-grid">
            <div class="button-grid__cell">
                <h3>Primary button</h3>
                {% for item in config.primaryOnLight.button %}
                    {[ button.default(item.title, item.tag, item.text, item.modifier) ]}
                {% endfor %}

                {% for item in config.primaryOnLight.buttonIcon %}
                    {[ button.icon(item.title, item.tag, item.text, item.modifier) ]}
                {% endfor %}

                {% for item in config.primaryOnLight.buttonLoader %}
                    {[ button.loader(item.title, item.tag, item.modifier) ]}
                {% endfor %}
            </div>
            <div class="button-grid__cell">
                <h3>Secondary button</h3>
                {% for item in config.secondaryOnLight.button %}
                    {[ button.default(item.title, item.tag, item.text, item.modifier) ]}
                {% endfor %}

                {% for item in config.secondaryOnLight.buttonIcon %}
                    {[ button.icon(item.title, item.tag, item.text, item.modifier) ]}
                {% endfor %}

                {% for item in config.secondaryOnLight.buttonLoader %}
                    {[ button.loader(item.title, item.tag, item.modifier) ]}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
