@import 'cwel/style/main';

.button-grid {
    @include grid();
    padding-bottom: $s_sm;
}
.button-grid__cell {
    @include grid-cell((
        'sm': 12,
        'md': 6,
        'lg': 6
    ));
}
.background--dark {
    background-color: $c_primary;

    h3,
    h4 {
        color: $white;
    }
}
.background--light {
    background-color: $t_cwel-steel;
}