body {
    color: $colour-secondary1;
    letter-spacing: 0.07rem;
    background: $colour-core2;
}
h1,
.h1 {
    margin-top: 0;
    color: $colour-core1;
    font-size: 3.35rem;
}
h2,
.h2 {
    margin-top: 0;
    color: $colour-core1;
    font-size: 2.68rem;
}
h3,
.h3 {
    margin-top: 0;
    color: $colour-core1;
    font-size: 2.18rem;
}
h4,
.h4 {
    margin-top: 0;
    color: $colour-core1;
    font-size: 1.68rem;
}
p,
.p {
    margin-top: 0;
    font-size: 1.68rem;
}
