
@mixin button-icon() {
    content: '';
    display: inline-block;
    width: 1.68rem;
    height: 4.19rem;
    margin-right: 0.84rem;
    vertical-align: top;
}

@mixin button {
    display: inline-block;
    height: 4.41rem;
    min-width: 14.66rem;
    margin-bottom: 1.68rem;
    color: $colour-core1;
    line-height: 4.19rem;
    text-align: center;
    border-width: $border-width-standard;
    border-style: solid;
    border-color: $colour-core1;
    border-radius: $border-radius-standard;
    cursor: pointer;

    &:hover,
    &:focus {
        background: $colour-core2;
        transition: all 0.5s ease;
    }

    &--full {
        width: 100%;
    }
    &--icon-import:before {
        @include button-icon();
        @include spritesheet(0, 4.88);
    }
    &--icon-save:before {
        @include button-icon();
        @include spritesheet(0, 5.89);
    }
    &--icon-arrow-up:before {
        @include button-icon();
        @include spritesheet(0, -0.17);
        width: 1.26rem;
    }
    &--icon-arrow-down:before {
        @include button-icon();
        @include spritesheet(0, 7.83);
        width: 1.26rem;
    }
    &--icon-clear:before {
        @include button-icon();
        @include spritesheet(0, 0.87);
        width: 1.47rem;
        margin-left: 0.1rem;
    }
    &--icon-edit:before {
        @include button-icon();
        @include spritesheet(0, 1.91);
        width: 2.31rem;
    }
    &--icon-menu:before {
        @include button-icon();
        @include spritesheet(0, 3.86);
    }
    &--icon-output:before {
        @include button-icon();
        @include spritesheet(0, 8.89);
        width: 2.4rem;
    }
    &--icon-add:before {
        @include button-icon();
        @include spritesheet(1, -0.13);
        width: 1.68rem;
    }
    &--icon-update:before {
        @include button-icon();
        @include spritesheet(1, 0.91);
        width: 1.68rem;
    }
    &--icon-presentation:before {
        @include button-icon();
        @include spritesheet(1, 1.89);
        width: 2.34rem;
    }
    &--icon-only {
        width: 5.86rem;
        min-width: initial;
    }
    &--icon-only:before {
        margin-right: 0;
    }
}

.button {
    @include button;
}

.button__text {
    vertical-align: top;
}
