
@mixin button-icon() {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    vertical-align: top;
}

@mixin button {
    display: inline-block;
    height: 2.63rem;
    min-width: 8.75rem;
    margin-bottom: 1rem;
    color: $color-core-1;
    line-height: 2.5rem;
    text-align: center;
    border-width: $border-width-standard;
    border-style: solid;
    border-color: $color-core-1;
    border-radius: $border-radius-standard;
    cursor: pointer;

    &:hover,
    &:focus {
        background: $color-core-2;
        transition: all 0.5s ease;
    }

    &--full {
        width: 100%;
    }
    &--icon-import:before {
        @include button-icon();
        @include spritesheet(0, 4.88);
    }
    &--icon-save:before {
        @include button-icon();
        @include spritesheet(0, 5.89);
    }
    &--icon-arrow-up:before {
        @include button-icon();
        @include spritesheet(0, -0.17);
        width: 0.75rem;
    }
    &--icon-arrow-down:before {
        @include button-icon();
        @include spritesheet(0, 7.83);
        width: 0.75rem;
    }
    &--icon-clear:before {
        @include button-icon();
        @include spritesheet(0, 0.87);
        width: 0.88rem;
        margin-left: 0.06rem;
    }
    &--icon-edit:before {
        @include button-icon();
        @include spritesheet(0, 1.91);
        width: 1.38rem;
    }
    &--icon-menu:before {
        @include button-icon();
        @include spritesheet(0, 3.86);
    }
    &--icon-output:before {
        @include button-icon();
        @include spritesheet(0, 8.89);
        width: 1.43rem;
    }
    &--icon-add:before {
        @include button-icon();
        @include spritesheet(1, -0.13);
        width: 1rem;
    }
    &--icon-update:before {
        @include button-icon();
        @include spritesheet(1, 0.91);
        width: 1rem;
    }
    &--icon-presentation:before {
        @include button-icon();
        @include spritesheet(1, 1.89);
        width: 1.4rem;
    }
    &--icon-only {
        width: 3.5rem;
        min-width: initial;
    }
    &--icon-only:before {
        margin-right: 0;
    }
}

.button {
    @include button;
}

.button__text {
    vertical-align: top;
}
