
.docs-table {
    width: 100%;
    margin-bottom: 2rem;
    background-color: #f2f2f2;
    border: 0.16rem solid #480344;
    border-collapse: collapse;
}

.docs-table__column {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border: 0.16rem solid #480344;
}
