
.docs {
    color: $colour-core1;

    @include breakpoint('s') {
        min-height: 56.25rem;
    }
}
.docs__header {
    display: block;
    width: 100%;
    margin-top: -2.5rem; // collapses docs playground container padding
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: $colour-core2;
    border-bottom-width: $border-width-standard;
    border-bottom-style: solid;
    border-bottom-color: $colour-secondary2;
}
.docs__header-title {
    margin: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.docs__section {
    margin-bottom: 3rem;
    padding-bottom: 1rem;

    &:not(:last-child) {
        border-bottom: 0.08rem solid #bfbfbf;
    }
}
