
.docs {
    color: $colour-core1;

    @include breakpoint('s') {
        min-height: 94.22rem;
    }
}
.docs__header {
    display: block;
    width: 100%;
    margin-top: -4.19rem; // collapses docs playground container padding
    margin-bottom: 3.35rem;
    padding-top: 1.68rem;
    padding-bottom: 1.68rem;
    background: $colour-core2;
    border-bottom-width: $border-width-standard;
    border-bottom-style: solid;
    border-bottom-color: $colour-secondary2;
}
.docs__header-title {
    margin: 0;
    padding-top: 2.09rem;
    padding-bottom: 2.09rem;
}

.docs__section {
    margin-bottom: 5.03rem;
    padding-bottom: 1.68rem;

    &:not(:last-child) {
        border-bottom: 0.13rem solid #bfbfbf;
    }
}
