
.docs-table {
    width: 100%;
    margin-bottom: 3.35rem;
    background-color: #f2f2f2;
    border: 0.27rem solid #480344;
    border-collapse: collapse;
}

.docs-table th,
.docs-table td,
.docs-table__column {
    padding-top: 1.68rem;
    padding-right: 1.68rem;
    padding-bottom: 1.68rem;
    padding-left: 1.68rem;
    border: 0.27rem solid #480344;
}
