
.editor-output {
    display: block;
    width: 100%;
    margin-bottom: -4.19rem; // collapses docs playground container padding
    padding-top: 1.68rem;
    padding-right: 0;
    padding-bottom: 1.68rem;
    padding-left: 0;
    background: $color-core-2;
    border-top-width: $border-width-standard;
    border-top-style: solid;
    border-top-color: $color-secondary-2;
}
.editor-output__iframe {
    display: block;
    box-sizing: content-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-width: $border-width-standard;
    border-style: solid;
    border-color: $color-secondary-2;
}
.editor-output__iframe--anim-width {
    transition: width 0.7s;
}
