
.editor-order__container {
    display: block;
    width: 100%;
    height: auto;
    min-height: 14.5rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background: $color-core-2;
    border-width: $border-width-standard;
    border-style: solid;
    border-color: $color-secondary-2;
    border-radius: $border-radius-standard;
    @include breakpoint('l') {
        height: 27.5rem;
        overflow: auto;
    }
}
.editor-order .button--icon-only {
    background: $color-white;
}
.editor-order__title {
    display: block;
    margin-bottom: 0.63rem;
    color: $color-core-1;
    font-size: 1rem;
}
.editor-order__item {
    display: inline-flex;
    width: 100%;
    margin-bottom: 0.63rem;
}
.editor-order__item:last-child {
    margin-bottom: 0;
}
.editor-order__item-title {
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    padding-left: 1.25rem;
    color: $color-core-1;
    line-height: 2.5rem;
    text-align: left;
    background: $color-white;
    border-width: $border-width-standard;
    border-style: solid;
    border-color: $color-core-1;
    border-radius: $border-radius-standard;
}
.editor-order__item-title--active {
    font-weight: 600;
}
.editor-order__item-action,
.editor-order__item-title {
    margin-right: 0.63rem;
    margin-bottom: 0;
}
.editor-order__item-action {
    min-width: inherit;
}
.editor-order__item-action:last-child {
    margin-right: 0;
}
.editor-order__item-action:hover,
.editor-order__item-action:focus {
    background: $color-core-2;
    transition: all 0.5s ease;
}
.editor-order .button--icon-arrow-up,
.editor-order .button--icon-arrow-down,
.editor-order .button--icon-edit {
    display: none;
    @include breakpoint('l') {
        display: inline-block;
    }
}
