.editor-output {
    display: block;
    width: 100%;
    margin-bottom: -2.5rem; // collapses docs playground container padding
    padding-top: 1rem;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-left: 0;
    background: $colour-core2;
    border-top-width: $border-width-standard;
    border-top-style: solid;
    border-top-color: $colour-secondary2;
}
.editor-output__iframe {
    display: block;
    box-sizing: content-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-width: $border-width-standard;
    border-style: solid;
    border-color: $colour-secondary2;
}
.editor-output__iframe--anim-width {
    transition: width 0.7s;
}
