
.footer {
    display: flex;
    align-items: center;
    height: 7.12rem;
    padding-right: 1.68rem;
    padding-left: 1.68rem;
    background: $color-core-2;
    border-top-width: 0.22rem;
    border-top-style: solid;
    border-top-color: $color-core-1;
}
.footer__title {
    width: 100%;
    font-size: 1.51rem;
}
