
.footer {
    display: flex;
    align-items: center;
    height: 4.25rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background: $color-core-2;
    border-top-width: 0.13rem;
    border-top-style: solid;
    border-top-color: $color-core-1;
}
.footer__title {
    width: 100%;
    font-size: 0.9rem;
}
