
.nav-header {
    display: flex;
    align-items: center;
    height: 7.12rem;
    padding-right: 1.68rem;
    padding-left: 1.68rem;
    background: $colour-core2;
    border-bottom-width: 0.22rem;
    border-bottom-style: solid;
    border-bottom-color: $colour-core1;
}
.nav-header__title {
    margin-bottom: 0;
    padding-left: 1.68rem;
    font-size: 1.84rem;
}
.nav-header__link,
.nav-header__link:hover,
.nav-header__link:focus {
    color: $colour-core1;
}
.nav-header__button {
    margin-bottom: 0;
    font-weight: 600;
}
.nav-header__logo {
    width: 8.59rem;
}
