{% extends '_layout.njk' %}
{% set title = 'Header' %}

{% block content %}
<main class="container">
    <div class="header">
        <div class="header__logo"></div>
        <div nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <span>home</span>
                </li>
                <li class="header__nav-item">
                    <span>About</span>
                </li>
                <li class="header__nav-item">
                    <span>News</span>
                </li>
                <li class="header__nav-item">
                    <span>Buying</span>
                </li>
                <li class="header__nav-item">
                    <span>Selling</span>
                </li>
                <li class="header__nav-item">
                     <span>Landlords</span>
                </li>
            </ul>

            <div class="dropdown" ng-class="{active: count > 1, hidden: count < 1}">
                <button class="dropdown__button">
                    <span>more...</span>
                </button>
                <ul class="dropdown__list">
                    
                </ul>
            </div>

        </div>
    </div>
</main>
{% endblock %}
