{% extends '_layout.njk' %}
{% set title = 'Header' %}

{% block content %}
<div class="header">
    <div class="header__logo"></div>
    <div class="header__title">Mortgages</div>
    <div nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a href="#">home</a>
            </li>
            <li class="header__nav-item">
                <a href="#">About</a>
            </li>
            <li class="header__nav-item">
                <a href="#">News</a>
            </li>
            <li class="header__nav-item">
                <a href="#">Buying</a>
            </li>
            <li class="header__nav-item">
                <a href="#">Selling</a>
            </li>
            <li class="header__nav-item">
                 <a href="#">Landlords</a>
            </li>
        </ul>

        <div class="dropdown" ng-class="{active: count > 1, hidden: count < 1}">
            <button class="dropdown__button">
                <span>more...</span>
            </button>
            <ul class="dropdown__list">
                
            </ul>
        </div>
    </div>
    
</div>
{% endblock %}
