@import 'cwel/style/main';

.header {
    @include grid();
    @include grid-flush();
    display: flex;
    align-items: center;
    width: 100%;
    height: 10rem;
    background: #eeeeee;
}
.header__logo {
    height: 100%;
    background: red;

    @include grid-cell((
        'xs': 12,
        'md': 2,
    ));
}
.header__title {
    // margin-right: $s_xl;
    // margin-left: $s_sm;
    // padding: 0;

    @include grid-cell((
        'xs': 12,
        'md': 2,
    ));
}
.header__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    @include breakpoint('md') {
        justify-content: flex-end;
    }

    @include grid-cell((
        'xs': 10,
        'md': 8,
    ));
}
.header__content {
    @include grid-cell((
        'xs': 2,
        'md': 2,
    ));
}
.header__nav-list {
    display: flex;
    margin-bottom: 0;
    overflow-x: scroll;
    list-style: none;

    @include breakpoint('md') {
        overflow-x: inherit;
    }
}
.header__nav-item {
    display: inline-flex;
    margin-right: 0;
    margin-left: 0;
    a {
        margin-right: $s_sm;
        margin-left: $s_sm;
        color: inherit;
        text-decoration: none;
    }
}
.dropdown__list {
    position: absolute;
    display: none;
    padding-top: $s_md;
    padding-right: $s_md;
    padding-bottom: $s_md;
    padding-left: $s_md;
    background: grey;
    border-radius: 1rem;

    .header__nav-item {
        display: block;
    }
}

// dropdown

.dropdown__button {
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    background: transparent;
    border: 0;
    cursor: pointer;
    span {
        margin-right: $s_sm;
        margin-left: $s_sm;
    }
}
.dropdown:hover .dropdown__list {
    display: block;
}
.dropdown {
    display: none;
}

.hidden {
    visibility: hidden;
}
.active {
    @include breakpoint('md') {
        display: block;
    }
}