@using Cwo.Core.ComponentViewModels.Badge
@using Cwo.Core.Web.HtmlExtensions

<h1>Badge</h1>

<h2>Notes</h2>
<p>This is a patriot badge.</p>
<p>It features a bald eagle with faded text of the constitution. Click it for gun noises.</p>


<h2>ViewModel</h2>

Type: 
Summary: 

<h3>Properties</h3>



<h2>Scope</h2>


<h3></h3>








<h3>counter</h3>


<strong>Type:</strong> int







<h3>increment</h3>






<strong>Returns:</strong> {void}



