@mixin hover-effect($color) {
    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.05); // stylelint-disable-line
        transition: all 0.2s ease-in-in;
        opacity: 1;

        &:before {
            --size: 400px; 
        }
    }
    
    &:before {
        --size: 0;
        content: '';
        position: absolute;
        top: var(--y);
        left: var(--x);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, $color, transparent);
        transition: width 0.2s ease, height 0.2s ease;
        transform: translate(-50%, -50%);
    }
}