////
/// @group Mixins
/// @since 0.0.1
////

/// @example
/// aspect-ratio-container(1280px, 891.87px);
/// @param {int} $width, $height

@mixin aspect-ratio-container($width, $height) {
    position: relative;

    &:before {
        content: '';
        display: block;
        padding-top: ($height / $width) * 100%;
        overflow: hidden;
    }
}

@mixin aspect-ratio() {
    position: absolute;
    top: 0;
    width: 100%;
}