////
/// @group Mixins
/// @since 0.0.1
////

/// @example
/// aspect-ratio(1280px, 891.87px, '.display__image');
/// @param {int} $width, $height
/// @param {string} $selector

@mixin aspect-ratio($width, $height, $selector) {
    $selector: unquote($selector);
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        display: block;
        padding-top: ($height / $width) * 100%;
    }

    #{$selector} {
        position: absolute;
        top: 0;
        width: 100%;
    }
}