////
/// @group Mixins
/// @since 0.0.1
////

///

@mixin container {
    display: block;
    width: 100%;
    margin: auto;
    padding-right: $cntr_m_xs;
    padding-left: $cntr_m_xs;

    @each $device-size in map-keys($breakpoints) {
        $width: map-get($container, 'width-#{$device-size}');
        $margin: map-get($container, 'margin-#{$device-size}');

        @include breakpoint($device-size) {
            @if ($width != null) {
                max-width: $width;
            }
            @if ($margin != null) {
                padding-right: $margin;
                padding-left: $margin;
            }
        }
    }
}

///

@mixin fluid-container {
    display: block;
    max-width: none;
    margin: auto;
    padding-right: $cntr_m_xs;
    padding-left: $cntr_m_xs;

    @each $device-size in map-keys($breakpoints) {
        $margin: map-get($container, 'margin-#{$device-size}');

        @include breakpoint($device-size) {
            @if ($margin != null) {
                padding-right: $margin;
                padding-left: $margin;
            }
        }
    }
}

///

@mixin generate-container-classes {
    .container {
        @include container;
    }
    .container--fluid {
        @include fluid-container;
    }
}
