.header,
.project--header {
    width: 100%;
}

.header {
    color: $sd-light-grey;
    background-color: #fff;
    border-bottom: 1px solid $sd-light-grey; // stylelint-disable-line declaration-property-unit-blacklist
}

.brand__heading {
    display: flex;
    flex-direction: row;
}

.versionno {
    color: darken($sd-medium-grey, 15%);
    font-size: 1rem;
}

.versionno::before,
.versionno::after {
    font-family: 'FontAwesome';
}

.versionno::before {
    content: '\f100\00a0';
}

.versionno::after {
    content: '\00a0\f101';
}
