
$line-number-constant: 3rem;

pre.line-numbers {
    position: relative;
    padding-left: $line-number-constant;
    counter-reset: linenumber;
}

pre.line-numbers > code {
    position: relative;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    top: 0.15rem; // Just enough to vertically align line numbers with corresponding cod eline
    left: -$line-number-constant;
    width: $line-number-constant; // Works for line numbers below 1000 lines then you're buggered
    pointer-events: none;
    user-select: none;
}

.line-numbers-rows > span {
    display: block;
    pointer-events: none;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    display: block;
    padding-right: 1rem;
    color: rgba(255, 255, 255, 0.3);
    text-align: right;
}
