
.sass-docs { // `.sass-docs` is the wrapper around the entire documnetation to make selecting certain elements (such as `.header` and `.footer`) easier
    display: flex;
    flex-flow: row wrap;
    margin-bottom: -4.19rem; // Ensure sidebar is flush with CWEL playground footer

    .container { // Overwrite default CWEL playground `.container` styles
        max-width: 100%;
        padding-right: 3.35rem;
        padding-left: 3.35rem;
    }

    .main {
        width: 100%;

        @include respond-to('medium') {
            width: calc(100% - #{$sidebar-width});
        }

    }

}

.main__item {
    display: flex;
    flex-flow: row wrap;
    margin-right: 3.35rem;
    margin-bottom: 3.35rem;
    margin-left: 3.35rem;
    border: 1px solid $sd-light-grey; // stylelint-disable-line declaration-property-unit-blacklist
}

.main__heading {
    margin-top: 3.35rem;
    margin-bottom: 3.35rem;
    font-size: 5.03rem;
    font-weight: 700;
}

.main__heading--secondary {
    position: relative;
    margin-bottom: 1.68rem;
    padding-top: 0;
    font-size: 3.35rem;
    font-weight: 700;

    .container {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}
