// stylelint-disable

.sidebar {
    width: 100%;
    background-color: #f2f2f2;

    @include respond-to('medium') {
        width: $sidebar-width;
        border-right: 1px solid $sd-light-grey; // stylelint-disable-line declaration-property-unit-blacklist
    }
}

.sidebar__body {
    @include respond-to('medium') {
        position: sticky;
        top: 1rem;
    }
}

.sidebar__logo {
    display: none;
}

.sidebar__color-preview { // Displays color preview when color variables are declared
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border-width: 1px; // stylelint-disable-line declaration-property-unit-blacklist
    border-style: solid;
    border-radius: 2rem;
    transform: translate(-50%, -50%);
}

.sidebar__annotation {
    color: $sd-tertiary-color;
}

.sidebar__item {
    position: relative;
    font-size: 0.5rem;

    a {
        display: block;
        padding: 0 2rem;
        color: $sd-black;
        font-size: 0.81rem;
        text-decoration: none;
    }

    @include on-event {
        background: $sd-light-grey;
    }

    &.is-collapsed + * {
        display: none;
    }
}
li.sidebar__item a {
    font-family: $code-font-stack;
}

// List item heading

.sidebar__item--heading,
.sidebar__item--sub-heading {
    margin: 0;
    padding: 0.75rem 2rem;
    font-size: 0.68rem;
}

.sidebar__item--heading {
    color: rgba(83, 83, 99, 0.75);
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    border-bottom: 1px dashed $sd-light-grey; // stylelint-disable-line declaration-property-unit-blacklist

    & a {
        font-size: 0.68rem;
    }

}

// List item sub-heading

.sidebar__item--sub-heading {
    color: #535363;
    text-transform: capitalize;

    &::before {
        content: '\f078';
        @include absolute($left: 0.7em, $top: 50%);
        margin-top: -0.5rem;
        color: #888;
        font-family: 'FontAwesome';
        font-size: 0.6rem;
        transform: translateY(-12%);
    }

    &.is-collapsed {
        &::before {
            content: '\f054';
        }
    }

    a {
        color: #888;
    }

}

.list-unstyled a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #066;
}

.sidebar__item--sub-heading,
.list-unstyled a  {
    font-weight: 100;
    letter-spacing: 0.02rem;
}

// List item headings and sub-headings

.sidebar__item--heading,
.sidebar__item--sub-heading {
    a {
        display: inline;
        padding: 0;
    }
}

.sidebar__description {
    padding-right: 1rem;
    color: $sd-light-grey;
}

.sidebar__title {
    display: block;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 1rem;
    padding: 0;
    font-weight: 100;
}
