@import 'Cwel/Style/main';

// @import '../../grid-overlay';
// @import '../../block';

@import 'sandbox/shared/asset/style/button';
@import 'sandbox/shared/asset/style/divider';
@import 'sandbox/shared/asset/style/viewport';

.viewport__group {
    @include viewport-group;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
}

.viewport__breakpoint {
    @include viewport-breakpoint;
    display: inline-block;
    font-weight: 600;
}

.overlay-open {
    @include button;
}

.section {
    @include divider;
    padding-top: $SPACE-M;
    padding-bottom: $SPACE-M;
}
