{% extends '_layout.njk' %}
{% set title = 'Spacer' %}

{% block js %}{% endblock %}

{% block content %}
<div class="container">
    <section class="section">
        <div class="spacers">
            <div class="spacer spacer--xxs"></div>
            <div class="spacer spacer--xs"></div>
            <div class="spacer spacer--s"></div>
            <div class="spacer spacer--m"></div>
            <div class="spacer spacer--l"></div>
            <div class="spacer spacer--xl"></div>
        </div>

        <div class="container-test">
            <div class="block"></div>
        </div>

        <div class="hero">
            <h2 class="hero__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        </div>

        <div class="hero hero--fixed">
            <h2 class="hero__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        </div>
    </section>
</div>
{% endblock %}
