
@{
    Layout = "~/Views/Shared/_SandboxLayout.cshtml";
}

<h2>CWEL Sandbox</h2>

<p>A place to experiment and develop things other than components.</p>

<ul>
    <li><a href="/playground/sandbox/grid">Grid</a></li>
    <li><a href="/playground/sandbox/typography">Typography</a></li>
</ul>


