@{
    Layout = "~/Views/Shared/_SandboxLayout.cshtml";
    ViewBag.Controller = "sandbox";
}

<h1>CWEL Sandbox</h1>

<p>A place to experiment and develop things that don't fit into the component paradigm.</p>

<ul>
    <li><a href="/playground/sandbox/remunits">Rem Units</a></li>
    <li><a href="/playground/sandbox/spacers">Spacers</a></li>
    <li><a href="/playground/sandbox/grid">Grid</a></li>
    <li><a href="/playground/sandbox/typography">Typography</a></li>
</ul>


