<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Assets/css/site.css">
</head>
<body ng-app="cwoApp">

    <div class="nav-header">
        <h1 class="nav-header__title h1">CWEL</h1>
        <button type="button" ng-click="navSidebar=!navSidebar" class="nav-header__button button button--icon-menu">
            <span class="button__text">View</span>
        </button>
    </div>

    <div class="docs-playground__container">
        @Html.Action("SideBar", "Home")
        @RenderBody()
    </div>

    <div class="footer">
        <div class="footer__title">&copy; Countrywide <span>{{ date | date: 'yyyy' }}</span></div>
    </div>

    <script src="~/Cwel/cwel.js"></script>
    <script src="~/Assets/js/docsapp.js"></script>
    <script src="~/Assets/js/playground.js"></script>
    <script src="~/Assets/js/playgroundStore.js"></script>
    <script src="~/Assets/js/bus.js"></script>
</body>
</html>
