<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Assets/css/site.css"/>
    <style>
        body {
            background: #FFFFFF;
        }
    </style>
</head>
<body ng-app="cwoApp">
    @RenderBody()
    <script src="~/Cwel/cwel-full.js"></script>
    <script src="~/Assets/js/docsapp.js"></script>
    <script src="~/Assets/js/playground.js"></script>
    <script src="~/Assets/js/playgroundStore.js"></script>
    <script src="~/Assets/js/bus.js"></script>
</body>
</html>
