<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" >
    <link href="@("https://unpkg.com/normalize.css@^4.1.1")" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/Assets/css/site.css"/>
</head>
<body ng-app="cwoApp">
    @RenderBody()
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="~/Assets/js/docsapp.js"></script>
    <script src="~/Assets/js/playground.js"></script>
    <script src="~/Assets/js/bus.js"></script>
</body>
</html>
