<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Cwel/cwel.css"/>
    <style>
        body {
            background: #ffffff;
        }
    </style>
</head>
<body ng-app="cwel">
    @RenderBody()
    <script src="~/Cwel/cwel.js"></script>
</body>
</html>
