<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Visual Test - @ViewBag.Name</title>

    <link href="~/Assets/css/visualtest/@ViewBag.Name/style.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body ng-app="cwel">

    @RenderBody()

    <script src="~/Cwel/cwel-full.js"></script>
    <script src="~/Assets/js/visualtest/@ViewBag.Name/script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
