<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Visual Test - @ViewBag.Title</title>

    <style>
        body {
            background: #ffffff;
        }
    </style>

    @RenderSection("styles", required: false)
</head>
<body ng-app="cwel">

    @RenderBody()

    <script src="~/Cwel/cwel-full.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
