////
/// @group Variables
/// @since 0.0.1
////

/**************************
 * FONTS
 *************************/

$FONT-SIZE-XS: 55%;
$FONT-SIZE-S: 60%;
$FONT-SIZE-M: 62.5%;
$FONT-SIZE-L: 65%;
$FONT-SIZE-XL: 67.5%;

$FONT-SIZES: (
    xs: $FONT-SIZE-XS,
    s: $FONT-SIZE-S,
    m: $FONT-SIZE-M,
    l: $FONT-SIZE-L,
    xl: $FONT-SIZE-XL
);

/**************************
 * SPACES
 *************************/

/// - Canonical `XXS` space measurement
/// - Used verbatim for `M` viewport width breakpoint
/// - Figure is smaller for smaller viewport widths and larger for larger viewport widths
/// @type String
$SPACE-XXS: 0.4rem;

/// - Canonical `XS` space measurement
/// - Used verbatim for `M` viewport width breakpoint
/// - Figure is smaller for smaller viewport widths and larger for larger viewport widths
/// @type String
$SPACE-XS: $SPACE-XXS * 2;

/// - Canonical `S` space measurement
/// - Used verbatim for `M` viewport width breakpoint
/// - Figure is smaller for smaller viewport widths and larger for larger viewport widths
/// @type String
$SPACE-S: $SPACE-XS * 2;

/// - Canonical `M` space measurement
/// - Used verbatim for `M` viewport width breakpoint
/// - Figure is smaller for smaller viewport widths and larger for larger viewport widths
/// @type String
$SPACE-M: $SPACE-S * 2;

/// - Canonical `L` space measurement
/// - Used verbatim for `M` viewport width breakpoint
/// - Figure is smaller for smaller viewport widths and larger for larger viewport widths
/// @type String
$SPACE-L: $SPACE-M * 2;

/// - Canonical `XL` space measurement
/// - Used verbatim for `M` viewport width breakpoint
/// - Figure is smaller for smaller viewport widths and larger for larger viewport widths
/// @type String
$SPACE-XL: $SPACE-L * 2;

/// Map used to provide space sizes for the various viewport breakpoints
/// @type Map
$SPACES: (
    xxs: $SPACE-XXS,
    xs: $SPACE-XS,
    s: $SPACE-S,
    m: $SPACE-M,
    l: $SPACE-L,
    xl: $SPACE-XL
);

/**************************
 * BREAKPOINTS
 *************************/

/// `S` Breakpoint size measurement
/// @type String
$BREAKPOINT-S: 25em; // 400px

/// `M` Breakpoint size measurement
/// @type String
$BREAKPOINT-M: 37.5em; // 600px

/// `L` Breakpoint size measurement
/// @type String
$BREAKPOINT-L: 62.75em; // 1004px - 28px = 972px

/// `XL` Breakpoint size measurement
/// @type String
$BREAKPOINT-XL: 80em; // 1280px - 28px = 1248px

/// Map used to provide breakpoints
/// @type Map
$BREAKPOINTS: (
    s: $BREAKPOINT-S,
    m: $BREAKPOINT-M,
    l: $BREAKPOINT-L,
    xl: $BREAKPOINT-XL
);

/**************************
 * CONTAINER
 *************************/

/// `L` container width
/// 2em subtracted from Breakpoint width to avoid bug where chrome doesn't include scroll bars in media query calculations
/// @type String
$CONTAINER-WIDTH-L: rootem($BREAKPOINT-L - 2em, 'l');

/// `XL` container width
/// 2em subtracted from Breakpoint width to avoid bug where chrome doesn't include scroll bars in media query calculations
/// @type String
$CONTAINER-WIDTH-XL: rootem($BREAKPOINT-XL - 2em, 'xl');

/// `XS` container margin width
/// @type String
$CONTAINER-MARGIN-XS: rebase($SPACE-XS, 'xs');

/// `S` container margin width
/// @type String
$CONTAINER-MARGIN-S: rebase($SPACE-XS, 's');

/// `M` container margin width
/// @type String
$CONTAINER-MARGIN-M: rebase($SPACE-XS + $SPACE-XXS, 'm');

/// `L` container margin width
/// @type String
$CONTAINER-MARGIN-L: rebase($SPACE-XS + $SPACE-XXS, 'l');

/// `XL` container margin width
/// @type String
$CONTAINER-MARGIN-XL: rebase($SPACE-XS + $SPACE-XXS, 'xl');

/// Map used to provide container widths and margins
/// @type Map
$CONTAINER: (
    width-l: $CONTAINER-WIDTH-L,
    width-xl: $CONTAINER-WIDTH-XL,
    margin-xs: $CONTAINER-MARGIN-XS,
    margin-s: $CONTAINER-MARGIN-S,
    margin-m: $CONTAINER-MARGIN-M,
    margin-l: $CONTAINER-MARGIN-L,
    margin-xl: $CONTAINER-MARGIN-XL
);

/**************************
 * GRID
 *************************/

/// `XS` grid gutter width
/// @type String
$GRID-GUTTER-XS: rebase($SPACE-XS, 'xs');

/// `S` grid gutter width
/// @type String
$GRID-GUTTER-S: rebase($SPACE-XS, 's');

/// `M` grid gutter width
/// @type String
$GRID-GUTTER-M: rebase($SPACE-S, 'm');

/// `L` grid gutter width
/// @type String
$GRID-GUTTER-L: rebase($SPACE-S, 'l');

/// `XL` grid gutter width
/// @type String
$GRID-GUTTER-XL: rebase($SPACE-S, 'xl');

/// Map used to provide grid sizes
/// @type Map
$GRID: (
    gutter-xs: $GRID-GUTTER-XS,
    gutter-s: $GRID-GUTTER-S,
    gutter-m: $GRID-GUTTER-M,
    gutter-l: $GRID-GUTTER-L,
    gutter-xl: $GRID-GUTTER-XL
);
