////
/// @group Variables
/// @since 0.0.1
////

/**************************
 * FONTS
 *************************/

$f_s_md: 62.5%;
$f_s_xs: $f_s_md * 0.875; // stylelint-disable-line
$f_s_sm: $f_s_md;
$f_s_lg: $f_s_md;
$f_s_xl: $f_s_md * 1.125; // stylelint-disable-line

$font-sizes: (
    xs: $f_s_xs,
    ss: $f_s_sm,
    md: $f_s_md,
    lg: $f_s_lg,
    xl: $f_s_xl
);

/**************************
 * SPACES
 *************************/

/// - Canonical `S` space measurement
/// - Used verbatim for `M` viewport width breakpoint
/// - Figure is smaller for smaller viewport widths and larger for larger viewport widths
/// @type String
$s_sm: 1.6rem;

/// - Canonical `XS` space measurement
/// - Used verbatim for `M` viewport width breakpoint
/// - Figure is smaller for smaller viewport widths and larger for larger viewport widths
/// @type String
$s_xs: $s_sm / 2;

/// - Canonical `XXS` space measurement
/// - Used verbatim for `M` viewport width breakpoint
/// - Figure is smaller for smaller viewport widths and larger for larger viewport widths
/// @type String
$s_xxs: $s_xs / 2;

/// - Canonical `M` space measurement
/// - Used verbatim for `M` viewport width breakpoint
/// - Figure is smaller for smaller viewport widths and larger for larger viewport widths
/// @type String
$s_md: $s_sm * 2;

/// - Canonical `L` space measurement
/// - Used verbatim for `M` viewport width breakpoint
/// - Figure is smaller for smaller viewport widths and larger for larger viewport widths
/// @type String
$s_lg: $s_md * 2;

/// - Canonical `XL` space measurement
/// - Used verbatim for `M` viewport width breakpoint
/// - Figure is smaller for smaller viewport widths and larger for larger viewport widths
/// @type String
$s_xl: $s_lg * 2;

/// Map used to provide space sizes for the various viewport breakpoints
/// @type Map
$spacers: (
    xxs: $s_xxs,
    xs: $s_xs,
    sm: $s_sm,
    md: $s_md,
    lg: $s_lg,
    xl: $s_xl
);

/**************************
 * BREAKPOINTS
 *************************/

/// `S` Breakpoint size measurement
/// @type String
$b_sm: 25em; // 400px

/// `M` Breakpoint size measurement
/// @type String
$b_md: 37.5em; // 600px

/// `L` Breakpoint size measurement
/// @type String
$b_lg: 62.75em; // 1004px - 28px = 972px

/// `XL` Breakpoint size measurement
/// @type String
$b_xl: 80em; // 1280px - 28px = 1248px

/// Map used to provide breakpoints
/// @type Map
$breakpoints: (
    sm: $b_sm,
    md: $b_md,
    lg: $b_lg,
    xl: $b_xl
);

/**************************
 * CONTAINER
 *************************/

$cntr_w_lg: rootem($b_lg, 'l');
$cntr_w_xl: rootem($b_xl, 'xl');

/// `XS` container margin width
/// @type String
$cntr_m_xs: rebase($s_xs, 'xs');

/// `S` container margin width
/// @type String
$cntr_m_sm: rebase($s_xs, 's');

/// `M` container margin width
/// @type String
$cntr_m_md: rebase($s_xs + $s_xxs, 'm');

/// `L` container margin width
/// @type String
$cntr_m_lg: rebase($s_xs + $s_xxs, 'l');

/// `XL` container margin width
/// @type String
$cntr_m_xl: rebase($s_xs + $s_xxs, 'xl');

/// Map used to provide container widths and margins
/// @type Map
$container: (
    width-lg: $cntr_w_lg,
    width-xl: $cntr_w_xl,
    margin-xs: $cntr_m_xs,
    margin-sm: $cntr_m_sm,
    margin-md: $cntr_m_md,
    margin-lg: $cntr_m_lg,
    margin-xl: $cntr_m_xl
);

/**************************
 * GRID
 *************************/

/// `XS` grid gutter width
/// @type String
$grid_g_xs: rebase($s_xs, 'xs');

/// `S` grid gutter width
/// @type String
$grid_g_sm: rebase($s_xs, 's');

/// `M` grid gutter width
/// @type String
$grid_g_md: rebase($s_xxs, 'm');

/// `L` grid gutter width
/// @type String
$grid_g_lg: rebase($s_xxs, 'l');

/// `XL` grid gutter width
/// @type String
$grid_g_xl: rebase($s_xxs, 'xl');

/// Map used to provide grid sizes
/// @type Map
$grid: (
    gutter-xs: $grid_g_xs,
    gutter-sm: $grid_g_sm,
    gutter-md: $grid_g_md,
    gutter-lg: $grid_g_lg,
    gutter-xl: $grid_g_xl
);
