////
/// @group Colors
/// @since 0.0.1
/// @type color
////

///

$black: #000;

///

$white: #fff;

///

$gray: (
    10: lighten($black, 10%),
    20: lighten($black, 20%),
    30: lighten($black, 30%),
    40: lighten($black, 40%),
    50: lighten($black, 50%),
    60: lighten($black, 60%),
    70: lighten($black, 70%),
    80: lighten($black, 80%),
    90: lighten($black, 90%)
);

//brochure theme
//colors are picked via this site http://chir.ag/projects/name-that-color
$t_cwel-oxford: #393f57;
$t_cwel-grape: #372062;
$t_cwel-plum: #892e85;
$t_cwel-blueberry: #285c91;
$t_cwel-silver: #c4c4c4;
$t_cwel-steel: #eaeeef;
$t_cwel-cornflower-blue: #5cbbeb;

//main
$c_primary: $t_cwel-grape;
$c_secondary: $t_cwel-blueberry;

//text
$c_base-text: $t_cwel-oxford;
$c_headings-color: $c_primary;
$c_focus: $t_cwel-cornflower-blue;
$c_hightlight: rgba($c_focus, 0.5);

//other
$c_bg-light: $t_cwel-steel;

// Buttons 
$c_button_color_1: $white;
$c_button_bg_1: $c_primary;

$c_button_color_2: $c_primary;
$c_button_bg_2: $t_cwel-steel;

$c_button_onDark_color_1: $c_primary;
$c_button_onDark_bg_1: $white;

$c_button_onDark_color_2: $white;
$c_button_onDark_bg_2: $c_primary;

$c_button_onLight_color_1: $white;
$c_button_onLight_bg_1: $c_primary;

$c_button_onLight_color_2: $c_primary;
$c_button_onLight_bg_2: $white;

// Button hover
$c_button_onLight_hover_bg_1: lighten($c_button_onLight_bg_1, 10%);
$c_button_onDark_hover_bg_1: $white;

$c_button_onLight_hover_bg_2: $white;
$c_button_onDark_hover_bg_2: lighten($c_button_onDark_bg_2, 5%);

// loaders
$c_loader_color_1: $white;
$c_loader_color_2: $c_primary;
$c_loader_color_3: $t_cwel-silver;

// Icons
$c_icon_color_1: $c_primary;

// Icons buttons
$c_icon_button_color_1: $white;
$c_icon_button_color_2: $c_primary;

// Image
$c_image_bg: $c_bg-light;

// Display
$c_display_light_bg: $c_bg-light;

