{% extends '_layout.njk' %}
{% set title = 'Sandbox' %}

{% block content %}
<h1>CWEL Sandbox</h1>

<p>A place to experiment and develop things that don't fit into the component paradigm.</p>

<h2>Components<h2>
<ul>
    <li><a href="/component/badge/badge.html">Badge</a></li>
    <li><a href="/component/card/card.html">Card</a></li>
</ul>

<h2>Patterns<h2>
<ul>
    <li><a href="/Pattern/cardslider/cardslider.html">Card Slider</a></li>
</ul>

<h2>Prototypes<h2>
<ul>
    <li><a href="/Prototype/remunits">Rem Units</a></li>
    <li><a href="/Prototype/grid">Grid</a></li>
    <li><a href="/Prototype/typography">Typography</a></li>
    <li><a href="/Prototype/billboard">Billboard</a></li>
    <li><a href="/Prototype/scrollanimation">Scroll Animation</a></li>
</ul>
{% endblock %}