{% block body %}
    <div class="heading">
        <div class="container container--docs">
            <div class="heading__content">
                <h2 class="heading__content-parent">Component</h2>
                <h1 class="heading__content-title">Overview</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="components">
            <div class="components__item" ng-repeat="component in components">
                <a ui-sref="component({ name: component.name })" class="components__item-link">
                    <div class="components__item-icon">
                        <img ng-src="{{ component.logo }}"></img>
                    </div>
                    <p class="components__item-name">{{ component.name | capitalize }}</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
