@import 'cwel/style/main';

$c_billboard-bg: #e7f5fc;

.billboard {
    background-color: $c_billboard-bg;
}

.billboard__container {
    @include container;
}

.billboard__section {
    @include grid();
    position: relative;
    text-align: center;

    &--image {
        text-align: left;
    }

    &--reverse {
        @include grid-reverse;
    }
}

.billboard__header {
    @include grid-cell((
        'sm': 12
    ));
    margin-top: $s_md;
    background-color: $c_billboard-bg;

    .billboard__section--image & {
        @include grid-cell((
            'md': 6,
            'lg': 4
        ));
        margin-left: grid-cell-size(1);
        padding-right: $s_lg;
    }

    .billboard__section--reverse & {
        flex-shrink: unset;
        margin-left: $s_md;
    }

    @include breakpoint('md') {
        .billboard__section--image & {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            margin-top: $s_lg;
        }

        .billboard__section--reverse & {
            right: 0;
            left: initial;
            padding-left: $s_lg;
        }
    }

    @include breakpoint('lg') {
        margin-top: $s_lg;

        .billboard__section--image & {
            position: relative;
            top: initial;
            left: initial;
            padding-top: $s_lg;
            padding-left: 0;
        }
    }
}

.billboard__title {
    margin-top: $s_sm;
    margin-bottom: $s_md;
}

.billboard__breadcrumb {
    margin-bottom: 0;
    list-style-type: none;

    li {
        display: inline;
        margin-right: $s_md;
        margin-left: 0;

        &:before {
            content: '>';
            margin-right: $s_md;
        }

        &:first-child {
            &:before {
                content: '';
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.billboard__image {
    display: none;

    @include breakpoint('md') {
        display: block;
        height: $s_sm * 22.5;
        overflow: hidden;

        .image {
            position: absolute;
            right: 0;
            bottom: 0;
            width: calc(#{grid-cell-size(9)} - 1.6rem);
            height: $s_sm * 22.5;
            margin-bottom: -#{$s_lg};
            overflow: hidden;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @include breakpoint('lg') {
        height: $s_lg * 6.67;

        .image {
            width: calc(#{grid-cell-size(7)} - 1.6rem);
            height: $s_lg * 6.67;
        }
    }

    .billboard__section--reverse & {
        .image {
            left: 0;
            margin-left: $grid_g_lg;
        }
    }
}
