{% extends '_layout.njk' %}
{% set title = 'badge' %}
{% set app = 'cwel' %}

{% block css %}
    <link href="../main.css" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script src="badge.js"></script>
{% endblock %}

{% block content %}
    <button class="badge" badge start="0" ng-click="increment()">
        <span class="badge__counter" ng-bind="counter">0</span>
    </button>
{% endblock %}
