@using Cwo.Core.Web.HtmlExtensions
@model Cwo.Core.ComponentViewModels.{{ name }}.{{ name }}ComponentViewModel

@{
    Html.RequireScript(AssetType.Component, "{{ name }}");
}

@* Code, code, durr... *@

<div></div>
