{% macro default(title, title2, text) %}
    <section class="container--dark">
        <div class="container">
            <div class="mini-contact">
                <div class="mini-contact__col">
                    <h4 class="mini-contact__title">
                        {[ title ]}
                    </h4>
                    <div class="mini-contact__text">
                        <p>{[ text ]}</p>
                    </div>
                </div>
                <div class="mini-contact__col">
                    <h4 class="mini-contact__title">
                        {[ title2 ]}
                    </h4>
                    <div class="mini-contact__text">
                        <p>Monday to Friday 8am - 8pm</p>
                        <p>Saturday 9am - 5pm</p>
                        <p>Sunday 10am - 4pm</p>
                    </div>
                </div>
                <div class="mini-contact__col mini-contact__col--alignleft">
                    <button class="mini-contact__button mini-contact__button--bright"></button>
                    <button class="mini-contact__button--small mini-contact__button--bright"></button>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}

{% macro dualcolumn(title, title2, text) %}
    <section class="container--dark">
        <div class="container">
            <div class="mini-contact--dual-col">
                <div class="mini-contact__col--half mini-contact__col--centered">
                    <h4 class="mini-contact__title">
                        {[ title ]}
                    </h4>
                    <div class="mini-contact__text">
                        <p>{[ text ]}</p>
                    </div>
                </div>
                <div class="mini-contact__col--half mini-contact__col--centered">
                    <h4 class="mini-contact__title">
                        {[ title2 ]}
                    </h4>
                    <div class="mini-contact__text">
                        <p>Monday to Friday 8am - 8pm</p>
                        <p>Saturday 9am - 5pm</p>
                        <p>Sunday 10am - 4pm</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}

{% macro dualcolumnmix(title, text) %}
    <section class="container--dark">
        <div class="container">
            <div class="mini-contact--dual-col">
                <div class="mini-contact__col--half mini-contact__col--centered">
                    <h4 class="mini-contact__title">
                        {[ title ]}
                    </h4>
                    <div class="mini-contact__text">
                        <p>{[ text ]}</p>
                    </div>
                </div>
                <div class="mini-contact__col--half">
                    <button class="mini-contact__button--medium mini-contact__button--bright"></button>
                    <button class="mini-contact__button--small mini-contact__button--bright"></button>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}

{% macro singlecolumn(title, text) %}
    <section class="container--dark">
        <div class="container">
            <div class="mini-contact--single-col">
                <div class="mini-contact__col--full mini-contact__col--centered">
                    <h4 class="mini-contact__title">
                        {[ title ]}
                    </h4>
                    <div class="mini-contact__text">
                        <p>{[ text ]}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}

{% macro singlecolumnmix(title) %}
    <section class="container--dark">
        <div class="container">
            <div class="mini-contact--single-col">
                <div class="mini-contact__col--full mini-contact__col--centered">
                    <h4 class="mini-contact__title">
                        {[ title ]}
                    </h4>
                </div>
                <div class="mini-contact__col--full">
                    <button class="mini-contact__button--medium mini-contact__button--bright"></button>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}