{% macro default(title, breadcrumb1, breadcrumb2) %}
<section class="billboard">
	<div class="billboard__container">
		<div class="billboard__section">
            <div class="billboard__header">
                <ul class="billboard__breadcrumb">
                    <li class="billboard__breadcrumb__item">{[ breadcrumb1 ]}</li>
                    <li class="billboard__breadcrumb__item">{[ breadcrumb2 ]}</li>
                </ul>
                <h1 class="billboard__title">
                    {[ title ]}
                </h1>
            </div>
		</div>
	</div>
</section>
<p style="margin-bottom: 100px;">&nbsp;</p>
{% endmacro %}

{% macro withimage(title, breadcrumb1, breadcrumb2) %}
<section class="billboard">
    <div class="billboard__container">
        <div class="billboard__section billboard__section--image">
            <div class="billboard__header">
                <ul class="billboard__breadcrumb">
                    <li class="billboard__breadcrumb__item">{[ breadcrumb1 ]}</li>
                    <li class="billboard__breadcrumb__item">{[ breadcrumb2 ]}</li>
                </ul>
                <h1 class="billboard__title">
                    {[ title ]}
                </h1>
            </div>
            <div class="billboard__image">
                <div class="image">
                    <img class="" src="../display/display-image.png" alt="This is an example image" />
                </div>
            </div>
        </div>
    </div>
</section>
<p style="margin-bottom: 100px;">&nbsp;</p>
{% endmacro %}

{% macro withimagereverse(title, breadcrumb1, breadcrumb2) %}
	<section class="billboard">
		<div class="billboard__container">
			<div class="billboard__section billboard__section--image billboard__section--reverse">
                <div class="billboard__header">
    				<ul class="billboard__breadcrumb">
    					<li class="billboard__breadcrumb__item">{[ breadcrumb1 ]}</li>
    					<li class="billboard__breadcrumb__item">{[ breadcrumb2 ]}</li>
    				</ul>
    				<h1 class="billboard__title">
    					{[ title ]}
    				</h1>
                </div>
                <div class="billboard__image">
                    <div class="image">
                        <img class="" src="../display/display-image.png" alt="This is an example image" />
                    </div>
                </div>
			</div>
		</div>
	</section>
    <p style="margin-bottom: 100px;">&nbsp;</p>
    <section class="container" >
        <div class="grid" >
            <!-- half width -->
            <div class="grid__cell grid__cell--size-6">
                <div class="block block--claustrophobic" style="background-color: red;">
                    Hello
                </div>
            </div>
            <!-- half width -->
            <div class="grid__cell grid__cell--size-6">
                <div class="block block--claustrophobic" style="background-color: red;">
                    Hello
                </div>
            </div>
            <!-- full width on xs, half width on large -->
            <div class="grid__cell grid__cell--size-12-xs grid__cell--size-6-lg" style="background-color: red;">
                Hello
            </div>
            <!-- full width on xs, half width on large -->
            <div class="grid__cell grid__cell--size-12-xs grid__cell--size-6-lg" style="background-color: red;">
                Hello
            </div>
        </div>
        <p style="margin-bottom: 100px;">&nbsp;</p>
    </section>
{% endmacro %}
