@import 'cwel/style/main';

$primary-color: black;
$secondary-color: transparent;

.docs-example__tabs {
    display: block;
    padding-left: 0;
    list-style: none;
}

.docs-example__tab {
    display: inline-block;
    margin-right: $s_xs;
    color: $primary-color;
    border-bottom: 0.16rem solid $secondary-color;
    cursor: pointer;

    &:hover,
    &--active {
        border-color: $primary-color;
    }
}

.docs-example__panel {
    display: block;
    width: 100%;
    margin-bottom: $s_sm;
    resize: none;
}

.docs-example__submit {
    padding: $s_xs;
    padding-right: $s_sm;
    padding-left: $s_sm;
    font-size: 1.3rem;
    background: none;
    border: 0.14rem solid $primary-color;
    cursor: pointer;
}
