
.sd-color-preview {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 1rem;
    border-width: 0.5rem;
    border-style: solid;
    border-radius: 50%;

    .sd-sidebar__link & {
        float: right;
    }

}
