
.sd-sb-type {

    @include breakpoint('l') {
        padding-right: 1rem;
        padding-left: 1rem;
    }

}

.sd-sb-type__heading {
    display: block;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $color-secondary-2;
    font-size: 0.67rem;
    font-weight: 400;
    text-transform: uppercase;
}