
.sd-sidebar {
    padding: 2rem;
    background-color: $color-core-2;

    @include breakpoint('l') {
        width: 20%;
        max-width: 24rem;
        padding: 0;
        border-right: 1px solid $color-secondary-2; // stylelint-disable-line declaration-property-unit-blacklist
    }

}

.sd-sidebar__utility {
    padding-bottom: 2rem;
    border-bottom: 1px dashed $color-secondary-2; // stylelint-disable-line declaration-property-unit-blacklist

    .button {
        margin-bottom: 0;
    }

    @include breakpoint('l') {
        padding: 1rem;
    }

}

.sd-sidebar__body {

    @include breakpoint('l') {
        position: sticky;
        top: 0;
    }

}

.sd-sidebar__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.sd-sidebar__link {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: $color-secondary-1;
    font-family: $code-font-stack;
    font-size: 1rem;

    &:active,
    &:focus,
    &:hover,
    &:link,
    &:visited {
        text-decoration: none;
    }

}
