@model Cwel.Web.{{ name | pascalize }}ViewModel

@{
    Html.RequireScript(AssetType.Pattern, "{{ name | pascalize }}");
}

<div class="cwel-{{ name | kebabize }}">
    <ul class="cwel-{{ name | kebabize }}__items">
        <li class="cwel-{{ name | kebabize }}">@</li>
        @for (var i = 0; i < Model.Components.Count; i++)
        {
            var component = Model.Components[i];

            <li class="cwel-{{ name | kebabize }}__item">
                @Html.Component(component)
            </li>
        }
    </ul>
</div>
