@import './device';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include breakpoint('s') {
        font-size: 65%;
    }

    @include breakpoint('m') {
        font-size: 70%;
    }

    @include breakpoint('l') {
        font-size: 75%;
    }

    @include breakpoint('xl') {
        font-size: 80%;
    }
}

body {
    font-size: 1.6rem;
}
