
@mixin container {
    display: block;
    width: 100%;
    margin: auto;
    padding-right: $CONTAINER-MARGIN-XS;
    padding-left: $CONTAINER-MARGIN-XS;

    @each $device-size in map-keys($BREAKPOINTS) {
        $width: map-get($CONTAINER, 'width-#{$device-size}');
        $margin: map-get($CONTAINER, 'margin-#{$device-size}');

        @include breakpoint($device-size) {
            @if ($width != null) {
                max-width: $width;
            }
            @if ($margin != null) {
                padding-right: $margin;
                padding-left: $margin;
            }
        }
    }
}

@mixin fluid-container {
    display: block;
    max-width: none;
    margin: auto;
    padding-right: $CONTAINER-MARGIN-XS;
    padding-left: $CONTAINER-MARGIN-XS;

    @each $device-size in map-keys($BREAKPOINTS) {
        $margin: map-get($CONTAINER, 'margin-#{$device-size}');

        @include breakpoint($device-size) {
            @if ($margin != null) {
                padding-right: $margin;
                padding-left: $margin;
            }
        }
    }
}

@mixin generate-container-classes {
    .container {
        @include container;
    }
    .container--fluid {
        @include fluid-container;
    }
}
