
@import "settings";


@mixin grid($grid-settings: $GRID) {
    $gutter-xs: map-get($grid-settings, 'gutter-xs');

    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: $gutter-xs * -1;
    margin-left: $gutter-xs * -1;

    @each $key in map-keys($BREAKPOINTS) {
        $breakpoint: map-get($BREAKPOINTS, $key);
        $gutter: map-get($grid-settings, 'gutter-#{$key}');

        @media(min-width: $breakpoint) {
            margin-left: $gutter * -1;
            margin-bottom: $gutter * -1;
        }
    }
}

@function grid-cell-size($n) {
    @return ($n / 12) * 100%;
}

@mixin grid-cell($sizing, $grid-settings: $GRID) {
    $gutter-xs: map-get($grid-settings, 'gutter-xs');
    $width-xs: map-get($sizing, 'xs') or 12;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: grid-cell-size($width-xs);
    max-width: grid-cell-size($width-xs);
    padding-left: $gutter-xs;

    @each $key in map-keys($BREAKPOINTS) {
        $breakpoint: map-get($BREAKPOINTS, $key);
        $width: map-get($sizing, $key);
        $gutter: map-get($grid-settings, 'gutter-#{$key}');

        @media(min-width: $breakpoint) {
            @if ($width != null) {
                flex-basis: grid-cell-size($width);
                max-width: grid-cell-size($width);
            }
            padding-left: $gutter;
        }
    }
}

/*************************************
 * Grid Utilities
 ************************************/

@mixin grid-align($alignment: 'left') {
    $horizontal: (
        left: flex-start,
        center: center,
        right: flex-end,
    );
    $vertical: (
        top: flex-start,
        middle: center,
        bottom: flex-end
    );

    @if $alignment in $horizontal  {
        justify-content: map-get($horizontal, $alignment);
    }

    @if $alignment in $vertical {
        align-items: map-get($vertical, $alignment);
    }
}

@mixin grid-reverse {
    flex-direction: row-reverse;
}

@mixin grid-flush {
    margin-left: 0;
}

/*************************************
 * Grid Cell Utilities
 ************************************/

@mixin grid-cell-align($alignment: 'top') {
    $vertical: (
        top: flex-start,
        middle: center,
        bottom: flex-end
    );

    @if $alignment in $vertical {
        align-self: map-get($vertical, $alignment);
    }
}

@mixin grid-cell-flush {
    padding-left: 0;
}

@mixin grid-cell-fit {
    flex-grow: 1;
    max-width: none;
}
