
/**************************
 * SPACES
 *************************/

$SPACE-XXS: 0.4rem;
$SPACE-XS: $SPACE-XXS * 2;
$SPACE-S: $SPACE-XS * 2;
$SPACE-M: $SPACE-S * 2;
$SPACE-L: $SPACE-M * 2;
$SPACE-XL: $SPACE-L * 2;

$SPACES: (
    xxs: $SPACE-XXS,
    xs: $SPACE-XS,
    s: $SPACE-S,
    m: $SPACE-M,
    l: $SPACE-L,
    xl: $SPACE-XL
);

/**************************
 * BREAKPOINTS
 *************************/

$BREAKPOINT-S: 25em; // 400px;
$BREAKPOINT-M: 37.5em; // 600px;
$BREAKPOINT-L: 62.75em; // 1004px;
$BREAKPOINT-XL: 80em; // 1280px;

$BREAKPOINTS: (
    s: $BREAKPOINT-S,
    m: $BREAKPOINT-M,
    l: $BREAKPOINT-L,
    xl: $BREAKPOINT-XL
);

/**************************
 * CONTAINER
 *************************/

$CONTAINER-WIDTH-L: $BREAKPOINT-L;
$CONTAINER-WIDTH-XL: $BREAKPOINT-XL;

$CONTAINER-MARGIN-XS: $SPACE-XS;
$CONTAINER-MARGIN-S: $SPACE-S;
$CONTAINER-MARGIN-M: $SPACE-XS + $SPACE-XXS;
$CONTAINER-MARGIN-L: $SPACE-XS + $SPACE-XXS;
$CONTAINER-MARGIN-XL: $SPACE-XS + $SPACE-XXS;

$CONTAINER: (
    width-lg: $CONTAINER-WIDTH-L,
    width-xl: $CONTAINER-WIDTH-XL,
    margin-xs: $CONTAINER-MARGIN-XS,
    margin-sm: $CONTAINER-MARGIN-S,
    margin-md: $CONTAINER-MARGIN-M,
    margin-lg: $CONTAINER-MARGIN-L,
    margin-xl: $CONTAINER-MARGIN-XL
);

/**************************
 * GRID
 *************************/

$GRID-GUTTER-XS: $SPACE-XS;
$GRID-GUTTER-S: $SPACE-XS;
$GRID-GUTTER-M: $SPACE-S;
$GRID-GUTTER-L: $SPACE-S;
$GRID-GUTTER-XL: $SPACE-S;

$GRID: (
    gutter-xs: $GRID-GUTTER-XS,
    gutter-s: $GRID-GUTTER-S,
    gutter-m: $GRID-GUTTER-M,
    gutter-l: $GRID-GUTTER-L,
    gutter-xl: $GRID-GUTTER-XL
);
