
@mixin line-height($options: ()) {
    $font-size: map-get($options, 'font-size');
    $leading: map-get($options, 'leading');

    line-height: ($leading / $font-size);
}

@mixin normalized-line-height($options: ()) {
    $font-size: map-get($options, 'font-size');
    $leading: map-get($options, 'leading');
    $leading-compensation: ($leading - $font-size) / 2;
    $margin-top: -($leading-compensation);

    margin-top: #{$margin-top}rem;
    margin-bottom: #{$margin-top}rem;
    @include line-height((
        font-size: $font-size,
        leading: $leading
    ));
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}

sub {
    bottom: -0.25em; // stylelint-disable-line
}

sup {
    top: -0.5em; // stylelint-disable-line
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

/*
abbr[title] {
  border-bottom: none;  1
  text-decoration: underline;  2
  text-decoration: underline dotted; 2
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.

hr {
  box-sizing: content-box;  1
  height: 0; 1
  overflow: visible; 2
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.

pre {
  font-family: monospace, monospace; 1
  font-size: 1em; 2
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp

/**
 * Add the correct font style in Android 4.3-.

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.

small {
  font-size: 80%;
}

*/
