{% extends '_layout.njk' %}
{% set title = 'Code Pen Editor' %}

{% block content %}
<div class="container">
    <h1>Code Pen Editor</h1>

    <div docs-example class="docs-example">
        <textarea class="html" rows="12" cols="80" ng-model="data.markup"></textarea>
        <textarea class="scss" rows="12" cols="80" ng-model="data.style"></textarea>
        <textarea class="js" rows="12" cols="80" ng-model="data.script"></textarea>
        <form action="https://codepen.io/pen/define" method="POST" target="_blank">
            <input type="hidden" name="data" ng-value="data">
            <input type="submit" value="Edit in Code Pen">
        </form>
    </div>
</div>
{% endblock %}
