@import 'Cwel/Style/main';

// Who we are colours
$blue-primary: #e7f5fc;
$blue-default: #bcd9e8;
// What we do colours
$green-primary: #e5f3f0;
$green-default: #b1e4d9;
// News colours
$orange-primary: #fdf3eb;
$orange-default: #f2ac77;
// Homepage and contact colours
$grey-primary: #eaeeef;
$grey-default: #cacdce;

$billboard-primary-background: $blue-primary;
$billboard-default-color: $blue-default;

.billboard {
    display: block;
    height: 24rem;
    margin-bottom: $SPACE-M * 2;
    background-color: $billboard-primary-background;

    @include breakpoint('m') {
        height: 36rem;
    }
    @include breakpoint('l') {
        height: 48rem;
    }
}
.billboard__content {
    @include container;

    @include breakpoint('m') {
        position: relative;
        padding-top: $SPACE-L;
    }
}
.billboard__content-grid {

    @include breakpoint('m') {
        @include grid();
        @include grid-align('right');
    }

    .billboard--reversed & {
        @include grid-reverse;
    }
}
.billboard__content-group {
    left: 0;
    padding-top: $SPACE-M;
    padding-right: $SPACE-L;
    padding-bottom: $SPACE-M;
    padding-left: $SPACE-M;

    @include breakpoint('m') {
        position: absolute;
        max-width: 40rem; // Missing from spec
        background-color: $billboard-primary-background;
    }
    @include breakpoint('l') {
        position: initial;
        width: grid-cell-size(5);
        max-width: initial;
        padding-top: $SPACE-M * 2;
        background-color: transparent;
    }

    .billboard--reversed & {
        right: 0;
        left: initial;
    }
}
.billboard__heading {
    font-size: 3.8rem; // Missing from spec
    line-height: 4.4rem; // Missing from spec

    @include breakpoint('m') {
        font-size: 4.2rem;
        line-height: 4.5rem; // Need to use normalize line height mixin
    }
    @include breakpoint('l') {
        font-size: 4.8rem;
        line-height: 5.8rem; // Need to use normalize line height mixin
    }
}
.billboard__image-container {
    display: none;

    @include grid-cell((
        'm': 9,
        'l': 7
    ));

    @include breakpoint('m') {
        display: block;
        min-height: 36rem;
    }
    @include breakpoint('l') {
        min-height: 48rem;
    }
}
.billboard__image {
    width: 100%;
    height: 100%;
    background-color: $billboard-default-color;
    background-size: cover;
}

.breadcrumbs {
    font-size: 1.6rem;

    .billboard__content-group & {
        padding-bottom: $SPACE-M;
    }
}
.breadcrumbs__crumb {
    display: none; // hides all items
    cursor: pointer;

    &:after {
        content: '>';
        display: inline-block;
        padding-right: $SPACE-XS;
        padding-left: $SPACE-XS;
        vertical-align: middle;
        cursor: default;
    }
    &:last-child {
        &:after {
            content: '';
        }
    }
    // Displays only last two items
    &:last-child,
    &:nth-last-child(2) {
        display: inline-block;
    }
}

.section {
    padding-top: $SPACE-M;
    padding-bottom: $SPACE-M;
}
