@using Cwo.Core.ComponentViewModels.Card
@using Cwo.Core.Web.HtmlExtensions

<h1>Card</h1>

<h2>Notes</h2>
<p>This is a card component.</p>


<h2>ViewModel</h2>

Type: 
Summary: 

<h3>Properties</h3>



<h2>Scope</h2>


