
.sd-message {

    width: 100%;
    padding: 1rem;
    overflow: hidden;
    border-width: 2px; // stylelint-disable-line declaration-property-unit-blacklist
    border-style: solid;
    border-left-width: 1rem;

    .sd-message__heading {
        display: block;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
    }

    p { // Tag selector required as this is what SassDoc outputs
        margin: 0;
    }

}

.sd-message--deprecated {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #e06c6e;
    background-color: rgba(224, 108, 108, 0.3);
    border-color: #e06c6e;

    .sd-message__heading{
        color: darken(#e06c6e, 10%);
    }

}

.sd-message--todo {
    margin-bottom: 2rem;
    color: #f0ad4e;
    background-color: rgba(240, 173, 78, 0.3);
    border-color: #f0ad4e;

    .sd-message__heading {
        color: darken(#f0ad4e, 10%);
    }

}