
.sd-color-preview {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
    background-color: #fff;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
    border-width: 0.3rem;
    border-style: solid;
    border-radius: 50%;

    .sd-sidebar__link & {
        float: right;
    }

}
