{% block body %}

    <div class="hero">
        <span class="hero__background"></span>
        <span class="hero__title">CWEL</span>
        <h1 class="hero__heading">
            <span>Countrywide</span> Experience Language
        </h1>
        <div class="hero__button">
            <a class="button">Get Started</a>
        </div>
    </div>
    <div class="overview">
        <a href="" class="overview__item">
            <div class="overview__item-icon">
                {% include '../../shared/asset/img/icon/guides-icon.svg' %}
            </div>
            <div class="overview__item-content">
                <h2 class="overview__item-title">Guides</h2>
                <p class="overview__item-text">Onboarding for designers and developers who are using Carbon for the first time.</p>
            </div>
        </a>
        <a href="" class="overview__item">
            <div class="overview__item-icon">
                {% include '../../shared/asset/img/icon/style-icon.svg' %}
            </div>
            <div class="overview__item-content">
                <h2 class="overview__item-title">Style</h2>
                <p class="overview__item-text">Guidance on usage and application for basic design elements.</p>
            </div>
        </a>
        <a href="" class="overview__item">
            <div class="overview__item-icon">
                {% include '../../shared/asset/img/icon/components-icon.svg' %}
            </div>
            <div class="overview__item-content">
                <h2 class="overview__item-title">Components</h2>
                <p class="overview__item-text">A library of all Carbon components, compromised of code, usage and style guidelines.</p>
            </div>
        </a>
        <a href="" class="overview__item">
            <div class="overview__item-icon">
                {% include '../../shared/asset/img/icon/ui-kit-icon.svg' %}
            </div>
            <div class="overview__item-content">
                <h2 class="overview__item-title">UI Kit</h2>
                <p class="overview__item-text">A helpful list of tools, links and downloads that will improve a Carbon user’s workflow.</p>
            </div>
        </a>
    </div>

{% endblock %}
