@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    min-width: 14.66rem;
    margin-bottom: 1.68rem;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    color: $brand-color-1;
    font-size: 1.4rem;
    text-align: center;
    border-width: 2px; // stylelint-disable-line
    border-style: solid;
    border-color: $brand-color-1;
    border-radius: 5rem;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $color-white;
        background: $brand-color-1;
        transition: all 0.5s ease;

        .button__icon {
            svg path,
            svg line {
                stroke: $color-white;
                transition: all 0.5s ease;
            }
        }
    }
}

.button {
    @include button;
}
.button--icon {
    justify-content: space-between;
}
.button__icon {
    height: 1.4rem;
    padding-left: 0.75rem;
    svg {
        height: 1.2rem;
    }
    svg path,
    svg line {
        stroke: $brand-color-1;
        fill: none;
    }
}
