html,
body {
    height: 100%;
    background: $color-grey;
}

body {
    font-weight: 300;
    line-height: 1.4;
}

.docs {
    position: relative;
    margin-left: 0;
    background: $color-white;
    transition: all 0.5s;
}
.docs--side-nav {
    margin-left: 20rem;
}