html,
body {
    height: 100%;
    color: $text-color;
    background: $color-grey;
}
body {
    font-weight: 300;
    line-height: 1.4;
}
.docs {
    position: relative;
    margin-left: 0;
    background: $color-white;
    transition: all 0.5s;
}
.docs--side-nav {
    @include breakpoint('m') {
        margin-left: 20rem;
    }
}
.container--docs {
    height: 100%;
    padding-right: 4rem;
    padding-left: 4rem;
}