.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 16rem;
    color: $text-color;
    font-size: 1.4rem;
    background: $color-grey;

    @include breakpoint('l') {
        flex-direction: unset;
    }
}
.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    padding-top: 3rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
}
.footer__content-text {
    margin-top: 0.5rem;
    margin-bottom: 0;

    &:last-of-type {
        margin-top: 2rem;
    }
}
.footer__brand {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 4rem;
    padding-bottom: 3rem;
    padding-left: 4rem;

    @include breakpoint('l') {
        padding-left: 0;
    }
}
.footer__brand-logo {
    width: 16rem;
    margin-bottom: 2rem;

    @include breakpoint('l') {
        align-self: flex-end;
    }

    svg path {
        fill: $text-color;
        stroke: none;
    }
}
.footer__brand-social {
    display: flex;
}
.brand-social__link {
    display: flex;
    margin-right: 2.5rem;
    color: $text-color;
    text-decoration: none;

    @include breakpoint('l') {
        margin-right: 0;
        margin-left: 2.5rem;
    }

    &:hover,
    &:focus {
        color: $brand-color-1;
        svg path {
            fill: $brand-color-1;
        }
    }
}
.brand-social__link-icon {
    margin-right: 1rem;
    svg {
        width: 1.4rem;
        height: 1.4rem;
    }
    svg path {
        fill: $text-color;
        stroke: none;
    }
}