.heading {
    position: relative;
    height: 24rem;
    margin-bottom: 5rem;
    background: $color-grey;
    border-bottom-width: 2px; // stylelint-disable-line
    border-bottom-style: solid;
    border-bottom-color: $brand-color-1;
}
.heading__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.heading__content-title {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 5rem;
    font-weight: 500;
    line-height: 1;
    @include breakpoint('l') {
        font-size: 7rem;
    }
}
.heading__content-parent {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

.heading__tabs {
    position: absolute;
    bottom: 0.2rem;
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.tabs-item {
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;

    &:first-of-type {
        padding-left: 0;
    }
    &:last-of-type {
        padding-right: 0;
    }
}
.tabs-item__link {
    padding-bottom: 1rem;
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $brand-color-1;
        border-bottom-width: 3px; // stylelint-disable-line
        border-bottom-style: solid;
        border-bottom-color: $brand-color-1;
    }
}