.side-nav__toggle-btn {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 3rem;
    background: $color-white;
    border: none;
    cursor: pointer;
    &:hover {
        background: $color-grey;
    }
}
.line {
    width: 1.8rem;
    height: 0.2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    background: $brand-color-1;
}