@using Cwo.Core.PatternViewModels.CardSlider
@using Cwo.Core.Web.HtmlExtensions

<h1>CardSlider</h1>

<h2>Notes</h2>
<p>Hi, this is a bitchin&#39; component and that&#39;s all you need to know... <em>Pattern</em>, I mean!</p>


<h2>ViewModel</h2>

Type: 
Summary: 

<h3>Properties</h3>



<h2>Scope</h2>


<h3></h3>








<h3>currentIndex</h3>


<strong>Type:</strong> int







<h3>previous</h3>




<strong>Params:</strong>
<ul>
  
  <li>{string} str Cool string with a name.</li>
  
</ul>



<strong>Returns:</strong> {void}



<h3>next</h3>






<strong>Returns:</strong> {void}



