{% block body %}

<div class="heading">
    <div class="container container--docs">
        <div class="heading__content">
            <h2 class="heading__content-parent">{{ type }}</h2>
            <h1 class="heading__content-title">{{ title }}</h1>
        </div>
    </div>
</div>

<div class="container container--docs" ng-bind-html="body | markdown">

</div>

{% endblock %}
