{% extends './_layout.njk' %}

{% block css %}
<link rel="stylesheet" href="../../shared/asset/cwel/style/main.css">
{% endblock %}

{% block js %}
<script src="../../shared/asset/cwel/script/main.js"></script>
{% endblock %}

{% block content %}
    {% include componentFile %}
{% endblock %}
