<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link href="{{ css }}" rel="stylesheet" />
    <script src="../cwel-full.js"></script>
    <script src="{{ js }}"></script>
</head>
<body>
    <main class="main container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>