@import 'Cwel/Style/main';
@import './button';
@import '../../grid-overlay';
@import '../../block';
@import '../divider';
@import '../viewport';

.viewport__group {
    @include viewport-group;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
}

.viewport__breakpoint {
    @include viewport-breakpoint;
    display: inline-block;
    font-weight: 600;
}

.overlay-open {
    @include button;
}

.section {
    @include divider;
    padding-top: $SPACE-M;
    padding-bottom: $SPACE-M;
}
