@keyframes anim-zoom-bounce-in {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }
    0% {
        transform: scale3d(1, 1, 1);
    }
    20% {
        transform: scale3d(1.375, 1.375, 1.375);
    }
    40% {
        transform: scale3d(1.125, 1.125, 1.125);
    }
    60% {
        transform: scale3d(1.2875, 1.2875, 1.2875);
    }
    80% {
        transform: scale3d(1.2125, 1.2125, 1.2125);
    }
    100% {
        transform: scale3d(1.25, 1.25, 1.25);
    }
}
@keyframes anim-zoom-bounce-out {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }
    0% {
        transform: scale3d(1.125, 1.125, 1.125);
    }
    20% {
        transform: scale3d(0.875, 0.875, 0.875);
    }
    40% {
        transform: scale3d(1.125, 1.125, 1.125);
    }
    60% {
        transform: scale3d(0.9625, 0.9625, 0.9625);
    }
    80% {
        transform: scale3d(1.0325, 1.0325, 1.0325);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}
