@mixin button-icon() {
    display: inline-block;
    height: 40px;
    width: 16px;
    margin-right: 8px;
    content: '';
}

.button {
    display: inline-block;
    width: 100%;
    min-width: 140px;
    height: 42px;
    margin-bottom: 16px;
    color: $colour-core1;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: $colour-core1;
    cursor: pointer;
}
.button__text {
    vertical-align: top;
}
.button:hover,
.button:focus {
    background: $colour-core2;
    transition: all 0.5s ease;
}
.button--icon-import:before {
    @include button-icon();
    @include spritesheet(0, 4.88);
}
.button--icon-save:before {
    @include button-icon();
    @include spritesheet(0, 5.89);
}
.button--icon-arrow-up:before {
    @include button-icon();
    @include spritesheet(0, -0.17);
    width: 12px;
}
.button--icon-arrow-down:before {
    @include button-icon();
    @include spritesheet(0, 7.83);
    width: 12px;
}
.button--icon-clear:before {
    @include button-icon();
    @include spritesheet(0, 0.87);
    margin-left: 1px;
    width: 14px;
}
.button--icon-edit:before {
    @include button-icon();
    @include spritesheet(0, 1.91);
    width: 22px;
}
.button--icon-menu:before {
    @include button-icon();
    @include spritesheet(0, 3.86);
}
.button--icon-output:before {
    @include button-icon();
    @include spritesheet(0, 8.89);
    width: 23px;
}
.button--icon-add:before {
    @include button-icon();
    @include spritesheet(1, -0.13);
    width: 14px;
}
.button--icon-update:before {
    @include button-icon();
    @include spritesheet(1, 0.91);
    width: 16px;
}
.button--icon-only {
    width: 50px;
    min-width: initial;
}
.button--icon-only:before {
    margin-right: 0;
}
