@mixin button-icon() {
    display: inline-block;
    height: 2.5rem;
    width: 1rem;
    margin-right: .5rem;
    content: '';
}

.button {
    display: inline-block;
    width: 100%;
    min-width: 8.75rem;
    height: 2.63rem;
    margin-bottom: 1rem;
    color: $colour-core1;
    text-align: center;
    line-height: 2.5rem;
    border-radius: $border-radius-standard;
    border-width: $border-width-standard;
    border-style: solid;
    border-color: $colour-core1;
    cursor: pointer;
}
.button__text {
    vertical-align: top;
}
.button:hover,
.button:focus {
    background: $colour-core2;
    transition: all .5s ease;
}
.button--icon-import:before {
    @include button-icon();
    @include spritesheet(0, 4.88);
}
.button--icon-save:before {
    @include button-icon();
    @include spritesheet(0, 5.89);
}
.button--icon-arrow-up:before {
    @include button-icon();
    @include spritesheet(0, -.17);
    width: .75rem;
}
.button--icon-arrow-down:before {
    @include button-icon();
    @include spritesheet(0, 7.83);
    width: .75rem;
}
.button--icon-clear:before {
    @include button-icon();
    @include spritesheet(0, 0.87);
    margin-left: .06rem;
    width: .88rem;
}
.button--icon-edit:before {
    @include button-icon();
    @include spritesheet(0, 1.91);
    width: 1.38rem;
}
.button--icon-menu:before {
    @include button-icon();
    @include spritesheet(0, 3.86);
}
.button--icon-output:before {
    @include button-icon();
    @include spritesheet(0, 8.89);
    width: 1.43rem;
}
.button--icon-add:before {
    @include button-icon();
    @include spritesheet(1, -0.13);
    width: 1rem;
}
.button--icon-update:before {
    @include button-icon();
    @include spritesheet(1, 0.91);
    width: 1rem;
}
.button--icon-only {
    width: 3.5rem;
    min-width: initial;
}
.button--icon-only:before {
    margin-right: 0;
}
