.component-order {
    min-height: 200px;
    margin-bottom: 20px;
    @include breakpoint('l') {
        min-height: 450px;
    }
}
.component-order__item {
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px;
}
.component-order__item-title {
    display: inline-block;
    width: 100%;
    min-width: 100px;
    height: 40px;
    padding-left: 20px;
    color: $core1;
    text-align: left;
    line-height: 40px;
    background: $white;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: $core1;
}
.component-order__item-action,
.component-order__item-title {
    margin-right: 10px;
}
.component-order__item-action:last-child {
    margin-right: 0px;
}

.component-order .button--icon-arrow-up,
.component-order .button--icon-arrow-down,
.component-order .button--icon-edit {
    display: none;
    @include breakpoint('l') {
        display: inline-block;
    }
}
