.docs {
    color: $core1;
    @include breakpoint('s') {
        min-height: 900px;
    }
}
.docs__title {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.docs__section {
    margin-bottom: 20px;
}
