.docs-example__nav {
    height: 100%;
    @include breakpoint('m') {
        display: flex;
    }
}
.docs-example__nav-ul {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
}
.docs-example__nav-li {
    overflow: hidden;
    color: $colour-core1;
    border-style: solid;
    border-color: $colour-secondary2;
    border-top-width: $border-width-standard;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: $border-width-standard;
    border-top-right-radius: $border-radius-standard;
    border-top-left-radius: $border-radius-standard;
    @include breakpoint('m') {
        flex: none;
    }

    &--active {
        background: $colour-core2;
    }
}
.docs-example__nav-li:last-child {
    border-right-width: $border-width-standard;
}
.docs-example__nav-link {
    display: flex;
    padding-top: 0.62rem;
    padding-right: 1rem;
    padding-bottom: 0.62rem;
    padding-left: 1rem;
    cursor: pointer;
}
.docs-example__nav-link:hover {
    background: $colour-core2;
}
.docs-example__nav-title {
    padding-top: 0.62rem;
    padding-bottom: 0.62rem;
    color: $colour-core1;
    font-size: 1rem;
    font-weight: 600;
    border-top-right-radius: $border-radius-standard;
    border-top-left-radius: $border-radius-standard;
}
.docs-example__content {
    height: auto;
    min-height: 12.5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    background: $colour-core2;
    border-width: $border-width-standard;
    border-style: solid;
    border-color: $colour-secondary2;
    border-bottom-right-radius: $border-radius-standard;
    border-bottom-left-radius: $border-radius-standard;

    &--center {
        text-align: center;
    }
}

.docs-example__preview {
    max-width: 100%;
    border: none;
    resize: both;
}
