@mixin form-control() {
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: $colour-secondary2;
}
@mixin form-icon() {
    height: 40px;
    width: 20px;
    content: '';
}

.form-field__input {
    @include form-control();
}
.form-field__select {
    @include form-control();
    cursor: pointer;
    appearance: none;
}
.form-field__select-container {
    position: relative;
    overflow: hidden;
}
.form-field__textarea {
    @include form-control();
    min-height: 200px;
    overflow: auto;
    resize: none;
}
.form-field {
    margin-bottom: 16px;
}
.form-field__label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    color: $colour-core1;
    @include breakpoint('m') {
        font-size: 0.9rem;
    }
}
.form-field__select-container--icon-arrow:after {
    @include form-icon();
    @include spritesheet(0, 2.96);
    position: absolute;
    top: 16px;
    right: 10px;
    pointer-events: none;
}
.form-field--icon-search:before {
    @include form-icon();
    @include spritesheet(0, 7);
    position: absolute;
    top: 12px;
    left: 0;
}
select::-ms-expand {
    display: none;
}
