body {
    background: $core2;
}
.container {
    @include container();
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.docs-playground {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    background: $white;
}
.docs-playground__overlay {
    opacity: 0;
    transition: all 0.5s;
}
.docs-playground__overlay--active {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: $secondary1;
    opacity: 0.6;
}
iframe {
    box-sizing: content-box;
    display: block;
    width: 100%;
    margin: 0 auto;
    border-width: 1px;
    border-style: solid;
    border-color: $secondary2;
}
