.nav-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 260px;
    background: $white;
    box-shadow: 0 0 15px $secondary1;
    overflow: auto;
    transform: translateX(-300px);
    transition: all 0.5s;
}
.nav-sidebar__title {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    color: $white;
    background: $core1;
}
.nav-sidebar__li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $secondary2;
}
.nav-sidebar__li:last-child {
    margin-bottom: 20px;
}
.nav-sidebar__li-link {
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    border: none;
    color: $secondary1;
    cursor: pointer;
}
.nav-sidebar__li-link:hover {
    background: $core2;
}
.nav-sidebar__collapsible-ul {
    max-height: 0;
    padding-left: 26px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $secondary2;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}
.nav-sidebar__collapsible-li {
    position: relative;
}
.nav-sidebar__collapsible-li:before {
    position: absolute;
    top: 4px;
    left: 0;
    font-size: 25px;
    color: $core1;
    content: '• ';
}
.nav-sidebar__collapsible-link {
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 0.9rem;
    color: $secondary1;
}
.nav-sidebar__collapsible-link:hover {
    text-decoration: underline;
}
.nav-sidebar__search {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $secondary2;
}
.nav-sidebar__search-field {
    position: relative;
    margin-bottom: 0;
}
.nav-sidebar__search-input {
    padding-left: 26px;
    color: $core1;
    background: $white;
    border-radius: 0;
    border-width: 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: $core1;
}
.nav-sidebar__search-input::placeholder {
    color: $core1;
}
.nav-sidebar--active {
    transform: translateX(0);
}
.nav-sidebar__collapsible--active {
    max-height: 10000px; // Larger than the box should ever get
    opacity: 1;
}
