*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    position: relative;
}
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
ul {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1.5rem;
    margin-left: 0;
    padding: 0;
    list-style: none;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
    border-style: none;
}
button,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font: inherit;
    letter-spacing: inherit;
    background-color: transparent;
}
textarea {
    overflow: auto;
}
a,
a:hover,
a:focus {
    text-decoration: none;
}

p {
    margin-bottom: 1.5rem;
}

pre {
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

code {
    color: #480344;
    font-size: 1em; // stylelint-disable-line declaration-property-unit-blacklist, unit-whitelist

    &:not(.highlight) {
        // account for highlight.js weirdness
        font-size: 1.2em; // stylelint-disable-line declaration-property-unit-blacklist, unit-whitelist
    }
}
