@font-face {
    font-family: "proxima-nova-bold";
    src:url("../fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix");
    src:url("../fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix") format("eot"),
        url("../fonts/0d416408-95c6-4ad7-b08d-e60573d3b37d.woff2") format("woff2"),
        url("../fonts/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff") format("woff"),
        url("../fonts/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype"),
        url("../fonts/8152bc4e-d700-4c78-b6be-326893e6f53f.svg#8152bc4e-d700-4c78-b6be-326893e6f53f") format("svg");
}
@font-face {
    font-family: "proxima-nova-light";
    src: url("../fonts/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix");
    src: url("../fonts/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix") format("eot"),
        url("../fonts/d9fe41ee-4904-4a11-ba11-b61cd3be767f.woff2") format("woff2"),
        url("../fonts/2fa30669-9bbd-4ced-912f-db94a367ed6c.woff") format("woff"),
        url("../fonts/c12b3ebb-3771-483f-a84a-ac63d615c28e.ttf") format("truetype"),
        url("../fonts/2a961063-ea56-4a4b-8cea-bdae32edb0e2.svg#2a961063-ea56-4a4b-8cea-bdae32edb0e2") format("svg");
}
@font-face {
    font-family: "proxima-nova-regular";
    src: url("../fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
    src: url("../fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),
        url("../fonts/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),
        url("../fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),
        url("../fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"),
        url("../fonts/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
}

$font-family-regular: 'proxima-nova-regular', sans-serif;
$font-family-light: 'proxima-nova-light', sans-serif;
$font-family-bold: 'proxima-nova-bold', sans-serif;

body {
    font-size: 16px;
    font-family: $font-family-regular;
    color: $secondary1;
    letter-spacing: 0.04em;
}
h1,
.h1 {
    margin-top: 0;
    color: $core1;
    font-size: 1.6rem;
}
h2,
.h2 {
    margin-top: 0;
    color: $core1;
    font-size: 1.3rem;
}
h3,
.h3 {
    margin-top: 0;
    color: $core1;
    font-size: 1.1rem;
}
h4,
.h4 {
    margin-top: 0;
    color: $core1;
    font-size: 1rem;
}
p,
.p {
    margin-top: 0;
    font-size: 1rem;
}
