.components {
    @include grid();
    margin-bottom: 5rem;
}

.components__item {
    @include grid-cell((
        'm': 4,
        'l': 3
    ));
}

.components__item-icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 15rem;
    padding: 2rem 1rem;
    background: $color-grey;
    transition: all 0.5s;

    &:hover {
        background: darken($color-grey, 10%);
        img {
            transform: scale(1.1);
        }
    }

    img {
        width: auto;
        height: 100%;
        transition: all 0.5s;
    }
}

.components__item-link {
    text-align: center;
    text-decoration: none;

    @include breakpoint('m') {
        text-align: left;
    }
}
