.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50rem;
    overflow: hidden;
    background: linear-gradient(to right, #2260a0, #1d4b79, #162f45);
    perspective: 100px;
    transition: background-size 6s ease;
}
.hero__background,
.hero__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero__background {
    width: 100%;
    height: 100%;
}
.hero__title {
    color: $color-white;
    font-size: 20rem;
    font-weight: 600;
    opacity: 0.1;
}
.hero__heading {
    color: $color-white;
    font-weight: 300;
    letter-spacing: 1rem;
    text-align: center;
    text-transform: uppercase;
    span {
        display: block;
        font-weight: 600;
    }
}

.hero__button {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    .docs-button {
        color: $color-white;
        border-color: $color-white;
        &:hover,
        &:focus {
            color: $brand-color-1;
            background: $color-white;
        }
    }
}

.hero__dots {

    @for $i from 1 through 35 {
        $width: 1800px;
        $height: 400px;
        $maxMove: 300px;

        $x: random() * $width;
        $y: random() * $height;
        $rng: random();

        @keyframes float_#{$i} {
            0% {
                transform: translate($x, $y) rotate(180deg * $rng);
            }
            20% {
                transform: translate($x + ((random() - 0.5) * $maxMove), $y + ((random() - 0.5) * $maxMove)) rotate(180deg * random());
            }
            40% {
                transform: translate($x + ((random() - 0.5) * $maxMove), $y + ((random() - 0.5) * $maxMove)) rotate(180deg * random());
            }
            60% {
                transform: translate($x + ((random() - 0.5) * $maxMove), $y + ((random() - 0.5) * $maxMove)) rotate(180deg * random());
            }
            100% {
                transform: translate($x, $y) rotate(180deg * $rng);
            }
        }

        circle:nth-child(#{$i}) {
            transform-origin: 50 + ((random() - 0.5) * 100px) 50 + ((random() - 0.5) * 100px);
            animation: float_#{$i};
            animation-duration: 15 + (random() * 40s);
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
    }
}
