.table {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    background-color: $color-white;
    border-collapse: collapse;

    @include breakpoint('l') {
        width: 80%;
    }
}
.table thead {
    border-bottom-width: 0.2rem;
    border-bottom-style: solid;
    border-bottom-color: $brand-color-1;
}
.table tbody tr {
    border-bottom-width: 0.2rem;
    border-bottom-style: solid;
    border-bottom-color: $color-grey;
}
.table th {
    text-align: left;
}
.table th,
.table td {
    padding-top: 1.68rem;
    padding-right: 1.68rem;
    padding-bottom: 1.68rem;
}