a {
    color: $brand-color-1;

    &:hover,
    &:focus {
        color: $brand-color-1;
        opacity: 1;
    }
}

.docs-h2 {
    margin-top: 8rem;
    margin-bottom: 4rem;
}
.docs-h1 .docs-h1__text {
    display: inline-block;
    padding-top: 1rem;
    font-weight: 500;
    border-top-width: 0.4rem;
    border-top-style: solid;
    border-top-color: $brand-color-1;
}
.docs-h2 .docs-h2__text {
    display: inline-block;
    padding-top: 1rem;
    font-weight: 300;
    border-top-width: 0.4rem;
    border-top-style: solid;
    border-top-color: $brand-color-1;
}
