////
/// @group _button.scss
/// @since 0.0.1
////

// buttons 
$b_primary-color: $white;
$b_primary-background: $c_primary;
$b_primary-border-color: $c_primary;

$b_primary-color_on-dark: $c_primary;
$b_primary-background_on-dark: $white;
$b_primary-border-color_on-dark: $white;

$b_primary-color_on-light: $white;
$b_primary-background_on-light: $c_primary;
$b_primary-border-color_on-light: $c_primary;

$b_secondary-color: $c_primary;
$b_secondary-background: $t_cwel-steel;
$b_secondary-border-color: $t_cwel-steel;

$b_secondary-color_on-dark: $white;
$b_secondary-background_on-dark: transparent;
$b_secondary-border-color_on-dark: $white;

$b_secondary-color_on-light: $c_primary;
$b_secondary-background_on-light: $white;
$b_secondary-border-color_on-light: $white;

// other
$focus: rgb(92, 187, 235);

button {
    width: 100%;
    color: $c_secondary;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    
    @include breakpoint('md') {
        width: auto;
    }

    &:hover {
        opacity: 0.8;
    }
}

/// 1. Show no outline as the focus style is defined on the border
/// 2. Inline-flex on medium and above so the button doesn't go full-width but keeps the properties of flex

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px; // stylelint-disable-line
    min-width: 300px; // stylelint-disable-line
    max-width: 100%;
    padding-right: $s_lg;
    padding-left: $s_lg;
    text-decoration: none;
    outline: none; // 1
    border-width: 0.2rem;
    border-style: solid;
    border-radius: 5rem;
    cursor: pointer;

    @include breakpoint('md') {
        display: inline-flex; // 2
        min-width: auto;
        padding-right: $s_md;
        padding-left: $s_md;
    }
}

/// 1. Max-width is calculated as max-width of the whole button minus the spacers, 320px - 64px = 256px or 25.6rem

.button__text {
    order: 2;
    max-width: 100%;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include breakpoint('md') {
        max-width: $s_lg * 5 - $s_md * 2; // 1
    }
}
.button__icon--right {
    order: 3;
    height: 2rem;
    margin-left: $s_sm;
}
.button__icon--left {
    order: 1;
    height: 2rem;
    margin-right: $s_sm;
}

.primary-button {
    color: $b_primary-color;
    background-color: $b_primary-background;
    border-color: $b_primary-background;

    &--on-dark {
        color: $b_primary-color_on-dark;
        background-color: $b_primary-background_on-dark;
        border-color: $b_primary-border-color_on-dark;
    }
    &--on-dark:hover {
        background-color: rgba($b_primary-background_on-dark, 0.8);
        border-color: rgba($b_primary-border-color_on-dark, 0.8);
    }
    &--on-light {
        color: $b_primary-color_on-light;
        background-color: $b_primary-background_on-light;
        border-color: $b_primary-border-color_on-light;
    }
    &--on-light:hover {
        background-color: rgba($b_primary-background_on-light, 0.8);
        border-color: rgba($b_primary-border-color_on-light, 0.8);
    }
 
    &:focus {
        box-shadow: 0 0 0.4rem 0.1rem $focus;
        border-color: $focus;
    }
    &:hover {
        background-color: rgba($b_primary-background, 0.8);
        border-color: rgba($b_primary-background, 0.8);
    }
}

.secondary-button {
    color: $b_secondary-color;
    background-color: $b_secondary-background;
    border-color: $b_secondary-border-color;

    &--on-dark {
        color: $b_secondary-color_on-dark;
        background-color: $b_secondary-background_on-dark;
        border-color: $b_secondary-border-color_on-dark;
    }
    &--on-dark:hover {
        color: rgba($b_secondary-color_on-dark, 0.8);
        border-color: rgba($b_secondary-border-color_on-dark, 0.8);
    }
    &--on-light {
        color: $b_secondary-color_on-light;
        background-color: $b_secondary-background_on-light;
        border-color: $b_secondary-border-color_on-light;
    }
    &--on-light:hover {
        background-color: rgba($b_secondary-background_on-light, 0.8);
        border-color: rgba( $b_secondary-border-color_on-light, 0.8);
    }

    &:focus {
        box-shadow: 0 0 0.4rem 0.1rem $focus;
        border-color: $focus;
    }
    &:hover {
        background-color: rgba($b_secondary-background, 0.8);
        border-color: rgba($b_secondary-border-color, 0.8);
    }
}