////
/// @group _display.scss
/// @since 0.0.1
////

$ratio-width: 1280px; // 155 ratio width
$ratio-height: 891.87px; // 108 ratio height 
$display_background-color: $t_cwel-steel;

.display {
    margin-bottom: $s_lg;

    &--center {
        text-align: center;
    }
    &--image {
        @include breakpoint('lg') {
            margin-bottom: $s_xl;
        }
    }
    &--light {
        background-color: $display_background-color;
    }
}
.display__container {
    @include container;
}
.display__section {
    @include grid();

    .display--reverse & {
        @include grid-reverse;
    }
}
.display__content {
    @include grid-cell((
        'sm': 12
    ));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    *:last-child {
        margin-bottom: 0;
    }

    .display--image & {
        @include grid-cell((
            'md': 6
        ));
        @include breakpoint('md') {
            padding-left: $s_md;
        }
    }
    .display--reverse & {
        @include breakpoint('md') {
            @include grid-cell-gutter(md);
            padding-right: $s_md;
        }
    }
}
.display__image {
    @include grid-cell((
        'sm': 12
    ));
    @include breakpoint('md') {
        margin-bottom: 0;
    }
    margin-bottom: $s_sm;

    .display--image & {
        @include grid-cell((
            'md': 6
        ));
    }
}
.display__title {
    width: 100%;
    margin-top: 0;
    margin-bottom: $s_sm;
}
.display__text {
    margin-bottom: $s_sm;
}