////
/// @group _icon.scss
/// @since 0.0.1
////

/// Icon fullback color is the primary

svg:not(.loader) {
    height: 2rem;
    vertical-align: baseline;

    path {
        stroke-width: 0.3;
        fill: $c_icon_color_1;
        stroke: $c_icon_color_1;
    }

    .button & path,
    .button--secondary.button--on-dark & path {
        fill: $c_icon_button_color_1;
        stroke: $c_icon_button_color_1;     
    }
    .button--secondary & path,
    .button--on-dark & path,
    .button--secondary.button--on-light & path {
        fill: $c_icon_button_color_2;
        stroke: $c_icon_button_color_2;
    }
}