////
/// @group _icon.scss
/// @since 0.0.1
////

svg:not(.loader) {
    height: 20px; // stylelint-disable-line
    vertical-align: baseline;
    
    .secondary-button & path,
    .primary-button--on-dark & path,
    .secondary-button--on-light & path {
        fill: $c_primary;
        stroke: $c_primary;
    }

    path {
        stroke-width: 0.3;
        fill: $white;
        stroke: $white;     
    }
}