.image {
    @include aspect-ratio-container($s_image_width, $s_image_height);
    background-color: $c_image_bg;
}
.image__src {
    @include aspect-ratio();
    .display--bottom & {
        @include breakpoint('lg') {
            top: $s_lg;
        }
    }
    .display--top & {
        @include breakpoint('lg') {
            top: -$s_lg;
        }
    }
}

// animations
.image--animate-top-right {
    margin-top: 2rem;
    margin-right: 2rem;
}
.image--animate-top-left {
    margin-top: 2rem;
    margin-left: 2rem;
}