////
/// @group _loader.scss
/// @since 0.0.1
////

// loaders
$l_color: $white;
$l_alt-color: $c_primary;
$l_background: $t_cwel-silver;

/// 1. Rotates 270 degrees so that the aniamtion will start at from the top
/// 2. Rotates from center point of the loader

.loader {
    width: 30px; // stylelint-disable-line
    height: 30px; // stylelint-disable-line
    transform: rotate(270deg); // 1
    transform-origin: center; // 2
}
.loader__spinner,
.loader__background {
    fill: none;
}

/// 1. Controls the pattern of dashes and gaps in the svg
/// 2. Controls the distance of the dash pattern to start the dash
/// 3. Animate speed is 1 seconds, the animation will be infinite

.loader__spinner {
    stroke: $l_color;
    stroke-width: 11;
    stroke-dasharray: 200; // 1
    stroke-dashoffset: 200; // 2
    animation: spin 1s ease-in-out infinite; // 3

    .button--secondary &,
    .button--primary-on-dark &,
    .button--secondary-on-light & {
        stroke: $l_alt-color;
    }
}
.loader__background {
    stroke: darken($l_background, 15%);
    stroke-width: 9;
}

@keyframes spin {
    from {
        stroke-dashoffset: 600;
    }
    to {
        stroke-dashoffset: 1000; 
    }
}