// Container related markup
.mini-contact {
    display: block;
    padding-top: $s_lg;
    padding-bottom: $s_lg;
    text-align: center; // Centering all contents within Mini Contact Component.

    @include breakpoint('md') {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    @include breakpoint('lg') {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &--dual {
        display: block;
        padding-top: $s_lg;
        padding-bottom: $s_lg;
        text-align: center; // Centering all contents within Mini Contact Component.

        @include breakpoint('md') {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
        @include breakpoint('lg') {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }
    }

    &--single {
        display: block;
        padding-top: $s_lg;
        padding-bottom: $s_lg;
        text-align: center; // Centering all contents within Mini Contact Component.

        @include breakpoint('lg') {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}

// Grid related markup
.mini-contact-grid {
    @include breakpoint('md') {
        width: grid-cell-size(12);
    }
    @include breakpoint('lg') {
        width: grid-cell-size(4);
        padding-right: $s_md;
    }

    &--full {
        @include breakpoint('md') {
            width: grid-cell-size(12);
        }
        @include breakpoint('lg') {
            width: grid-cell-size(12);
        }
    }

    &--half {
        @include breakpoint('md') {
            width: grid-cell-size(12);
        }
        @include breakpoint('lg') {
            width: grid-cell-size(6);
        }
    }

    &--alignleft { // Aligning buttons left within in grid element.
        text-align: left;
    }
}

// Spacing related markup
.padding-right-med {
    @include breakpoint('md') {
        padding: 0;
    }
    @include breakpoint('lg') {
        padding-right: $s_md;
    }
}

.padding-left-med {
    @include breakpoint('md') {
        padding: 0;
    }
    @include breakpoint('lg') {
        padding-right: $s_md;
    }
}

// Styling related markup
.mini-contact__title {
    margin-top: 0;
    margin-bottom: $s_md;
    color: $white;
    font-size: 2.8rem;

    @include breakpoint('lg') {
        text-align: left;
    }

    &--centered {
        margin-top: 0;
        margin-bottom: $s_md;
        color: $white;
        font-size: 2.8rem;

        @include breakpoint('lg') {
            text-align: center;
        }
    }
}

.mini-contact__text {
    margin-bottom: $s_md;
    color: $white;

    @include breakpoint('lg') {
        text-align: left;
    }

    &--centered {
        margin-bottom: $s_md;
        color: $white;

        @include breakpoint('lg') {
            text-align: center;
        }
    }
}

.mini-contact__button {
    width: 100%;
    min-height: 5.5rem;
    margin-bottom: $s_md;
    color: $white;
    text-transform: uppercase;
    border: 0;
    border-radius: 4rem;

    &--small { // Modifiers for testing - actual sizes to be created
        width: 100%;
        min-height: 5.5rem;
        margin-bottom: $s_md;
        color: $white;
        text-transform: uppercase;
        border: 0;
        border-radius: 4rem;

        @include breakpoint('lg') {
            width: 15.63rem;
        }
    }

    &--medium { // Modifiers for testing - actual sizes to be created
        width: 100%;
        min-height: 5.5rem;
        margin-bottom: $s_md;
        color: $white;
        text-transform: uppercase;
        border: 0;
        border-radius: 4rem;

        @include breakpoint('lg') {
            width: 36.63rem;
        }
    }
}