////
/// @group _typography.scss
/// @since 0.0.1
////

///

body {
    color: $c_base-text;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
}

/// 1. Remove the grey background on active links in IE 10
/// 2. Remove gaps in links underline in iOS GTE 8 and Safari GTE 8

a {
    background-color: transparent; // 1
    -webkit-text-decoration-skip: objects; // 2
}

/// Better ordered list number alignment (left-aligned numbers look better with Poppins)
/// 1. Required for absolute positioning of `li::before`

ol {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: $s_md;
    margin-left: 0;
    padding: 0;
    list-style: none;
    counter-reset: item;

    li {
        position: relative; // 1
        margin-left: $s_md;
    }

    li::before {
        content: counter(item) '. ';
        position: absolute;
        left: -1.4em;
        display: inline-block;
        counter-increment: item;
    }
}

ul {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: $s_md;
    margin-left: 0;
    padding: 0;

    li {
        margin-left: $s_lg;
    }
}

/// 1. Prevent `sub` and `sup` elements from affecting the line height in all browsers

sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 0.75em; // stylelint-disable-line declaration-property-unit-blacklist
    line-height: 0; // 1
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/// 1. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari
/// 2. Remove the bottom border in Chrome LTE 57 and Firefox LTE 39

abbr[title] {
    text-decoration: underline; // 1
    text-decoration: underline double; // 1
    border-bottom: none; // 2
}

/// Correct the odd `em` font sizing in all browsers

pre {
    font-family: monospace;
    font-size: 1em; // stylelint-disable-line declaration-property-unit-blacklist, unit-whitelist
}

/// 1. Add the correct font style in Android LTE 4.3

dfn {
    font-style: italic; // 1
}

/// 1. Add the correct color in LTE IE 9
/// 2. Add the background color in LTE IE 9

mark {
    color: #000; // 1
    background-color: $c_hightlight;
}

/**************************
 * STATES
 *************************/

/// Add the correct font weight in Chrome, Edge, and Safari

b,
strong {
    font-weight: bolder; // stylelint-disable-line font-weight-notation
}

/// 1. Add the correct font size in all browsers

small {
    // Add the correct font size in all browsers.
    font-size: 0.8em; // stylelint-disable-line declaration-property-unit-blacklist
}

a,
.a {
    color: $c_secondary;

    &:hover {
        opacity: 0.8;
    }

    &:active,
    &--active {
        color: $c_primary;
    }
}

p,
.p {
    margin: 0 0 $s_md 0;

    &--lead {
        font-size: 1.2em; // stylelint-disable-line
        font-weight: bold; // stylelint-disable-line
    }

    // this selector is nested as svgs aren't necessarily gonna have the right
    // classnames for styling
    svg {
        position: relative;
        top: 0.3rem;
        width: 1.6rem;
        height: 1.6rem;
        margin-left: $s_xs;

        //does not currently work
        polyline,
        path {
            stroke: $c_primary;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: $c_headings-color;
    line-height: 1.15;

    // nesting is used here to conform to duplicate selector rule of stylelint
    small {
        margin-left: $s_xs;
        color: $c_base-text;
        font-weight: 400;
        // ems are fine for these types of font settings
        font-size: 0.5em; // stylelint-disable-line
    }
}

h1,
.h1 {
    font-size: 1.6rem * 3;
}
h2,
.h2 {
    font-size: 1.6rem * 2;
}
h3,
.h3 {
    font-size: 1.6rem * 1.25;
}
h4,
.h4 {
    font-size: 1.6rem * 1;
}

blockquote {
    margin-bottom: $s_md;
    margin-left: 0;
    padding: $s_xs $s_md;
    // borders are often better with pixel values. To be changed in future
    // if needed
    border-left: solid 3px $c_primary; // stylelint-disable-line

    p {
        margin-bottom: $s_xs;
        font-style: italic;
    }
}

table,
th,
td {
    // pixels often work better with borders. To be changed in future if needed
    border: 2px solid $c_bg_light; // stylelint-disable-line
    border-collapse: collapse;
}

table {
    tr td,
    tr th {
        padding: $s_xs;
    }
}

/**************************
 * NON-TEXTUAL ELEMENTS
 *************************/

/// 1. Add the correct box sizing in Firefox
/// 2. Show the overflow in Edge and IE

hr {
    box-sizing: content-box; // 1
    height: 0; // 1
    margin-top: $s_lg;
    margin-right: 0;
    margin-bottom: $s_lg;
    margin-left: 0;
    overflow: visible; // 2
    border: none;
    border-top: 1px solid #999; // stylelint-disable-line declaration-property-unit-blacklist
    // border-top pixel is excused as pixel widths are preferred over
    // rems for borders
    border-top: 2px solid $c_bg_light; // stylelint-disable-line
}
