{% extends '_layout.njk' %}
{% set title = 'Mini Contact' %}
{% set fullWidth = 'true' %}

{% block content %}
<div class="main">
	<div class="container">
		<h1 class="main__title">Mini Contact</h1>
		<p class="main__overview-text">Mini contact examples - Mobile, Table and Desktop.</p>
	</div>
</div>

<section class="container--dark">
    <div class="container">
        <div class="mini-contact">
            <div class="mini-contact-grid--centered">
                <h4 class="mini-contact__title">Get in touch</h4>
                <p class="mini-contact__text--nodisplay">
                    Our expert team of advisors are available to help you choose the mortgage that is right for you.
                </p>
            </div>
            <div class="mini-contact-grid">
                <h4 class="mini-contact__title--nodisplay">Opening Times</h4>
                <p class="mini-contact__text">
                    Monday to Friday 8am - 8pm<br />
                    Saturday 9am - 5pm<br />
                    Sunday 10am - 4pm
                </p>
            </div>
            <div class="mini-contact-grid remove">
                <button class="mini-contact__button mini-contact__button--bright"></button>
            </div>
        </div>
    </div>
</section>

{% endblock %}
