.cwel-card {
    padding: $SPACE-M;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);

    .cwel-card-slider & {
        width: 100%;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: none;
    }
}
