{% extends '_layout.njk' %}
{% set title = 'Display' %}

{% block content %}
<div class="main">
	<div class="container">
		<h1 class="main__title">Display</h1>
		<p class="main__overview-text">Display example for mobile, tablet and desktop.</p>
	</div>

	<div class="container">
        <div class="display">
            <h1 class="display__title">Why choose us?</h1>
            <p class="display__content-text">With over 40 years’ experience as an independent mortgage adviser, we are perfectly qualified to help and support you through the process of buying a house and arranging a mortgage.</p>
        </div>
    </div>
</div>
{% endblock %}
