{% extends '_layout.njk' %}
{% set title = 'Display' %}

{% block content %}

    <div class="display">
        <div class="display__container">

            <div class="display__section">
                <div class="display__content">
                    <h2 class="display__title">Why choose us?</h2>
                    <p class="display__text">With over 40 years’ experience as an independent mortgage adviser, we are perfectly qualified to help and support you through the process of buying a house and arranging a mortgage.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="display display--center">
        <div class="display__container">

            <div class="display__section">
                <div class="display__content">
                    <h2 class="display__title">Why choose us?</h2>
                    <p class="display__text">With over 40 years’ experience as an independent mortgage adviser, we are perfectly qualified to help and support you through the process of buying a house and arranging a mortgage.</p>
                </div>
            </div>

        </div>
    </div>

     <div class="display display--image">
        <div class="display__container">

            <div class="display__section">
                <div class="display__image">
                    <div class="image">
                        <img class="image__src" src="display-image.png" />
                    </div>
                </div>
                <div class="display__content">
                    <h2 class="display__title">Why choose us?</h2>
                    <p class="display__text">With over 40 years’ experience as an independent mortgage adviser, we are perfectly qualified to help and support you through the process of buying a house and arranging a mortgage.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="display display--image display--reverse">
        <div class="display__container">

            <div class="display__section">
                <div class="display__image">
                    <div class="image">
                        <img class="image__src" src="display-image.png" />
                    </div>
                </div>
                <div class="display__content">
                    <h2 class="display__title">Why choose us?</h2>
                    <p class="display__text">With over 40 years’ experience as an independent mortgage adviser, we are perfectly qualified to help and support you through the process of buying a house and arranging a mortgage.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="display display--light display--image">
        <div class="display__container">

            <div class="display__section">
                <div class="display__image">
                    <div class="display__image-container">
                        <div class="image">
                            <img class="image__src" src="display-image.png" />
                        </div>
                    </div>
                </div>
                <div class="display__content">
                    <h2 class="display__title">Why choose us?</h2>
                    <p class="display__text">With over 40 years’ experience as an independent mortgage adviser, we are perfectly qualified to help and support you through the process of buying a house and arranging a mortgage.</p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
