{% extends '_layout.njk' %}
{% set title = 'Display' %}

{% from 'cwel/component/display/display.html' import display %}

{% block content %}

    {% set config = [
            { 
                "modifier" : "",
                "animation_name": "no-animation" 
            }, 
            { 
                "modifier" : "display--center",
                "animation_name": "no-animation" 
            },
            { 
                "modifier" : "display--image",
                "animation_name": "no-animation"  
            },
            { 
                "modifier" : "display--image display--reverse",
                "animation_name": "no-animation"  
            },
            { 
                "modifier" : "display--image",
                "animation_name": "image--right"  
            },
            { 
                "modifier" : "display--image display--reverse",
                "animation_name": "image--left" 
            },
            { 
                "modifier" : "display--image display--light display--top",
                "animation_name": "no-animation"  
            },
            { 
                "modifier" : "display--image display--light display--top display--reverse",
                "animation_name": "no-animation" 
            },
            { 
                "modifier" : "display--image display--light display--bottom",
                "animation_name": "no-animation" 
            },
            { 
                "modifier" : "display--image display--light display--bottom display--reverse",
                "animation_name": "no-animation" 
            }
        ]
    %}

    {% for item in config %}
        {[ display(item.modifier, item.animation_name) ]}
    {% endfor %}

{% endblock %}
