@using Cwel.Web
@model BadgeViewModel

@{
    Html.RequireScript(AssetType.Component, "Badge");
    Html.RequireScript(AssetType.Vendor, "Howler");
}

<button class="badge" badge start="@Model.Start" ng-click="increment()">
    <span class="badge__counter" ng-bind="counter">@Model.Start</span>
</button>