@model Cwel.Docs.Web.Models.PlaygroundViewModel

@if (Model.Play != null)
{
    <script type="x-play">
        @Html.Raw(Model.Play.Data)
    </script>
}

<div ng-controller="playgroundCtrl">

    <div class="container">
        <div class="grid">
            <div class="grid__cell grid__cell--size-5-l">
                <div class="form-field">
                    <label class="form-field__label">Type</label>
                    <div class="form-field__select-container form-field__select-container--icon-arrow">
                        <select class="form-field__select"
                                ng-model="brick.type"
                                ng-options="type for type in ['component', 'pattern']">
                        </select>
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field__label">Name</label>
                    <div class="form-field__select-container form-field__select-container--icon-arrow">
                        <select class="form-field__select"
                                ng-change="fetchModel(brick)"
                                ng-model="brick.name"
                                ng-options="name for name in names[brick.type + 's']">
                        </select>
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field__label">Model</label>
                    <textarea class="form-field__textarea"
                            ng-model="brick.data"
                            json-text
                            ng-disabled="!brick.name"></textarea>
                </div>
                <button type="button" ng-hide="isEditing" ng-click="addComponent()" class="button button--icon-add">
                    <span class="button__text">Add</span>
                </button>
                <div class="grid" ng-show="isEditing">
                    <div class="grid__cell grid__cell--size-6-l">
                        <button type="button" ng-click="saveEdit()" class="button button--icon-update">
                            <span class="button__text">Update</span>
                        </button>
                    </div>
                    <div class="grid__cell grid__cell--size-6-l">
                        <button type="button" ng-click="cancelEdit()" class="button button--icon-clear">
                            <span class="button__text">Cancel</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-area grid__cell grid__cell--size-7-l">
                <div class="content-area__title">Order</div>
                <div class="content-area__container component-order">
                    <div class="component-order__item" ng-repeat="child in model.children">
                        <button type="button" class="component-order__item-action button button--icon-only button--icon-arrow-up" ng-click="moveBrick($index, -1)"></button>
                        <button type="button" class="component-order__item-action button button--icon-only button--icon-arrow-down" ng-click="moveBrick($index, 1)"></button>
                        <div class="component-order__item-title" ng-class="{ 'compoenent-order__item-title--active' : child == currentlyEditing}">{{child.name}}</div>
                        <button type="button" class="component-order__item-action button button--icon-only button--icon-edit" ng-click="editBrick(child)"></button>
                        <button type="button" ng-click="removeBrick($index)" class="component-order__item-action button button--icon-only button--icon-clear"></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="grid grid--justify-space-between grid--align-bottom">
            <div class="grid__cell grid__cell--size-6-l">
                <!-- Nested grid -->
                <div class="grid">
                    <div class="grid__cell grid__cell--size-4-l">
                        <a href="https://jsfiddle.net/" class="button button--icon-output">
                            <span class="button__text">JSFiddle</span>
                        </a>
                    </div>
                    <div class="grid__cell grid__cell--size-4-l">
                        <form action="/Playground/save" method="POST">
                            @if (!string.IsNullOrEmpty(Model.Id))
                            {
                                <input type="hidden" name="id" value="@Model.Id">
                            }
                            <input type="hidden" name="data" value="{{ getSaveModel() }}">
                            <button type="submit" class="button button--icon-save">
                                <span class="button__text">Save</span>
                            </button>
                        </form>
                    </div>
                    <div class="grid__cell grid__cell--size-4-l">
                        <form action="/Playground/RenderPage" method="POST" target="_blank">
                            <input type="hidden" name="page" value="{{ getModel(model) }}">
                            <button type="submit" class="button" value="Open">Presentation</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="grid__cell grid__cell--size-4-l">
                <div class="form-field">
                    <label class="form-field__label">Size</label>
                    <div class="form-field__select-container form-field__select-container--icon-arrow">
                        <select class="form-field__select"
                                ng-model="outputSize"
                                ng-change="resizeOutput()"
                                ng-options="size as size.name for size in avaliableSizes">
                        </select>
                    </div>
                </div>
            </div>
         </div>
    </div>
    <div class="content-area">
        <div class="content-area__container content-area__container--output">
            <iframe class="iframe iframe--anim-width" src="/Playground/stage" ng-style="iframeStyle"></iframe>
        </div>
    </div>

</div>
