@{
    Layout = "~/Views/Shared/_RenderLayout.cshtml";
}

<div class="docs-playground-stage" ng-controller="stageCtrl" ng-app="cwoApp">
    <div ng-repeat="child in model.children" rendering="child"></div>
</div>
