{% extends '_layout.njk' %}
{% set title = 'Card' %}
{% set css = '../main.css' %}

{% block content %}
<div class="cwel-card">
      <h5><a href="#">A Card Heading</a></h5>
     <p>Random details here. This is a card <em>jaw drops</em></p>
</div>
{% endblock %}
