
body {
    position: relative;
    font-size: 1.68rem;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
    border-style: none;
}
button,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font: inherit;
    letter-spacing: inherit;
    background-color: transparent;
}
textarea {
    overflow: auto;
}

a,
a:hover,
a:focus {
    color: #480344;
    text-decoration: underline;

    .docs__anchored & {
        text-decoration: none;
    }
}

p {
    margin-bottom: 2.51rem;
}

pre {
    margin: 0;
    margin-bottom: 2.51rem;
    font-size: 2.01rem;
}

code {
    color: #480344;
    font-size: 1em; // stylelint-disable-line declaration-property-unit-blacklist, unit-whitelist

    .block & {
        color: #ffffff;
    }

}
