{% extends '_layout.njk' %}
{% set title = 'Grid' %}
{% set devices = ['s', 'm', 'l', 'xl'] %}

{% block content %}
<div class="container">
    <section class="section section--sizes">
        <h2 class="section__title">Sizes</h2>

        <div class="grid">
            <div class="grid__cell"><div class="block block--claustrophobic">12/12</div></div>
        </div>
        <div class="grid">
            <div class="grid__cell grid__cell--size-6"><div class="block block--claustrophobic">6/12</div></div>
            <div class="grid__cell grid__cell--size-6"><div class="block block--claustrophobic">6/12</div></div>
        </div>
        <div class="grid">
            <div class="grid__cell grid__cell--size-4"><div class="block block--claustrophobic">4/12</div></div>
            <div class="grid__cell grid__cell--size-4"><div class="block block--claustrophobic">4/12</div></div>
            <div class="grid__cell grid__cell--size-4"><div class="block block--claustrophobic">4/12</div></div>
        </div>
        <div class="grid">
            <div class="grid__cell grid__cell--size-3"><div class="block block--claustrophobic">3/12</div></div>
            <div class="grid__cell grid__cell--size-3"><div class="block block--claustrophobic">3/12</div></div>
            <div class="grid__cell grid__cell--size-3"><div class="block block--claustrophobic">3/12</div></div>
            <div class="grid__cell grid__cell--size-3"><div class="block block--claustrophobic">3/12</div></div>
        </div>
        <div class="grid">
            <div class="grid__cell grid__cell--size-2"><div class="block block--claustrophobic">2/12</div></div>
            <div class="grid__cell grid__cell--size-2"><div class="block block--claustrophobic">2/12</div></div>
            <div class="grid__cell grid__cell--size-2"><div class="block block--claustrophobic">2/12</div></div>
            <div class="grid__cell grid__cell--size-2"><div class="block block--claustrophobic">2/12</div></div>
            <div class="grid__cell grid__cell--size-2"><div class="block block--claustrophobic">2/12</div></div>
            <div class="grid__cell grid__cell--size-2"><div class="block block--claustrophobic">2/12</div></div>
        </div>
        <div class="grid">
            {% for i in range(12) %}
                <div class="grid__cell grid__cell--size-1"><div class="block">1/12</div></div>
            {% endfor %}
        </div>
    </section>

    <section class="section section--size-combinations">
        <h2 class="section__title">Size combinations</h2>

        <h3 class="section__sub-title">Quarter / Three Quarters</h3>
        <div class="grid">
            <div class="grid__cell grid__cell--size-3"><div class="block block--claustrophobic">quarter</div></div>
            <div class="grid__cell grid__cell--size-9"><div class="block block--claustrophobic">three quarters</div></div>
        </div>

        <h3 class="section__sub-title">Half / Quarter / Three Twelfths</h3>
        <div class="grid">
            <div class="grid__cell grid__cell--size-6"><div class="block block--claustrophobic">half</div></div>
            <div class="grid__cell grid__cell--size-3"><div class="block block--claustrophobic">quarter</div></div>
            <div class="grid__cell grid__cell--size-1"><div class="block block--claustrophobic">twelfth</div></div>
            <div class="grid__cell grid__cell--size-1"><div class="block block--claustrophobic">twelfth</div></div>
            <div class="grid__cell grid__cell--size-1"><div class="block block--claustrophobic">twelfth</div></div>
        </div>

        <h3 class="section__sub-title">Two Thirds / Third</h3>
        <div class="grid">
            <div class="grid__cell grid__cell--size-8"><div class="block block--claustrophobic">two thirds</div></div>
            <div class="grid__cell grid__cell--size-4"><div class="block block--claustrophobic">third</div></div>
        </div>

        <h3 class="section__sub-title">Half / Three Sixths</h3>
        <div class="grid">
            <div class="grid__cell grid__cell--size-6"><div class="block">half</div></div>
            <div class="grid__cell grid__cell--size-2"><div class="block">sixth</div></div>
            <div class="grid__cell grid__cell--size-2"><div class="block">sixth</div></div>
            <div class="grid__cell grid__cell--size-2"><div class="block">sixth</div></div>
        </div>
    </section>

    <section class="section section--responsive-cells">
        <h2 class="section__title">Responsive cells</h2>

        <h3 class="section__sub-title">XS (Default)</h3>
        <div class="grid">
            {% for i in range(1, 13) %}
            {% if i == 1 or ((12 / i) % 2 == 0) or ((12 / i) % 3 == 0) %}
            {% for ii in range(i) %}
            <div class="grid__cell grid__cell--size-{[12 / i]}"><div class="block block--claustrophobic"></div></div>
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% for i in range(12) %}
                <div class="grid__cell grid__cell--size-1"><div class="block block--claustrophobic"></div></div>
            {% endfor %}
        </div>

        <h3 class="section__sub-title">S</h3>
        <div class="grid">
            {% for i in range(1, 13) %}
            {% if i === 1 or ((12 / i) % 2 == 0) or ((12 / i) % 3 == 0) %}
            {% for ii in range(i) %}
            <div class="grid__cell grid__cell--size-{[12 / i]}-sm"><div class="block block--claustrophobic"></div></div>
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% for i in range(12) %}
                <div class="grid__cell grid__cell--size-1-sm"><div class="block block--claustrophobic"></div></div>
            {% endfor %}
        </div>

        <h3 class="section__sub-title">M</h3>
        <div class="grid">
            {% for i in range(1, 13) %}
            {% if i === 1 or ((12 / i) % 2 == 0) or ((12 / i) % 3 == 0) %}
            {% for ii in range(i) %}
            <div class="grid__cell grid__cell--size-{[12 / i]}-md"><div class="block block--claustrophobic"></div></div>
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% for i in range(12) %}
                <div class="grid__cell grid__cell--size-1-md"><div class="block block--claustrophobic"></div></div>
            {% endfor %}
        </div>

        <h3 class="section__sub-title">L</h3>
        <div class="grid">
            {% for i in range(1, 13) %}
            {% if i === 1 or ((12 / i) % 2 == 0) or ((12 / i) % 3 == 0) %}
            {% for ii in range(i) %}
            <div class="grid__cell grid__cell--size-{[12 / i]}-lg"><div class="block block--claustrophobic"></div></div>
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% for i in range(12) %}
                <div class="grid__cell grid__cell--size-1-lg"><div class="block block--claustrophobic"></div></div>
            {% endfor %}
        </div>

        <h3 class="section__sub-title">XL</h3>
        <div class="grid">
            {% for i in range(1, 13) %}
            {% if i === 1 or ((12 / i) % 2 == 0) or ((12 / i) % 3 == 0) %}
            {% for ii in range(i) %}
            <div class="grid__cell grid__cell--size-{[12 / i]}-xl"><div class="block block--claustrophobic"></div></div>
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% for i in range(12) %}
                <div class="grid__cell grid__cell--size-1-xl"><div class="block block--claustrophobic"></div></div>
            {% endfor %}
        </div>

        <h3 class="section__sub-title">Combined responsive classes</h3>
        <div class="grid">
            <div class="grid__cell grid__cell--size-1 grid__cell--size-3-sm grid__cell--size-4-md grid__cell--size-6-lg grid__cell--size-8-xl"><div class="block block--claustrophobic"></div></div>
        </div>
    </section>

    <section class="section section--nested-grids">
        <h2 class="section__title">Nested grids</h2>

        <div class="grid">
            <div class="grid__cell grid__cell--size-6"><div class="block">half</div></div>
            <div class="grid__cell grid__cell--size-6">
                <div class="grid">
                    <div class="grid__cell">
                        <div class="block block--translucent block block--lean">
                            <div class="grid">
                                <div class="grid__cell grid__cell--size-4"><div class="block block--claustrophobic">third</div></div>
                                <div class="grid__cell grid__cell--size-8">
                                    <div class="block block--translucent block block--lean">
                                        <div class="grid">
                                            <div class="grid__cell grid__cell--size-6"><div class="block block--claustrophobic">half</div></div>
                                            <div class="grid__cell grid__cell--size-6"><div class="block block--claustrophobic">half</div></div>
                                            <div class="grid__cell grid__cell--size-4"><div class="block block">third</div></div>
                                            <div class="grid__cell grid__cell--size-4"><div class="block block">third</div></div>
                                            <div class="grid__cell grid__cell--size-4"><div class="block block">third</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--equal-height">
        <h2 class="section__title">Equal height</h2>

        <div class="grid">
            <div class="grid__cell grid__cell--size-6"><div class="block block--tall block">tall</div></div>
            <div class="grid__cell grid__cell--size-6"><div class="block block--fill block">fill</div></div>
        </div>
    </section>

    <section class="section section--horizontal-alignment">
        <h2 class="section__title">Horizontal alignment</h2>

        <div class="grid grid--align-left">
            <div class="grid__cell grid__cell--size-6"><div class="block block--claustrophobic">left</div></div>
        </div>

        <div class="grid grid--align-center">
            <div class="grid__cell grid__cell--size-6"><div class="block block--claustrophobic">center</div></div>
        </div>

        <div class="grid grid--align-right">
            <div class="grid__cell grid__cell--size-6"><div class="block block">right</div></div>
        </div>
    </section>

    <section class="section section--top-alignment">
        <h2 class="section__title">Top alignment</h2>

        <div class="grid grid--align-top">
            <div class="grid__cell grid__cell--size-4"><div class="block">top</div></div>
            <div class="grid__cell grid__cell--size-4"><div class="block block--tall"></div></div>
            <div class="grid__cell grid__cell--size-4"><div class="block">top</div></div>
        </div>
    </section>

    <section class="section section--middle-alignment">
        <h2 class="section__title">Middle alignment</h2>

        <div class="grid grid--align-middle">
            <div class="grid__cell grid__cell--size-4"><div class="block">middle</div></div>
            <div class="grid__cell grid__cell--size-4"><div class="block block--tall"></div></div>
            <div class="grid__cell grid__cell--size-4"><div class="block">middle</div></div>
        </div>
    </section>

    <section class="section section--bottom-alignment">
        <h2 class="section__title">Bottom alignment</h2>

        <div class="grid grid--align-bottom">
            <div class="grid__cell grid__cell--size-4"><div class="block">bottom</div></div>
            <div class="grid__cell grid__cell--size-4"><div class="block block--tall"></div></div>
            <div class="grid__cell grid__cell--size-4"><div class="block">bottom</div></div>
        </div>
    </section>

    <section class="section section--independent-alignment">
        <h2 class="section__title">Independent alignment</h2>

        <div class="grid">
            <div class="grid__cell grid__cell--size-3 grid__cell--align-top"><div class="block">top</div></div>
            <div class="grid__cell grid__cell--size-3"><div class="block block--tall"></div></div>
            <div class="grid__cell grid__cell--size-3 grid__cell--align-middle"><div class="block">middle</div></div>
            <div class="grid__cell grid__cell--size-3 grid__cell--align-bottom"><div class="block">bottom</div></div>
        </div>
    </section>

    <section class="section section--reversed">
        <h2 class="section__title">Reversed</h2>

        <div class="grid grid--reverse">
            <div class="grid__cell grid__cell--size-3"><div class="block">1</div></div>
            <div class="grid__cell grid__cell--size-3"><div class="block">2</div></div>
            <div class="grid__cell grid__cell--size-3"><div class="block">3</div></div>
            <div class="grid__cell grid__cell--size-3"><div class="block">4</div></div>
        </div>
    </section>

    <section class="section section--flush">
        <h2 class="section__title">Flush</h2>

        <div class="grid grid--flush">
            <div class="grid__cell grid__cell--size-3"><div class="block">quarter</div></div>
            <div class="grid__cell grid__cell--size-3"><div class="block">quarter</div></div>
            <div class="grid__cell grid__cell--size-3"><div class="block">quarter</div></div>
            <div class="grid__cell grid__cell--size-3"><div class="block">quarter</div></div>
        </div>
    </section>
</div>
{% endblock %}
