{% extends '_layout.njk' %}
{% set title = 'Scroll Animation' %}

{% block css %}
    <link href="style.css" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script src="script.js"></script>
{% endblock %}

{% block content %}
    <h1 class="main__title">Scroll Animation</h1>

    <div class="main__overview">
        <p>This is to display the scroll animation api, which use choreographer as its library.</p>
    </div>

        <section class="section section--animations">
            <div class="image-container image-container--large">
               <img class="image-container_image" src="assets/images/stock-image.png" animate="imagedown" />
            </div>
        </section>

        <section class="section section--animations">
            <div class="image-container">
               <img class="image-container_image" src="assets/images/stock-image.png" animate="image" />
            </div>
        </section>

        <section class="section section--animations">
            <div class="image-container">
               <img class="image-container_image" src="assets/images/stock-image.png" animate="image" />
            </div>
        </section>

        <section class="section section--animations">
            <div class="image-container">
               <img class="image-container_image" src="assets/images/stock-image.png" animate="image" />
            </div>
        </section>

        <section class="section">
            <div class="" style="height: 600px;"></div>
        </section>

        <section class="section section--animations">
            <div class="image-container">
               <img class="image-container_image" src="assets/images/stock-image.png" animate="image" />
            </div>
        </section>

        <section class="section">
            <div class="" style="height: 600px;"></div>
        </section>

        <section class="section section--animations">
            <div class="image-container">
               <img class="image-container_image" src="assets/images/stock-image.png" animate="imageleft" />
            </div>
        </section>

        <section class="section">
            <div class="" style="height: 800px;"></div>
        </section>

        <section class="section section--animations">
            <div class="image-container image-container--large">
               <img class="image-container_image" src="assets/images/stock-image.png" animate="imagedown" />
            </div>
        </section>

        <section class="section">
            <div class="" style="height: 600px;"></div>
        </section>
{% endblock %}