
$code-font-stack: 'Inconsolata', 'Consolas', 'Monaco', 'Andale Mono', monospace;

.sd-visually-hidden {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}
.sd {
    margin-top: -2rem; // Make docs sit flush with header
    margin-bottom: -2rem; // Make docs sit flush with footer

    @include breakpoint('l') {
        display: flex;
        flex-flow: row nowrap;
    }

}

.sd-sidebar {
    padding: 2rem;
    background-color: $color-core-2;
    border-right: 1px solid $color-secondary-2; // stylelint-disable-line declaration-property-unit-blacklist

    @include breakpoint('l') {
        width: 20%;
        max-width: 15rem;
    }

}

.sd-main {
    padding: 2rem;

    @include breakpoint('l') {
        flex-grow: 1;
    }

}

.sd-item {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid $color-core-2; // stylelint-disable-line declaration-property-unit-blacklist
}

.sd-item__heading {
    margin-bottom: 0.5rem;
    color: $color-secondary-1;
    font-family: $code-font-stack;
}

.sd-item__since {
    color: $color-secondary-2;
}

.sd-sidebar__list {
    padding-left: 0;
    list-style: none;
}
.sd-sidebar__link {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: $color-secondary-1;
    font-family: $code-font-stack;
    font-size: 0.75rem;
    text-decoration: none;
}
