
@{
    Layout = "~/Views/Shared/_SandboxLayout.cshtml";
}

@section styles
{
    <link href="~/Assets/css/sandbox/grid/style.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Assets/js/sandbox/grid/script.js"></script>
}

<h1 class="main__title">Grid</h1>

<div class="main__overview">
    <p>This is a working demo of the CWEL Grid Guidelines. The demo shows how our flexible, precentage-based grid works and how you can use it to create a Countrywide website.</p>

    <div class="viewport">
        <p>Current viewport group: <span class="viewport__group"></span></p>
        <p>Current viewport breakpoint: <span class="viewport__breakpoint"></span></p>
    </div>

    <button class="overlay-open" ng-click="showOverlay = true" type="button">Show Overlay</button>
</div>

<section class="section">
    <h2 class="section__title">Sizes</h2>

    <div class="grid">
        <div class="grid__cell"><div class="block">12/12</div></div>
    </div>
    @for (var i = 6; i > 0; i-=2)
    {
        <div class="grid">
            @for (var ii = 0; ii < 12/i; ii++)
            {
                <div class="grid__cell grid__cell--size-@i"><div class="block">@i/12</div></div>
            }
        </div>
    }
    <div class="grid">
        @for (var i = 0; i < 12; i++)
        {
            <div class="grid__cell grid__cell--size-1"><div class="block">1/12</div></div>
        }
    </div>
</section>

<section class="section">
    <h2 class="section__title">Size combinations</h2>

    <h3 class="section__sub-title">Quarter / Three Quarters</h3>
    <div class="grid">
        <div class="grid__cell grid__cell--size-3"><div class="block">quarter</div></div>
        <div class="grid__cell grid__cell--size-9"><div class="block">three quarters</div></div>
    </div>

    <h3 class="section__sub-title">Half / Quarter / Three Twelfths</h3>
    <div class="grid">
        <div class="grid__cell grid__cell--size-6"><div class="block">half</div></div>
        <div class="grid__cell grid__cell--size-3"><div class="block">quarter</div></div>
        <div class="grid__cell grid__cell--size-1"><div class="block">twelfth</div></div>
        <div class="grid__cell grid__cell--size-1"><div class="block">twelfth</div></div>
        <div class="grid__cell grid__cell--size-1"><div class="block">twelfth</div></div>
    </div>

    <h3 class="section__sub-title">Two Thirds / Third</h3>
    <div class="grid">
        <div class="grid__cell grid__cell--size-8"><div class="block">two thirds</div></div>
        <div class="grid__cell grid__cell--size-4"><div class="block">third</div></div>
    </div>

    <h3 class="section__sub-title">Half / Three Sixths</h3>
    <div class="grid">
        <div class="grid__cell grid__cell--size-6"><div class="block">half</div></div>
        <div class="grid__cell grid__cell--size-2"><div class="block">sixth</div></div>
        <div class="grid__cell grid__cell--size-2"><div class="block">sixth</div></div>
        <div class="grid__cell grid__cell--size-2"><div class="block">sixth</div></div>
    </div>
</section>

<section class="section">
    <h2 class="section__title">Nested grids</h2>

    <div class="grid">
        <div class="grid__cell grid__cell--size-6"><div class="block">half</div></div>
        <div class="grid__cell grid__cell--size-6">
            <div class="grid">
                <div class="grid__cell">
                    <div class="block block--translucent block--cuddle block--lean">
                        <div class="grid">
                            <div class="grid__cell grid__cell--size-4"><div class="block">third</div></div>
                            <div class="grid__cell grid__cell--size-8">
                                <div class="block block--translucent block--cuddle block--lean">
                                    <div class="grid">
                                        <div class="grid__cell grid__cell--size-6"><div class="block">half</div></div>
                                        <div class="grid__cell grid__cell--size-6"><div class="block">half</div></div>
                                        <div class="grid__cell grid__cell--size-4"><div class="block block--cuddle">third</div></div>
                                        <div class="grid__cell grid__cell--size-4"><div class="block block--cuddle">third</div></div>
                                        <div class="grid__cell grid__cell--size-4"><div class="block block--cuddle">third</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <h2 class="section__title">Equal height</h2>

    <div class="grid">
        <div class="grid__cell grid__cell--size-6"><div class="block block--tall block--cuddle">tall</div></div>
        <div class="grid__cell grid__cell--size-6"><div class="block block--fill block--cuddle">fill</div></div>
    </div>
</section>

<section class="section">
    <h2 class="section__title">Horizontal alignment</h2>

    <div class="grid grid--align-left">
        <div class="grid__cell grid__cell--size-6"><div class="block">left</div></div>
    </div>

    <div class="grid grid--align-center">
        <div class="grid__cell grid__cell--size-6"><div class="block">center</div></div>
    </div>

    <div class="grid grid--align-right">
        <div class="grid__cell grid__cell--size-6"><div class="block">right</div></div>
    </div>
</section>

<section class="section">
    <h2 class="section__title">Top alignment</h2>

    <div class="grid grid--align-top">
        <div class="grid__cell grid__cell--size-4"><div class="block">top</div></div>
        <div class="grid__cell grid__cell--size-4"><div class="block block--tall"></div></div>
        <div class="grid__cell grid__cell--size-4"><div class="block">top</div></div>
    </div>
</section>

<section class="section">
    <h2 class="section__title">Middle alignment</h2>

    <div class="grid grid--align-middle">
        <div class="grid__cell grid__cell--size-4"><div class="block">middle</div></div>
        <div class="grid__cell grid__cell--size-4"><div class="block block--tall"></div></div>
        <div class="grid__cell grid__cell--size-4"><div class="block">middle</div></div>
    </div>
</section>

<section class="section">
    <h2 class="section__title">Bottom alignment</h2>

    <div class="grid grid--align-bottom">
        <div class="grid__cell grid__cell--size-4"><div class="block">bottom</div></div>
        <div class="grid__cell grid__cell--size-4"><div class="block block--tall"></div></div>
        <div class="grid__cell grid__cell--size-4"><div class="block">bottom</div></div>
    </div>
</section>

<section class="section">
    <h2 class="section__title">Independent alignment</h2>

    <div class="grid">
        <div class="grid__cell grid__cell--size-3 grid__cell--align-top"><div class="block">top</div></div>
        <div class="grid__cell grid__cell--size-3"><div class="block block--tall"></div></div>
        <div class="grid__cell grid__cell--size-3 grid__cell--align-middle"><div class="block">middle</div></div>
        <div class="grid__cell grid__cell--size-3 grid__cell--align-bottom"><div class="block">bottom</div></div>
    </div>
</section>

<section class="section">
    <h2 class="section__title">Reversed</h2>

    <div class="grid grid--reverse">
        <div class="grid__cell grid__cell--size-3"><div class="block">1</div></div>
        <div class="grid__cell grid__cell--size-3"><div class="block">2</div></div>
        <div class="grid__cell grid__cell--size-3"><div class="block">3</div></div>
        <div class="grid__cell grid__cell--size-3"><div class="block">4</div></div>
    </div>
</section>

<section class="section">
    <h2 class="section__title">Flush</h2>

    <div class="grid grid--flush">
        <div class="grid__item grid__cell--size-3"><div class="block">quarter</div></div>
        <div class="grid__item grid__cell--size-3"><div class="block">quarter</div></div>
        <div class="grid__item grid__cell--size-3"><div class="block">quarter</div></div>
        <div class="grid__item grid__cell--size-3"><div class="block">quarter</div></div>
    </div>
</section>

<div class="grid-overlay" id="grid-overlay" ng-class="{ 'grid-overlay--open': showOverlay }"  ng-click="showOverlay = false">
    <div class="grid-overlay__container">
        <div class="grid-overlay__grid">
            @for (var i = 0; i < 12; i++)
            {
                <div class="grid-overlay__grid-cell">
                    <div class="grid-overlay__block"></div>
                </div>
            }
        </div>
    </div>

    <button class="grid-overlay__close" ng-click="showOverlay = false" type="button">Close Overlay</button>
</div>
