
@{
    Layout = "~/Views/Shared/_SandboxLayout.cshtml";
}

@section styles
{
    <link href="~/Assets/css/sandbox/grid/style.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Assets/js/sandbox/grid/script.js"></script>
}

<h2>index</h2>
