<div class="cwel-card-slider" data-cwel-card-slider data-start-index="0" data-count="5">
    <ul class="cwel-card-slider__items" style="transform: translateX(-{{ currentIndex * 100 }}%);">
          <li class="cwel-card-slider__item">
              <!-- card component goes here -->
          </li>
    </ul>
    <div class="cwel-card-slider__controls">
        <button class="cwel-card-slider__control cwel-card-slider__control--previous" ng-click="previous()" ng-disabled="currentIndex <= 0">
            <!-- Icon Small -->
            <!-- Icon Large -->
        </button>
        <button class="cwel-card-slider__control cwel-card-slider__control--next" ng-click="next()" ng-disabled="currentIndex >= maxIndex()">
            <!-- Icon Small -->
            <!-- Icon Large -->
        </button>
    </div>
</div>
