$block-background: #671d5a;

.block {
    min-height: 50px;
    padding: $s_xs;
    padding-right: $s_xs;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.8);
    text-overflow: ellipsis;
    background-color: $block-background;

    @include breakpoint('sm') {
        padding: $s_xs;
        padding-right: $s_xs;
    }

    @include breakpoint('md') {
        padding: $s_sm;
        padding-right: $s_sm;
    }
}

.block--fill {
    position: relative;
    height: 100%;
}

.block--tall {
    position: relative;
    min-height: 150px;
}

.block--translucent {
    background-color: transparentize($block-background, 0.5);
}

.block--lean {
    padding: 0;

    @each $key in map-keys($breakpoints) {
        @include breakpoint($key) {
            padding: 0;
        }
    }
}

.block--claustrophobic {
    margin-bottom: $grid_g_xs;

    @each $key in map-keys($breakpoints) {
        $breakpoint: map-get($breakpoints, $key);
        $gutter: map-get($grid, 'gutter-#{$key}');

        @include breakpoint($key) {
            margin-bottom: $gutter;
        }
    }
}
