
@mixin viewport-breakpoint {
    &::after {
        content: '0px';
    }
    @each $device-size in map-keys($breakpoints) {
        $breakpoint: map-get($breakpoints, $device-size);
        @media (min-width: $breakpoint) {
            &::after {
                content: '#{$breakpoint}';
            }
        }
    }
}

@mixin viewport-group {
    &::after {
        content: 'xs';
    }
    @each $device-size in map-keys($breakpoints) {
        $breakpoint: map-get($breakpoints, $device-size);
        @media (min-width: $breakpoint) {
            &::after {
                content: '#{$device-size}';
            }
        }
    }
}
