@using Cwel.Web
@model {{ name | pascalize }}ViewModel

@{
    Html.RequireScript(AssetType.Component, "{{ name | pascalize }}");
}

<div class="cwel-{{ name | kebabize }}">
    <h1 class="cwel-{{ name | kebabize }}__title">Greeting</h1>
    <p class="cwel-{{ name | kebabize }}__text">Hello World</p>
</div>
