/**************************
 * FONTS
 *************************/
/**************************
 * SPACES
 *************************/
/**************************
 * BREAKPOINTS
 *************************/
/**************************
 * CONTAINER
 *************************/
/**************************
 * GRID
 *************************/
/*************************************
 * Grid Utilities
 ************************************/
/*************************************
 * Grid Cell Utilities
 ************************************/
/*************************************
 * Grid Classes
 ************************************/
/**************************
 * WEB FONTS
 *************************/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,700,700i");
/**************************
 * GLOBAL
 *************************/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 54.6875%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }
  @media (min-width: 25em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 37.5em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 62.75em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 80em) {
    html {
      font-size: 70.3125%; } }

body,
html {
  min-height: 100%; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; }

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

button,
select {
  text-transform: none; }

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none; }

template {
  display: none; }

[hidden] {
  display: none; }

body {
  font-size: 1.6rem; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

ol {
  list-style: none;
  counter-reset: item; }
  ol li {
    position: relative;
    padding-left: 2rem; }
  ol li::before {
    content: counter(item) ". ";
    position: absolute;
    left: 0;
    display: inline-block;
    counter-increment: item; }

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline double;
     -moz-text-decoration: underline double;
          text-decoration: underline double;
  border-bottom: none; }

pre {
  font-family: monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  color: #000;
  background-color: #ff0; }

/**************************
 * STATES
 *************************/
b,
strong {
  font-weight: bolder; }

small {
  font-size: 0.8em; }

/**************************
 * NON-TEXTUAL ELEMENTS
 *************************/
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: visible;
  border: none;
  border-top: 1px solid #999; }

.container {
  display: block;
  width: 100%;
  margin: auto;
  padding-right: 0.91429rem;
  padding-left: 0.91429rem; }
  @media (min-width: 25em) {
    .container {
      padding-right: 0.8rem;
      padding-left: 0.8rem; } }
  @media (min-width: 37.5em) {
    .container {
      padding-right: 1.2rem;
      padding-left: 1.2rem; } }
  @media (min-width: 62.75em) {
    .container {
      max-width: 100.4rem;
      padding-right: 1.2rem;
      padding-left: 1.2rem; } }
  @media (min-width: 80em) {
    .container {
      max-width: 113.77778rem;
      padding-right: 1.06667rem;
      padding-left: 1.06667rem; } }

.container--fluid {
  display: block;
  max-width: none;
  margin: auto;
  padding-right: 0.91429rem;
  padding-left: 0.91429rem; }
  @media (min-width: 25em) {
    .container--fluid {
      padding-right: 0.8rem;
      padding-left: 0.8rem; } }
  @media (min-width: 37.5em) {
    .container--fluid {
      padding-right: 1.2rem;
      padding-left: 1.2rem; } }
  @media (min-width: 62.75em) {
    .container--fluid {
      padding-right: 1.2rem;
      padding-left: 1.2rem; } }
  @media (min-width: 80em) {
    .container--fluid {
      padding-right: 1.06667rem;
      padding-left: 1.06667rem; } }

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -0.91429rem; }
  @media (min-width: 25em) {
    .grid {
      margin-left: -0.8rem; } }
  @media (min-width: 37.5em) {
    .grid {
      margin-left: -1.6rem; } }
  @media (min-width: 62.75em) {
    .grid {
      margin-left: -1.6rem; } }
  @media (min-width: 80em) {
    .grid {
      margin-left: -1.42222rem; } }

.grid--align-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.grid--align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.grid--align-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.grid--align-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.grid--align-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.grid--align-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.grid--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.grid--flush {
  margin-left: 0 !important; }
  .grid--flush .grid__cell {
    padding-left: 0 !important; }

.grid--justify-space-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.grid--justify-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.grid__cell {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-left: 0.91429rem;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%; }
  @media (min-width: 25em) {
    .grid__cell {
      padding-left: 0.8rem; } }
  @media (min-width: 37.5em) {
    .grid__cell {
      padding-left: 1.6rem; } }
  @media (min-width: 62.75em) {
    .grid__cell {
      padding-left: 1.6rem; } }
  @media (min-width: 80em) {
    .grid__cell {
      padding-left: 1.42222rem; } }

.grid__cell--align-top {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

.grid__cell--align-middle {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.grid__cell--align-bottom {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.grid__cell--size-1 {
  -webkit-flex-basis: 8.33333%;
      -ms-flex-preferred-size: 8.33333%;
          flex-basis: 8.33333%;
  max-width: 8.33333%; }

.grid__cell--size-2 {
  -webkit-flex-basis: 16.66667%;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%;
  max-width: 16.66667%; }

.grid__cell--size-3 {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%; }

.grid__cell--size-4 {
  -webkit-flex-basis: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%;
  max-width: 33.33333%; }

.grid__cell--size-5 {
  -webkit-flex-basis: 41.66667%;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%;
  max-width: 41.66667%; }

.grid__cell--size-6 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%; }

.grid__cell--size-7 {
  -webkit-flex-basis: 58.33333%;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%;
  max-width: 58.33333%; }

.grid__cell--size-8 {
  -webkit-flex-basis: 66.66667%;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%;
  max-width: 66.66667%; }

.grid__cell--size-9 {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  max-width: 75%; }

.grid__cell--size-10 {
  -webkit-flex-basis: 83.33333%;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%;
  max-width: 83.33333%; }

.grid__cell--size-11 {
  -webkit-flex-basis: 91.66667%;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%;
  max-width: 91.66667%; }

.grid__cell--size-12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%; }

@media (min-width: 25em) {
  .grid__cell--size-1-s {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%; } }

@media (min-width: 37.5em) {
  .grid__cell--size-1-m {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%; } }

@media (min-width: 62.75em) {
  .grid__cell--size-1-l {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%; } }

@media (min-width: 80em) {
  .grid__cell--size-1-xl {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%; } }

@media (min-width: 25em) {
  .grid__cell--size-2-s {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%; } }

@media (min-width: 37.5em) {
  .grid__cell--size-2-m {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%; } }

@media (min-width: 62.75em) {
  .grid__cell--size-2-l {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%; } }

@media (min-width: 80em) {
  .grid__cell--size-2-xl {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%; } }

@media (min-width: 25em) {
  .grid__cell--size-3-s {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; } }

@media (min-width: 37.5em) {
  .grid__cell--size-3-m {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; } }

@media (min-width: 62.75em) {
  .grid__cell--size-3-l {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; } }

@media (min-width: 80em) {
  .grid__cell--size-3-xl {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; } }

@media (min-width: 25em) {
  .grid__cell--size-4-s {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%; } }

@media (min-width: 37.5em) {
  .grid__cell--size-4-m {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%; } }

@media (min-width: 62.75em) {
  .grid__cell--size-4-l {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%; } }

@media (min-width: 80em) {
  .grid__cell--size-4-xl {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%; } }

@media (min-width: 25em) {
  .grid__cell--size-5-s {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%; } }

@media (min-width: 37.5em) {
  .grid__cell--size-5-m {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%; } }

@media (min-width: 62.75em) {
  .grid__cell--size-5-l {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%; } }

@media (min-width: 80em) {
  .grid__cell--size-5-xl {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%; } }

@media (min-width: 25em) {
  .grid__cell--size-6-s {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; } }

@media (min-width: 37.5em) {
  .grid__cell--size-6-m {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; } }

@media (min-width: 62.75em) {
  .grid__cell--size-6-l {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; } }

@media (min-width: 80em) {
  .grid__cell--size-6-xl {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; } }

@media (min-width: 25em) {
  .grid__cell--size-7-s {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%; } }

@media (min-width: 37.5em) {
  .grid__cell--size-7-m {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%; } }

@media (min-width: 62.75em) {
  .grid__cell--size-7-l {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%; } }

@media (min-width: 80em) {
  .grid__cell--size-7-xl {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%; } }

@media (min-width: 25em) {
  .grid__cell--size-8-s {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%; } }

@media (min-width: 37.5em) {
  .grid__cell--size-8-m {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%; } }

@media (min-width: 62.75em) {
  .grid__cell--size-8-l {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%; } }

@media (min-width: 80em) {
  .grid__cell--size-8-xl {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%; } }

@media (min-width: 25em) {
  .grid__cell--size-9-s {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%; } }

@media (min-width: 37.5em) {
  .grid__cell--size-9-m {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%; } }

@media (min-width: 62.75em) {
  .grid__cell--size-9-l {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%; } }

@media (min-width: 80em) {
  .grid__cell--size-9-xl {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%; } }

@media (min-width: 25em) {
  .grid__cell--size-10-s {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%; } }

@media (min-width: 37.5em) {
  .grid__cell--size-10-m {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%; } }

@media (min-width: 62.75em) {
  .grid__cell--size-10-l {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%; } }

@media (min-width: 80em) {
  .grid__cell--size-10-xl {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%; } }

@media (min-width: 25em) {
  .grid__cell--size-11-s {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%; } }

@media (min-width: 37.5em) {
  .grid__cell--size-11-m {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%; } }

@media (min-width: 62.75em) {
  .grid__cell--size-11-l {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%; } }

@media (min-width: 80em) {
  .grid__cell--size-11-xl {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%; } }

@media (min-width: 25em) {
  .grid__cell--size-12-s {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; } }

@media (min-width: 37.5em) {
  .grid__cell--size-12-m {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; } }

@media (min-width: 62.75em) {
  .grid__cell--size-12-l {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; } }

@media (min-width: 80em) {
  .grid__cell--size-12-xl {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; } }

/* stylelint-disable */
.cwel-card {
  padding: 3.2rem;
  background-color: white;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1); }
  .cwel-card-slider .cwel-card {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: none;
            box-shadow: none; }

.cwel-card-slider {
  position: relative;
  display: block;
  padding-top: 6.4rem;
  padding-right: 1.6rem;
  padding-bottom: 6.4rem;
  padding-left: 1.6rem;
  overflow: hidden;
  text-align: center; }
  @media (min-width: 80em) {
    .cwel-card-slider {
      padding-top: 0;
      padding-right: 6.4rem;
      padding-left: 0; } }

.cwel-card-slider__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin-top: 0;
  margin-bottom: 6.4rem;
  margin-left: 1.6rem;
  padding: 0;
  text-align: left;
  list-style: none;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }
  @media (min-width: 80em) {
    .cwel-card-slider__items {
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 6.4rem;
      padding-top: 6.4rem; } }

.cwel-card-slider__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  padding-right: 1.6rem;
  background-color: #fff; }
  @media (min-width: 37.5em) {
    .cwel-card-slider__item {
      -webkit-flex-basis: 33.33333%;
          -ms-flex-preferred-size: 33.33333%;
              flex-basis: 33.33333%;
      max-width: 33.33333%; } }
  @media (min-width: 80em) {
    .cwel-card-slider__item {
      padding-right: 3.2rem; }
      .cwel-card-slider__item:nth-child(3n) {
        padding-right: 6.4rem; }
      .cwel-card-slider__item:nth-child(3n+1) {
        padding-left: 6.4rem; } }

.cwel-card-slider__controls {
  display: inline-block;
  background-color: #fff;
  -webkit-box-shadow: 0 1.6rem 3.2rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1.6rem 3.2rem 0 rgba(0, 0, 0, 0.1);
  border: 0.06rem solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 1.5rem;
          border-radius: 1.5rem; }
  .cwel-card-slider__controls::after {
    content: '';
    display: table;
    clear: both; }
  @media (min-width: 80em) {
    .cwel-card-slider__controls {
      -webkit-box-shadow: none;
              box-shadow: none; } }

.cwel-card-slider__control {
  float: left;
  width: 6rem;
  height: 2.4rem;
  padding: 0.8rem;
  line-height: 1;
  background-color: transparent;
  outline: none;
  border: none;
  border-left: 0.06rem solid rgba(0, 0, 0, 0.1); }
  .cwel-card-slider__control:disabled {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    opacity: 0.4; }
  @media (min-width: 80em) {
    .cwel-card-slider__control {
      position: absolute;
      top: 50%;
      right: 1.6rem;
      z-index: 2;
      float: none;
      margin-top: -1.2rem;
      border: none;
      -webkit-transform: scaleX(-1);
          -ms-transform: scaleX(-1);
              transform: scaleX(-1); } }

.cwel-card-slider__control--previous {
  border-left: none;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1); }
  @media (min-width: 80em) {
    .cwel-card-slider__control--previous {
      left: 1.6rem;
      -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
              transform: scaleX(1); } }

.cwel-card-slider__small-arrow {
  display: block; }
  @media (min-width: 80em) {
    .cwel-card-slider__small-arrow {
      display: none; } }

.cwel-card-slider__large-arrow {
  display: none; }
  @media (min-width: 80em) {
    .cwel-card-slider__large-arrow {
      display: block; } }

html,
body {
  height: 100%;
  color: #393f57;
  background: #f5f7fa; }

body {
  font-weight: 300;
  line-height: 1.4; }

.docs {
  position: relative;
  margin-left: 0;
  background: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

@media (min-width: 37.5em) {
  .docs--side-nav {
    margin-left: 20rem; } }

.container--docs {
  height: 100%;
  margin-bottom: 5rem;
  padding-right: 4rem;
  padding-left: 4rem; }

.side-bar {
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20rem;
  height: 100%;
  overflow-y: scroll;
  background: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(-20rem);
      -ms-transform: translateX(-20rem);
          transform: translateX(-20rem); }

.side-bar__top-container,
.side-bar__bottom-container {
  width: 100%; }

.side-bar--active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.side-bar__links {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.side-bar__logo {
  display: block;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: #724097;
  font-size: 1.8rem;
  line-height: 1.1;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  white-space: no-wrap; }
  .side-bar__logo span {
    font-weight: 600; }

.side-bar__search-container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }
  .side-bar__search-container .side-bar__search-input {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-size: 1.4rem;
    background: #f5f7fa;
    border: none;
    -webkit-border-radius: 5rem;
            border-radius: 5rem; }

.main-nav,
.main-nav__list {
  width: 100%;
  font-size: 1.4rem;
  list-style: none; }

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 0; }

.main-nav__item-heading {
  position: relative;
  display: block;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-left: 2rem;
  color: #724097;
  text-decoration: none;
  cursor: pointer; }

.main-nav__item-icon {
  position: absolute;
  right: 2rem;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg); }
  .main-nav__item-icon svg {
    height: 0.8rem; }
  .main-nav__item-icon svg path,
  .main-nav__item-icon svg line {
    stroke: #724097;
    fill: none; }

.heading__icon--open {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg); }

.main-nav__list {
  max-height: 0;
  padding-left: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  -o-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out; }

.main-nav__list--open {
  max-height: 150rem;
  -webkit-transition: max-height 0.5s ease-in;
  -o-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in; }

.main-nav__list-item-link {
  display: inline-block;
  width: 100%;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  color: #393f57;
  text-decoration: none; }
  .main-nav__list-item-link:hover, .main-nav__list-item-link:focus {
    color: #724097;
    border-left-width: 6px;
    border-left-style: solid;
    border-left-color: #724097; }

.side-nav__toggle-btn {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 3rem;
  background: #ffffff;
  border: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  cursor: pointer; }
  .side-nav__toggle-btn:hover {
    background: #f5f7fa; }

.side-nav__toggle-btn--active {
  -webkit-transform: translateX(20rem);
      -ms-transform: translateX(20rem);
          transform: translateX(20rem); }

.line {
  width: 1.8rem;
  height: 0.2rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  background: #724097; }

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5rem;
  min-width: 14.66rem;
  margin-bottom: 1.68rem;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  color: #724097;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-color: #724097;
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  cursor: pointer; }
  .button:hover, .button:focus {
    color: #ffffff;
    background: #724097;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .button:hover .button__icon svg path,
    .button:hover .button__icon svg line, .button:focus .button__icon svg path,
    .button:focus .button__icon svg line {
      stroke: #ffffff;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }

.button--icon {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.button__icon {
  height: 1.4rem;
  padding-left: 0.75rem; }
  .button__icon svg {
    height: 1.2rem; }
  .button__icon svg path,
  .button__icon svg line {
    stroke: #724097;
    fill: none; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 16rem;
  font-size: 1.4rem;
  background: #f5f7fa; }
  @media (min-width: 62.75em) {
    .footer {
      -webkit-box-orient: unset;
      -webkit-box-direction: unset;
      -webkit-flex-direction: unset;
          -ms-flex-direction: unset;
              flex-direction: unset; } }

.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 3rem;
  padding-right: 4rem;
  padding-bottom: 3rem;
  padding-left: 4rem; }

.footer__content-text {
  margin-top: 0.5rem;
  margin-bottom: 0; }
  .footer__content-text:last-of-type {
    margin-top: 2rem; }

.footer__brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 4rem;
  padding-bottom: 3rem;
  padding-left: 4rem; }
  @media (min-width: 62.75em) {
    .footer__brand {
      padding-left: 0; } }

.footer__brand-logo {
  width: 16rem;
  margin-bottom: 2rem; }
  @media (min-width: 62.75em) {
    .footer__brand-logo {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end; } }
  .footer__brand-logo svg path {
    fill: #393f57;
    stroke: none; }

.footer__brand-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.brand-social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2.5rem;
  color: #393f57;
  text-decoration: none; }
  @media (min-width: 62.75em) {
    .brand-social__link {
      margin-right: 0;
      margin-left: 2.5rem; } }
  .brand-social__link:hover, .brand-social__link:focus {
    color: #724097; }
    .brand-social__link:hover svg path, .brand-social__link:focus svg path {
      fill: #724097; }

.brand-social__link-icon {
  margin-right: 1rem; }
  .brand-social__link-icon svg {
    width: 1.4rem;
    height: 1.4rem; }
  .brand-social__link-icon svg path {
    fill: #393f57;
    stroke: none; }

.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50rem;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#2260a0), color-stop(#1d4b79), to(#162f45));
  background: -webkit-linear-gradient(left, #2260a0, #1d4b79, #162f45);
  background: -o-linear-gradient(left, #2260a0, #1d4b79, #162f45);
  background: linear-gradient(to right, #2260a0, #1d4b79, #162f45);
  -webkit-perspective: 100px;
          perspective: 100px;
  -webkit-transition: -webkit-background-size 6s ease;
  transition: -webkit-background-size 6s ease;
  -o-transition: background-size 6s ease;
  transition: background-size 6s ease;
  transition: background-size 6s ease, -webkit-background-size 6s ease; }

.hero__background,
.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.hero__background {
  width: 100%;
  height: 100%;
  background: url("shared/asset/img/hero-background.svg") no-repeat center; }

.hero__title {
  color: #ffffff;
  font-size: 20rem;
  font-weight: 600;
  opacity: 0.1; }

.hero__heading {
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 1rem;
  text-align: center;
  text-transform: uppercase; }
  .hero__heading span {
    display: block;
    font-weight: 600; }

.hero__button {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .hero__button .button {
    color: #ffffff;
    border-color: #ffffff; }
    .hero__button .button:hover, .hero__button .button:focus {
      color: #724097;
      background: #ffffff; }

.overview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -0.91429rem; }
  @media (min-width: 25em) {
    .overview {
      margin-left: -0.8rem; } }
  @media (min-width: 37.5em) {
    .overview {
      margin-left: -1.6rem; } }
  @media (min-width: 62.75em) {
    .overview {
      margin-left: -1.6rem; } }
  @media (min-width: 80em) {
    .overview {
      margin-left: -1.42222rem; } }

.overview__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 25rem;
  text-decoration: none;
  border-bottom: 0.3rem solid #f5f7fa;
  border-left: 0.3rem solid #f5f7fa;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
  padding-left: 0.91429rem; }
  @media (min-width: 25em) {
    .overview__item {
      padding-left: 0.8rem; } }
  @media (min-width: 37.5em) {
    .overview__item {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      max-width: 100%;
      padding-left: 1.6rem; } }
  @media (min-width: 62.75em) {
    .overview__item {
      -webkit-flex-basis: 50%;
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%;
      max-width: 50%;
      padding-left: 1.6rem; } }
  @media (min-width: 80em) {
    .overview__item {
      padding-left: 1.42222rem; } }
  @media (min-width: 62.75em) {
    .overview__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .overview__item:nth-child(odd) {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.overview__item-title {
  display: block;
  color: #724097;
  text-transform: uppercase; }

.overview__item-icon {
  width: 20rem;
  margin-top: 5rem;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  text-align: center; }
  @media (min-width: 62.75em) {
    .overview__item-icon {
      margin-top: 0;
      margin-left: 2.5rem; } }
  .overview__item-icon svg {
    width: 12rem;
    height: 6rem; }
  .overview__item-icon svg path,
  .overview__item-icon svg line,
  .overview__item-icon svg rect,
  .overview__item-icon svg circle {
    stroke: #724097;
    fill: none; }

.overview__item-content {
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #393f57;
  text-align: center; }
  @media (min-width: 37.5em) {
    .overview__item-content {
      width: 30rem; } }
  @media (min-width: 62.75em) {
    .overview__item-content {
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start;
      width: 40rem;
      margin-top: 5rem;
      margin-right: 5rem;
      margin-bottom: 4rem;
      margin-left: 0;
      text-align: left; } }

.heading {
  position: relative;
  height: 24rem;
  margin-bottom: 5rem;
  background: #f5f7fa;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #724097; }

.heading__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }

.heading__content-title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1; }
  @media (min-width: 62.75em) {
    .heading__content-title {
      font-size: 7rem; } }

.heading__content-parent {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  text-transform: capitalize; }

.heading__tabs {
  position: absolute;
  bottom: 0.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

.tabs-item {
  padding-right: 4rem;
  padding-bottom: 1.1rem;
  padding-left: 0; }

.tabs-item--inactive {
  display: none; }

.tabs-item__link {
  padding-bottom: 1rem;
  color: #393f57;
  text-decoration: none;
  cursor: pointer; }

.tabs-item__link.active,
.tabs-item__link:hover,
.tabs-item__link:focus {
  color: #724097;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #724097; }

.table {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  background-color: #ffffff;
  border-collapse: collapse; }
  @media (min-width: 62.75em) {
    .table {
      width: 80%; } }

.table thead {
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  border-bottom-color: #724097; }

.table tbody tr {
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  border-bottom-color: #f5f7fa; }

.table th {
  text-align: left; }

.table th,
.table td {
  padding-top: 1.68rem;
  padding-right: 1.68rem;
  padding-bottom: 1.68rem; }

code {
  padding-right: 1rem;
  padding-left: 1rem;
  background: #f5f7fa; }

pre {
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: 'Poppins', sans-serif;
  border-width: 2px;
  border-style: solid;
  border-color: #f5f7fa;
  border-left-width: 3rem; }
  pre code {
    padding: 0;
    background: none; }

code[class*='language-'],
pre[class*='language-'] {
  color: #393a34;
  line-height: 1.2rem;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none; }

pre[class*='language-']::-moz-selection,
code[class*='language-']::-moz-selection {
  background: #c1def1; }

pre[class*='language-']::selection,
code[class*='language-']::selection {
  background: #c1def1; }

pre[class*='language-'] {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  overflow: auto;
  background: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-color: #dddddd; }

:not(pre) > code[class*='language-'] {
  padding: 0.2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background: #f8f8f8;
  border-width: 2px;
  border-style: solid;
  border-color: #dddddd; }

.language-plain {
  color: #393f57; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #008000;
  font-style: italic; }

.token.namespace {
  opacity: 0.7; }

.token.string {
  color: #a31515; }

.token.punctuation,
.token.operator {
  color: #393a34; }

.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.inserted {
  color: #36acaa; }

.token.atrule,
.token.keyword,
.token.attr-value,
.language-autohotkey .token.selector,
.language-json .token.boolean,
.language-json .token.number,
code[class*='language-css'] {
  color: #8c54b6; }

.token.function {
  color: #393a34; }

.token.deleted,
.language-autohotkey .token.tag {
  color: #9a050f; }

.token.selector,
.language-autohotkey .token.keyword {
  color: #00009f; }

.token.important,
.token.bold {
  font-weight: 600; }

.token.italic {
  font-style: italic; }

.token.class-name,
.language-json .token.property {
  color: #2b91af; }

.token.tag,
.token.selector {
  color: #800000; }

.token.attr-name,
.token.property,
.token.regex,
.token.entity {
  color: #ff0000; }

.token.directive.tag .tag {
  color: #393a34;
  background: #ffff00; }

a {
  color: #724097; }
  a:hover, a:focus {
    color: #724097; }

.h2 {
  margin-top: 8rem;
  margin-bottom: 4rem; }

.h1 .h1__text {
  display: inline-block;
  padding-top: 1rem;
  font-weight: 500;
  border-top-width: 0.4rem;
  border-top-style: solid;
  border-top-color: #724097; }

.h2 .h2__text {
  display: inline-block;
  padding-top: 1rem;
  font-weight: 300;
  border-top-width: 0.4rem;
  border-top-style: solid;
  border-top-color: #724097; }

.block {
  min-height: 50px;
  padding: 0.8rem;
  padding-right: 0.8rem;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  background-color: #724097; }
  @media (min-width: 25em) {
    .block {
      padding: 0.8rem;
      padding-right: 0.8rem; } }
  @media (min-width: 37.5em) {
    .block {
      padding: 1.6rem;
      padding-right: 1.6rem; } }
  .block code {
    padding: 0;
    background: none; }

.block--fill {
  position: relative;
  height: 100%; }

.block--tall {
  position: relative;
  min-height: 150px; }

.block--translucent {
  background-color: rgba(114, 64, 151, 0.5); }

.block--lean {
  padding: 0; }
  @media (min-width: 25em) {
    .block--lean {
      padding: 0; } }
  @media (min-width: 37.5em) {
    .block--lean {
      padding: 0; } }
  @media (min-width: 62.75em) {
    .block--lean {
      padding: 0; } }
  @media (min-width: 80em) {
    .block--lean {
      padding: 0; } }

.block--claustrophobic {
  margin-bottom: 0.91429rem; }
  @media (min-width: 25em) {
    .block--claustrophobic {
      margin-bottom: 0.8rem; } }
  @media (min-width: 37.5em) {
    .block--claustrophobic {
      margin-bottom: 1.6rem; } }
  @media (min-width: 62.75em) {
    .block--claustrophobic {
      margin-bottom: 1.6rem; } }
  @media (min-width: 80em) {
    .block--claustrophobic {
      margin-bottom: 1.42222rem; } }

.spacer-xxs {
  width: 0.4rem;
  height: 0.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 2px;
  border-style: solid;
  background: rgba(255, 0, 187, 0.2);
  border-color: #ff00bb; }

.spacer-xs {
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 2px;
  border-style: solid;
  background: rgba(0, 0, 0, 0.2);
  border-color: black; }

.spacer-s {
  width: 1.6rem;
  height: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 2px;
  border-style: solid;
  background: rgba(170, 141, 72, 0.2);
  border-color: #aa8d48; }

.spacer-m {
  width: 3.2rem;
  height: 3.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 2px;
  border-style: solid;
  background: rgba(0, 211, 255, 0.2);
  border-color: #00d3ff; }

.spacer-l {
  width: 6.4rem;
  height: 6.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 2px;
  border-style: solid;
  background: rgba(0, 255, 136, 0.2);
  border-color: #00ff88; }

.spacer-xl {
  width: 12.8rem;
  height: 12.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 2px;
  border-style: solid;
  background: rgba(255, 0, 187, 0.2);
  border-color: #ff00bb; }

.docs-example {
  position: relative; }

.docs-example__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none; }

.docs-example__tab {
  color: #724097;
  border: 0.16rem solid #f5f7fa;
  border-right-width: 0;
  border-bottom: none;
  cursor: pointer; }
  .docs-example__tab:last-child {
    border-right-width: 0.16rem; }

.docs-example__tab-link {
  display: block;
  padding: 0.8rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem; }
  .docs-example__tab-link:hover, .docs-example__tab-link--active {
    background-color: #f5f7fa; }

.docs-example__panels {
  position: relative;
  height: 25rem; }
  .docs-example__panels--expanded {
    height: auto; }

.docs-example__panel {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 25rem;
  margin: 0;
  resize: none; }

.docs-example__code-pen {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 4rem; }

.docs-example__code-pen-submit {
  font-size: 1.3rem;
  background: none;
  border: none;
  cursor: pointer; }

.docs-example__code-pen-icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: #724097; }

.docs-example__expand {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.3rem;
  background: none;
  border: 0.16rem solid #f5f7fa;
  border-top: none;
  cursor: pointer; }
  .docs-example__expand--disabled {
    opacity: 0.6;
    cursor: default; }

/*# sourceMappingURL=main.css.map */
