
.cssst-nugget {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: $SPACE-S;
    background-color: $white;
    border: 1px solid $color-core-2; // stylelint-disable-line declaration-property-unit-blacklist
    animation: anim-zoom-bounce-out 0.75s;

    &:focus,
    &:hover {
        z-index: 1;
        border-color: $color-secondary-1;
        transform: scale(1.25);
        animation: anim-zoom-bounce-in 0.75s;
    }

}

.cssst-nugget__key {
    flex-grow: 1;
    margin-bottom: $SPACE-XXS;
}

.cssst-nugget__value {
    font-size: 5rem;
    font-weight: 700;
}

$checkerboard-color: #f8f8f8;

.cssst-nugget__color { // Give colors a checkerboard background pattern so that 'transparent' colors don't just look white
    background-color: $white;
    background-image: linear-gradient(45deg, $checkerboard-color 25%, transparent 25%, transparent 75%, $checkerboard-color 75%),
        linear-gradient(45deg, $checkerboard-color 25%, transparent 25%, transparent 75%, $checkerboard-color 75%);
    background-position: 0 0, $SPACE-S $SPACE-S;
    background-size: $SPACE-M $SPACE-M;
    border: 1px solid $color-core-2; // stylelint-disable-line declaration-property-unit-blacklist
}
