
// Tables

table p {
    margin: 0 0 ($vertical-rhythm / 3);
}

@include respond-to('small') {
    table,
    tbody,
    tr,
    td,
    th {
        display: block;
    }

    thead {
        @include visually-hidden($extend: false);
    }

    tr {
        margin-bottom: 1em; // stylelint-disable-line declaration-property-unit-blacklist, unit-whitelist
        padding-bottom: 1em; // stylelint-disable-line declaration-property-unit-blacklist, unit-whitelist
        border-bottom: 2px solid $sd-medium-grey; // stylelint-disable-line declaration-property-unit-blacklist
    }

    td,
    th {
        &::before {
            content: attr(data-label) ': ';
            font-weight: 700;
            text-transform: capitalize;
        }

        p {
            display: inline;
        }
    }
}
