.list-unstyled {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    line-height: 1.5;
    list-style: none;
}

.list-inline li {
    @include inline-block;
}

.visually-hidden {
    @include visually-hidden;
}

.relative {
    position: relative;
}

.clear {
    clear: both;
}
