@import 'Cwel/Style/main';
@import '../block';
@import '../divider';
@import '../viewport';

/* stylelint-disable */

@import url('https://fonts.googleapis.com/css?family=Poppins');

.section--typography * {
    font-family: 'Poppins';
    line-height: 1.4;
    letter-spacing: 0.01em;
}
