@using Cwo.Core.Web.HtmlExtensions
@model Cwo.Core.PatternViewModels.CardSlider.CardSliderPatternViewModel

@{
    Html.RequireScript(AssetType.Pattern, "CardSlider");
}

<div class="cwel-card-slider" data-cwel-card-slider data-start-index="@Model.StartIndex" data-count="@Model.Cards.Count">
    <ul class="cwel-card-slider__items" style="transform: translateX(-{{ currentIndex * 100 }}%);">
        @for (var i = 0; i < Model.Cards.Count; i++)
        {
            var card = Model.Cards[i];

            <li class="cwel-card-slider__item">
            @Html.Component("card", card)
            </li>
        }
    </ul>
    <div class="cwel-card-slider__controls">
        <button class="cwel-card-slider__control cwel-card-slider__control--previous" ng-click="previous()" ng-disabled="currentIndex <= 0"></button>
        <button class="cwel-card-slider__control cwel-card-slider__control--next" ng-click="next()" ng-disabled="currentIndex >= maxIndex()"></button>
    </div>
</div>
