@{
    Layout = "~/Views/Shared/_SandboxLayout.cshtml";
    ViewBag.Controller = "spacers";
    ViewBag.FullWidth = true;
}

@section styles
{
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="~/Assets/css/sandbox/spacers/style.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Assets/js/sandbox/spacers/script.js"></script>
}

<div class="container">
    <h1 class="main__title">Rem Units</h1>

    <div class="main__overview">
        <p>This is a work in progress of the CWEL spacers.</p>

        <div class="viewport">
            <p>Current viewport group: <span class="viewport__group"></span></p>
            <p>Current viewport breakpoint: <span class="viewport__breakpoint"></span></p>
        </div>
    </div>

    <section class="section">
        <div class="spacers">
            <div class="spacer spacer--xxs"></div>
            <div class="spacer spacer--xs"></div>
            <div class="spacer spacer--s"></div>
            <div class="spacer spacer--m"></div>
            <div class="spacer spacer--l"></div>
            <div class="spacer spacer--xl"></div>
        </div>

        <div class="container-test">
            <div class="block"></div>
        </div>

        <div class="hero">
            <h2 class="hero__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        </div>

        <div class="hero hero--fixed">
            <h2 class="hero__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        </div>

        @*<div class="text-sample">
            <p class="text-sample__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>*@

        @*<div class="grid">
            <div class="grid__cell grid__cell--size-6">
                <iframe class="preview preview--smaller" src="./spacers/smaller"></iframe>
            </div>
            <div class="grid__cell grid__cell--size-6">
                <iframe class="preview preview--larger" src="./spacers/larger"></iframe>
            </div>
        </div>*@
    </section>

    @Html.CardSlider(new CardSliderViewModel {
        Cards = new List<CardViewModel> {
            new CardViewModel { Header = "Header 1", Details = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." },
            new CardViewModel { Header = "Header 2", Details = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." },
            new CardViewModel { Header = "Header 3", Details = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." },
            new CardViewModel { Header = "Header 4", Details = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." },
            new CardViewModel { Header = "Header 5", Details = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." }
        }
    })

    @*
        <section class="section">
            <h2>Poppins</h2>

            <div class="spacers">
                <div class="spacer spacer--xxs"></div>
                <div class="spacer spacer--xs"></div>
                <div class="spacer spacer--s"></div>
                <div class="spacer spacer--m"></div>
                <div class="spacer spacer--l"></div>
                <div class="spacer spacer--xl"></div>
            </div>
        </section>
    *@
</div>
