@{
    Layout = "~/Views/Shared/_SandboxLayout.cshtml";
    ViewBag.Controller = "spacers";
    ViewBag.FullWidth = true;
}

@section styles
{
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="~/Assets/css/sandbox/spacers/style.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Assets/js/sandbox/spacers/script.js"></script>
}

<div class="container">
    <h1 class="main__title">Rem Units</h1>

    <div class="main__overview">
        <p>This is a work in progress of the CWEL spacers.</p>

        <div class="viewport">
            <p>Current viewport group: <span class="viewport__group"></span></p>
            <p>Current viewport breakpoint: <span class="viewport__breakpoint"></span></p>
        </div>
    </div>

    <section class="section">
        <div class="spacers">
            <div class="spacer spacer--xxs"></div>
            <div class="spacer spacer--xs"></div>
            <div class="spacer spacer--s"></div>
            <div class="spacer spacer--m"></div>
            <div class="spacer spacer--l"></div>
            <div class="spacer spacer--xl"></div>
        </div>

        <div class="container-test">
            <div class="block"></div>
        </div>

        <div class="hero">
            <h2 class="hero__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        </div>

        <div class="hero hero--fixed">
            <h2 class="hero__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        </div>
    </section>
</div>
