<p class="main-nav__item-heading" ng-click="open=!open">
    Getting Started
    <span class="main-nav__item-icon"  ng-class="{'heading__icon--open': open }">
         {% include '../asset/img/icon/keyboard-arrow-up.svg' %}
    </span>
</p>
<ul class="main-nav__list" ng-class="{'main-nav__list--open': open }">
    <li class="main-nav__list-item">Designers</li>
    <li class="main-nav__list-item">Designers</li>
    <li class="main-nav__list-item">Designers</li>
</ul>