 @model Dictionary <string, string[]>

@{
    Layout = null;
}

<div class="docs-playground__overlay" ng-click="navSidebar=!navSidebar" ng-class="{ 'docs-playground__overlay--active': navSidebar }"></div>

<div class="nav-sidebar" ng-class="{ 'nav-sidebar--active': navSidebar }">
    <div class="nav-sidebar__title">Playground</div>
    <ul class="nav-sidebar__ul">
        <li class="nav-sidebar__li">
            <a href="/Playground" class="nav-sidebar__li-link">Editor</a>
        </li>
        <li class="nav-sidebar__li">
            <a href="/Playground/Sandbox" class="nav-sidebar__li-link">Sandbox</a>
        </li>
    </ul>
    <div class="nav-sidebar__title">Docs</div>
    <div class="nav-sidebar__search">
        <div class="nav-sidebar__search-field form-field form-field--icon-search">
            <input class="nav-sidebar__search-input form-field__input" ng-model="searchTerm" placeholder="Search" />
        </div>
    </div>
    <ul class="nav-sidebar__ul">
        @foreach (KeyValuePair<string, string[]> pair in Model)
        {
            <li class="nav-sidebar__li">
                <button type="button" ng-click="openNavList = '@pair.Key'" class="nav-sidebar__li-link">@pair.Key</button>
                <ul class="nav-sidebar__collapsible-ul" ng-class="{ 'nav-sidebar__collapsible--active': openNavList === '@pair.Key' || searchTerm }">
                    @foreach (var navItem in pair.Value)
                    {
                        <li class="nav-sidebar__collapsible-li" ng-show="showNavItem('@navItem')">
                            <a href="/page/@pair.Key/@navItem" class="nav-sidebar__collapsible-link" target="_blank">@navItem</a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>
