 @model Dictionary <string, string[]>

@{
    Layout = null;
}

<div class="docs-playground__overlay" ng-click="navSidebar=!navSidebar" ng-class="{ 'docs-playground__overlay--active': navSidebar }"></div>

<div class="nav-sidebar" ng-class="{ 'nav-sidebar--active': navSidebar }">
    <div class="nav-sidebar__title">Playground</div>
    <ul class="nav-sidebar__ul">
        <li class="nav-sidebar__li">
            <a href="/Playground" class="nav-sidebar__li-link">Editors view</a>
        </li>
        <li class="nav-sidebar__li">
            <form action="/Playground/RenderPage" method="POST" target="_blank">
                <input type="hidden" name="model" value="{{ getModel(model) }}">
                <button type="submit" class="nav-sidebar__li-link" value="Open">Presentation view</button>
            </form>
        </li>
    </ul>
    <div class="nav-sidebar__title">Docs</div>
    <div class="nav-sidebar__search">
        <div class="nav-sidebar__search-field form-field form-field--icon-search">
            <input class="nav-sidebar__search-input form-field__input" ng-model="searchTerm" placeholder="Search" />
        </div>
    </div>
    <ul class="nav-sidebar__ul">
        <li class="nav-sidebar__li">
            <button type="button" ng-click="navSidebarPatterns=!navSidebarPatterns" class="nav-sidebar__li-link">Patterns</button>
            <ul class="nav-sidebar__collapsible-ul" ng-class="{ 'nav-sidebar__collapsible--active': navSidebarPatterns || searchTerm }">
                @if (Model.ContainsKey("patterns"))
                {
                    foreach (var pattern in Model["patterns"])
                    {
                        <li class="nav-sidebar__collapsible-li" ng-show="showNavItem('@pattern')">
                            <a href="/pattern/@pattern" class="nav-sidebar__collapsible-link">@pattern</a>
                        </li>
                    }
                }
            </ul>
        </li>
         <li class="nav-sidebar__li">
            <button type="button" ng-click="navSidebarComponents=!navSidebarComponents" class="nav-sidebar__li-link">Components</button>
             <ul class="nav-sidebar__collapsible-ul" ng-class="{ 'nav-sidebar__collapsible--active': navSidebarComponents || searchTerm }">
                @if (Model.ContainsKey("components"))
                {
                    foreach (var component in Model["components"])
                    {
                        <li class="nav-sidebar__collapsible-li" ng-show="showNavItem('@component')">
                            <a href="/component/@component" class="nav-sidebar__collapsible-link">@component</a>
                        </li>
                    }
                }
             </ul>
        </li>
    </ul>
</div>
